<div class="col-md-12">
    <div class="table-responsive">
        <p-table [value]="locations" class="ecl-table purchaseorder-ptable" [scrollable]="true" [style]="{width:'100%'}"
            scrollHeight="65vh">
            <ng-template pTemplate="header">
                <tr>
                    <th>Inv Req Detial ID</th>
                    <th>Item Status</th>
                    <th>Status Date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-location>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>