<form id=addframes [formGroup]="FarmesForm" #formDir="ngForm" novalidate>
    <div class="card">
        <div class="card-header">Pricing Calculation</div>
        <div class="card-body">
            <h5>Retail Price Calculation</h5>
            <div class="row form-row">
                <div class="form-group col-md-3">
                    <label>Multiplier</label>
                    <input type="number" class="form-control" formControlName="Multiplier" (focusout)="keyPress('Multiplier')"
                        (input)="valuechange(this.FarmesForm.controls['Multiplier'].value,'Multiplier')">
                </div>
                <div class="form-group col-md-3">
                    <label>Amount</label>
                    <input type="number" class="form-control" formControlName="Amount" (focusout)="keyPress('Amount')"
                        (input)="valuechange(this.FarmesForm.controls['Amount'].value,'Amount')">
                </div>
                <div class="form-group col-md-3">
                    <label>Ends with</label>
                    <input type="number" class="form-control" formControlName="Ends" (focusout)="keyPress('Ends')"
                        (input)="valuechange(this.FarmesForm.controls['Ends'].value,'Ends')">
                </div>
                <div class="form-group col-md-3">
                    <label>Adjust Pricing</label>
                    <select class="form-control" formControlName="Round">
                        <option *ngFor="let data of RoundDropData" [ngValue]="data.id">{{data.name}}</option>
                    </select>
                </div>
            </div>

            <div class="row form-row">
                <div class="form-group col-md-3">
                    <label>Sample Cost</label>
                    <input type="number" class="form-control" formControlName="sampleCost" (focusout)="keyPress('sampleCost')"
                        (input)="valuechange(this.FarmesForm.controls['sampleCost'].value,'sampleCost')">
                </div>
                <div class="form-group col-md-3">
                    <label>Retail Price</label>
                    <input type="number" class="form-control" formControlName="retailPrice" (focusout)="keyPress('retailPrice')"
                        (input)="valuechange(this.FarmesForm.controls['retailPrice'].value,'retailPrice')">
                </div>
                <div class="form-group col-md-6">

                    <label for='' class="label-empty"></label>
                    <p-checkbox [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" binary="true" value="Adjust Pricing"
                        label="Adjust Pricing"></p-checkbox>
                </div>

            </div>

        </div>
        <div class="card-footer">
            <div class="clearfix">

                <div class="pull-right">
                    <button type="button" class="btn btn-primary float-right" (click)="oKbtnClick()">OK</button>
                </div>

            </div>
        </div>
    </div>
</form>