<!-- Frames Data Inventory Sidebar -->

<form id="lensRangeFrame" [formGroup]="FarmesLensRangeForm" #formDir="ngForm">
    <div class="card">
        <div class="card-header">Frames Lens Range</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row form-row" *ngIf="AddLensRange">
                        <div class="form-group col">                             
                            <label>Sphere Min </label>
                            <input type="text" class="form-control"  formControlName="sphere_min">
                        </div>
                        <div class="form-group col">
                            <label>Sphere Max </label>
                            <input type="text" class="form-control"  formControlName="sphere_max">
                        </div>
                        <div class="form-group col">
                            <label>Cylinder Max </label>
                            <input type="text" class="form-control"  formControlName="cylinder_max">
                        </div>
                        <div class="form-group col">
                            <label>Min PD </label>
                            <input type="text" class="form-control"  formControlName="min_pd">
                        </div>
                        <div class="form-group col">
                            <label>Max PD </label>
                            <input type="text" class="form-control"  formControlName="max_pd">
                        </div>
                        <div class="form-group col">
                            <label>Min Add </label>
                            <input type="text" class="form-control"  formControlName="min_add">
                        </div>
                        <div class="form-group col">
                            <label>Max Add </label>
                            <input type="text" class="form-control"  formControlName="max_add">
                        </div>
                        <div class="form-group col-2">
                            <label>Use Sphere Equiv</label>
                            <select   class="w-100 form-control"  formControlName="use_sphere_equivalent">
                                <option value="CombinedPower">Combined Power</option>
                                <option value="None">None</option>
                                <option value="ShrereEquiv">Shrere Equiv</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive mt-3">
                                <p-table [value]="LensRangeData" class="ecl-table ecl-ptable" (onRowSelect)="onRowSelect($event)"  [scrollable]="true"
                                    scrollHeight="55vh" selectionMode="single">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th class="text-right">Sphere Min</th>
                                            <th class="text-right">Sphere Max </th>
                                            <th class="text-right">Cylinder Max</th>
                                            <th class="text-right">Min PD</th>
                                            <th class="text-right">Max PD</th>
                                            <th class="text-right">Min Add</th>
                                            <th class="text-right">Max Add</th>
                                            <th style="width:130px;">Use Sphere Equiv</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-lensdatalist>
                                        <tr [pSelectableRow]="lensdatalist" (dblclick)="DoubleClickLensRange(lensdatalist)">
                                            <td class="text-right">{{lensdatalist.sphere_min}} </td>
                                            <td class="text-right">{{lensdatalist.sphere_max}}</td>
                                            <td class="text-right">{{lensdatalist.cylinder_max}}</td>
                                            <td class="text-right">{{lensdatalist.min_pd}}</td>
                                            <td class="text-right">{{lensdatalist.max_pd}}</td>
                                            <td class="text-right">{{lensdatalist.min_add}}</td>
                                            <td class="text-right">{{lensdatalist.max_add}}</td>
                                            <td class="text-right">{{lensdatalist.use_sphere_equivalent}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form class="form-inline float-right">
                <button type="button" class="btn btn-primary" (click)="addClick()">Add</button>
                <button type="button" class="btn btn-primary" (click)="deleteLensRange()">Delete</button>
                <button type="button" class="btn btn-primary" (click)="PostLensRange()">Save</button>
                <button type="button" class="btn btn-default" (click)="lensRangeClose()">Cancel </button>
            </form>
        </div>
    </div>
</form>