<form >
    <div class="card">
        <div class="card-header">Ordered Items List</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table [value]="" class="ecl-table" [scrollable]="true" [style]="{width:'1600px'}" scrollHeight="55vh">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Print Charges</th>
                                    <th>Eye</th>
                                    <th>Copay</th>
                                    <th>Patient</th>
                                    <th>Patient Total</th>
                                    <th>Insurance</th>
                                    <th>Item Total</th>
                                    <th>Retails</th>
                                    <th>Unit Pr</th>
                                    <th>Qty</th>
                                    <th>Tax</th>
                                    <th>Tax 2</th>
                                    <th>Disc</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-type>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="clearfix">
                <button type="button" class="btn btn-secondary float-right" (click)="onOrderItemClose()">Close </button>
                <button type="button" class="btn btn-primary float-right" >Ok </button>
            </div>
        </div>
    </div>
</form>