<div class="card">
    <div class="card-header">Activate Inventory Items</div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-12">
                <div class="table-responsive">
                    <p-table #dtreactive [columns]="cols" [(selection)]="contactactivateMultipleSelection"
                        [value]="gridlists" [scrollable]="true" scrollHeight="55vh">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <!-- <th class="check-box">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th> -->
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                            <tr>
                                <th *ngFor="let col of cols" [ngSwitch]="col.field">
                                    <input *ngSwitchCase="'id'" class="form-control" pInputText type="text"
                                        (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchitemId">
                                    <input *ngSwitchCase="'location'" class="form-control" pInputText type="text"
                                        (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchlocation">
                                    <input *ngSwitchCase="'name'" class="form-control" pInputText type="text"
                                        (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchName">
                                    <input *ngSwitchCase="'manufacturer_id'" class="form-control" pInputText type="text"
                                        (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchManufacturer">
                                    <input *ngSwitchCase="'lenscolor'" class="form-control" pInputText type="text"
                                        (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchlens">
                                    <input *ngSwitchCase="'upc_code'" class="form-control" pInputText type="text"
                                        (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchUPC">

                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-gridlists let-columns="columns">
                            <tr>
                                <td class="check-box">
                                    <p-tableCheckbox [value]="gridlists"></p-tableCheckbox>
                                </td>
                                <!-- <td *ngFor="let col of columns">
                                    {{list[col.field]}}
                                </td> -->
                                <td>{{gridlists.id}}</td>
                                <td></td>
                                <td>{{gridlists.name}}</td>
                                <td>{{gridlists.manufacturer_id}}</td>
                                <td>{{gridlists.lenscolor}}</td>
                                <td>{{gridlists.upc_code}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-primary float-right" (click)="Activate()">Activate</button>
            <button type="button" class="btn btn-default float-right" (click)="Cancel()">Cancel </button>
        </div>
    </div>
</div>