<!-- table Grid -->
<div class="content-wrapper">
    <div class="row m-0">
        <div class="col-md-12 mb-2">
            <h4>Commissionable</h4>
            <div class="row form-row">
                <div class="form-group col-md-2">
                    <p-checkbox name="Frames" value="Frames" label="Frames"></p-checkbox>
                </div>
                <div class="form-group col-md-2">
                    <p-checkbox name="Lens" value="Lens" label="Lens"></p-checkbox>
                </div>
                <div class="form-group col-md-2">
                    <p-checkbox name="Lens Treatments" value="Lens Treatments" label="Lens Treatments"></p-checkbox>
                </div>
                <div class="form-group col-md-2">
                    <p-checkbox name="Contacts" value="Contacts" label="Contacts"></p-checkbox>
                </div>
                <div class="form-group col-md-2">
                    <p-checkbox name="Other" value="Other" label="Other"></p-checkbox>
                </div>
                <div class="form-group col-md-2">
                    <p-checkbox name="Services" value="Services" label="Services"></p-checkbox>
                </div>
            </div>
        </div>
        <div class="col-md-12" *ngIf="rowData?.length <= 0">
            <div class="border mb-4">
                <p-table [columns]="cols" [value]="servicesdata" [scrollable]="true" scrollHeight="200px">

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Product Type</th>
                            <th>Structure</th>
                            <th>Commission Type</th>
                            <th>Gross Percentage</th>
                            <th>Amount</th>
                            <th>Spiff</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-car>
                        <tr>
                            <td>Contact</td>
                            <td>Test Structure</td>
                            <td>Gross Percentage</td>
                            <td>12.00</td>
                            <td>.00</td>
                            <td>111.00</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-md-12">
            <h4>Commission Details</h4>
            <div class="row form-row">
                <div class="form-group col-md-3">
                    <label>Product Type</label>
                    <input type="text" class="form-control" placeholder="Contact" readonly>
                </div>
                <div class="form-group col-md-3">
                    <label>Structure</label>
                    <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="location"></p-dropdown>
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-md-3">
                    <label>Commission Type</label>
                    <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="location"></p-dropdown>
                </div>
                <div class="form-group col-md-3">
                    <label>Spiff</label>
                    <input type="text" class="form-control" placeholder="111.00">
                </div>
                <div class="form-group col-md-3">
                    <label>Gross Percentage</label>
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="form-group col-md-3">
                    <label>Amount</label>
                    <input type="text" class="form-control" placeholder="12.00">
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-md-6">
                    <label>Last Updated</label>
                    <div class="row form-row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="23-Mar-2018 8:07 AM">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Baigani, Admin">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>