@font-face {
  font-family: 'ecl-icons';
  src:  url('fonts/ecl-icons.eot?9jap32');
  src:  url('fonts/ecl-icons.eot?9jap32#iefix') format('embedded-opentype'),
    url('fonts/ecl-icons.ttf?9jap32') format('truetype'),
    url('fonts/ecl-icons.woff?9jap32') format('woff'),
    url('fonts/ecl-icons.svg?9jap32#ecl-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ecl-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-portal:before {
  content: "\e93a";
}
.icon-mic-on:before {
  content: "\e938";
  color: #231f20;
}
.icon-mic:before {
  content: "\e941";
}
.icon-account-receivable-ageing:before {
  content: "\e937";
}
.icon-stethoscope:before {
  content: "\e932";
}
.icon-save-filter:before {
  content: "\e930";
}
.icon-reset-filter:before {
  content: "\e931";
}
.icon-tag-fill:before {
  content: "\e906";
}
.icon-company-code:before {
  content: "\e902";
}
.icon-generate-password:before {
  content: "\e903";
}
.icon-ar-ageing:before {
  content: "\e901";
}
.icon-booked-out-days:before {
  content: "\e904";
}
.icon-charge-analysis:before {
  content: "\e905";
}
.icon-claim-resolution:before {
  content: "\e933";
}
.icon-claims-processed:before {
  content: "\e934";
}
.icon-collection-rate:before {
  content: "\e935";
}
.icon-slot-utilization:before {
  content: "\e936";
}
.icon-time-to-recovery:before {
  content: "\e939";
}
.icon-print-settings:before {
  content: "\e900";
}
.icon-save-as:before {
  content: "\e92e";
}
.icon-fax:before {
  content: "\e92f";
}
.icon-rx2:before {
  content: "\e907";
}
.icon-add:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e909";
}
.icon-clicker:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e90b";
}
.icon-copy:before {
  content: "\e90c";
}
.icon-delete:before {
  content: "\e90d";
}
.icon-er:before {
  content: "\e90e";
}
.icon-insurance-Case:before {
  content: "\e90f";
}
.icon-open-case-insurance:before {
  content: "\e910";
}
.icon-pre-authorization:before {
  content: "\e911";
}
.icon-re-arrange:before {
  content: "\e912";
}
.icon-scanner:before {
  content: "\e913";
}
.icon-sort:before {
  content: "\e918";
}
.icon-edit:before {
  content: "\e919";
}
.icon-more2:before {
  content: "\e914";
}
.icon-select-all:before {
  content: "\e915";
}
.icon-delete-all:before {
  content: "\e916";
}
.icon-add-all:before {
  content: "\e917";
}
.icon-rx:before {
  content: "\e91a";
}
.icon-contact-lens:before {
  content: "\e91b";
}
.icon-frames:before {
  content: "\e91c";
}
.icon-lens:before {
  content: "\e91d";
}
.icon-maintenance:before {
  content: "\e91e";
}
.icon-order-search:before {
  content: "\e91f";
}
.icon-patient-tracker:before {
  content: "\e920";
}
.icon-user-search:before {
  content: "\e921";
}
.icon-user2:before {
  content: "\e922";
}
.icon-no-frequency:before {
  content: "\e923";
}
.icon-refresh:before {
  content: "\e924";
}
.icon-bar:before {
  content: "\e925";
}
.icon-demographics:before {
  content: "\e926";
}
.icon-growth-trends:before {
  content: "\e927";
}
.icon-operational-efficiency:before {
  content: "\e928";
}
.icon-ops-compliance:before {
  content: "\e929";
}
.icon-or-ops:before {
  content: "\e92a";
}
.icon-or-ops2:before {
  content: "\e92b";
}
.icon-practice-params:before {
  content: "\e92c";
}
.icon-throughput:before {
  content: "\e92d";
}
