<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-4 float-left navbar-title">
            <h2>Services Listing</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-8">
            <li class="nav-item">
                <a class="nav-link" (click)="addservices = true">
                    <i class="ti-plus"></i> Add
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="icon-edit"></i> Modify
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-files"></i> Duplicate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="icon-add-all"></i> Add to All</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" >
                    <i class="icon-delete-all"></i> Delete All</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" (click)="sortallinventory = true">
                    <i class="ti-exchange-vertical"></i> Sort</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="servicesAdvancedFilter= true">
                    <i class="ti-filter"></i> Advanced Filter</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-more2"></i> More</a>
                <ul class="more dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link">Sync Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="pricecalculation = true">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Deactivate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Reactivate</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!-- table Grid -->
<div class="col-md-12 mt-3" *ngIf="rowData?.length <= 0">
    <div class="border m-auto">
        <p-table #dt [value]="servicesdata" [columns]="cols" [scrollable]="true" [rows]="11" [paginator]="true" [resizableColumns]="true"
            [reorderableColumns]="true" (onRowSelect)="onRowSelect($event)" [responsive]="true" [rowExpandMode]="single" selectionMode="single"
            [style]="{width:'100%'}" scrollHeight="65vh">


            <ng-template pTemplate="header" let-columns>
                <tr>

                    <th *ngFor="let col of servicesdata" [pSortableColumn]="col.field" pReorderableColumn pResizableColumn>
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let col of servicesdata" [ngSwitch]="col.field" >
                        <input *ngSwitchCase="'ID'" id="ItemId" class="form-control" pInputText type="text">
                        <input *ngSwitchCase="'Location'" class="form-control" pInputText type="text">
                        <input *ngSwitchCase="'Code'" class="form-control" pInputText type="text">
                        <input *ngSwitchCase="'Category'" class="form-control" pInputText type="text" >
                        <input *ngSwitchCase="'Name'" class="form-control" pInputText type="text" >
                        <input *ngSwitchCase="'Retail Price'" class="form-control" pInputText type="text" >
                        <input *ngSwitchCase="'UPC'" class="form-control" pInputText type="text" >
                        <input *ngSwitchCase="'Appointment'" class="form-control" pInputText type="text" >
                        <input *ngSwitchCase="'Favorite'" class="form-control" pInputText type="text" >
                    </th>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData">

                    <td *ngFor="let col of lenstreatmentcolumns" [ngClass]="{'hidden': !col.visible}">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template> -->
        </p-table>
    </div>
</div>

<!-- Add Advanced Filter -->
<p-sidebar [(visible)]="servicesAdvancedFilter" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w40">
    <app-inventory-services-advancedfilter> </app-inventory-services-advancedfilter>
</p-sidebar>

<!-- Add Services -->
<p-sidebar [(visible)]="addservices" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w50">
    <app-inventory-add-services></app-inventory-add-services>
</p-sidebar>