<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-3 float-left navbar-title">
            <h2>Spectacle Lens Inventory Listing</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-9 pr-0">
            <li class="nav-item">
                <a class="nav-link" (click)="addSpectacles()">
                    <i class="ti-plus"></i> Add
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="updateSpectacles()">
                    <i class="icon-edit"></i> Modify
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="duplicateSpectacleLens()">
                    <i class="ti-files"></i> Duplicate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="addLoctionSpectacle()">
                    <i class="icon-add-all"></i> Add to All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="DataViewdialogBox()">
                    <i class="ti-layout-column3"></i> Data View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="getSortAll()">
                    <i class="ti-exchange-vertical"></i> Sort</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="reset(dt)">
                    <i class="ti-reload"></i> Refresh</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="icon-more2"></i> More</a>
                <ul class="more dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" (click)="advancedFilterSidebarSet()">Advanced Filter</a>
                    </li>
                    <li class="kopie">
                        <a class="nav-link">Pricing Grid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="addGridSet()">Add Grid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="addPrismGridSet()">Prism Grid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Sync Lens List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="addbarcodelabelsSet()">Labels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Syncronize</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="spectaclelensDetails()">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="importcsv()">Import CSV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="deActive()">Deactivate</a>
                    </li>
                    <li class="nav-item" (click)="GetreActivateItems()">
                        <a class="nav-link">Reactivate</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!-- table Grid -->
<div class="col-md-12 mt-3">
    <div class="border m-auto">
        <p-table #dt [lazy]="true" [value]="Specatablelist" [columns]="Specatablecolumns" [scrollable]="true"
            [paginator]="true" [rows]="100" [resizableColumns]="true" [reorderableColumns]="true" [responsive]="true"
            [reorderableColumns]="true" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
            dataKey="id" selectionMode="multiple" [(selection)]="spectacleMultipleSelection"
            (onSort)="customSort($event)" [customSort]="true" [first]="paginationPage" [totalRecords]="totalRecords"
            (onPage)="loadLazySpectaclelensItems($event)">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width:35px">
                    <col *ngFor="let col of Specatablecolumns" style="width:150px" [ngClass]="{'hidden': !col.visible}">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="check-box"></th>
                    <th *ngFor="let col of Specatablecolumns" [pSortableColumn]="col.field"
                        [ngClass]="{'hidden': !col.visible}">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th *ngFor="let col of Specatablecolumns" [ngSwitch]="col.field"
                        [ngClass]="{'hidden': !col.visible}">
                        <input *ngSwitchCase="'id'" class="form-control" pInputText type="text"
                            (input)="filterSpectacleLens()" [(ngModel)]="searchValue">
                        <input *ngSwitchCase="'name'" class="form-control" pInputText type="text"
                            (input)="filterSpectacleLens()" [(ngModel)]="searchName">
                        <!-- <input *ngSwitchCase="'StyleName'" class="form-control" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                            [(ngModel)]="searchLensType"> -->
                        <select *ngSwitchCase="'StyleName'" (change)="filterSpectacleLens()"
                            [(ngModel)]="searchLensType" class="form-control">
                            <option *ngFor="let style of styles" [ngValue]="style.Id">{{style.name}}</option>
                        </select>

                        <select *ngSwitchCase="'spectacle_material'" class="form-control" pInputText type="text"
                            (change)="filterSpectacleLens()" [(ngModel)]="searchMaterial">
                            <option *ngFor="let mater of MaterialListDropDown" [ngValue]="mater.Id">{{mater.Name}}
                            </option>
                        </select>
                        <input *ngSwitchCase="'upc_code'" class="form-control" pInputText type="text" name="upc_code"
                            (input)="filterSpectacleLens($event)" [(ngModel)]="searchUPC">
                        <select *ngSwitchCase="'manufacturer'" name="manufacturer" id="manufacturerId"
                            class="form-control" (change)="filterSpectacleLens()" [(ngModel)]="searchManufa">
                            <!-- <option value=''> Select Manufacturer</option> -->
                            <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}</option>
                        </select>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="Framecolumns">
                <tr [pSelectableRow]="rowData" (dblclick)="DoubleClickSpectacles(rowData)">
                    <td class="check-box">
                        <a [pRowToggler]="rowData" [pSelectableRow]="rowData">
                            <i [ngClass]="expanded ? 'fa fa-caret-down' : 'fa fa-caret-right'"></i>
                        </a>
                    </td>
                    <td *ngIf="rowId">{{rowData.id}}</td>
                    <td *ngIf="rowName">{{rowData.name}}</td>
                    <td *ngIf="rowManufacturer">{{rowData.manufacturer?.manufacturer_name}}</td>
                    <td *ngIf="rowStyles">
                        {{this.utility.getArrayItem({data:styles,matchWith:'Id',matchValue:rowData.type_id,position:0,dataType:'parseInt'})}}
                    </td>
                    <td *ngIf="rowMaterial">{{rowData.spectacle_material?.material_name}}</td>
                    <td *ngIf="rowUPC">{{rowData.upc_code}}</td>
                    <!-- <td *ngFor="let col of Specatablecolumns" [ngClass]="{'hidden': !col.visible}">
                        {{rowData[col.field]}}
                    </td> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion">
                <tr>
                    <td colspan="7">
                        <table class="table table-bordered table-striped table-hover m-0">
                            <thead>
                                <tr>
                                    <th>Types</th>
                                    <th>Materials</th>
                                    <th>WearSchedule</th>
                                    <th>WearSchedule</th>
                                    <th>WearSchedule</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{Typedata}}</td>
                                    <td>{{Materialdata}}</td>
                                    <td>{{Replacedata}}</td>
                                    <td>{{Supplydata}}</td>
                                    <td>{{Supplydata}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>






<!-- <p-dialog class="dialog-popup" header="Delete From All" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350"
    [minWidth]="200" [minY]="70">
    <span>Are you sure you want to delete the selectced row(s)</span>
    <p-footer>
        <button type="button" class="btn btn-default mr-1" (click)="display=false">Cancel </button>
        <button type="button" class="btn btn-primary" (click)="display=false">Delete</button>
    </p-footer>
</p-dialog>
<dialog-box #deleteRow> </dialog-box> -->

<!-- Deactivate Dialog-->
<deactivate #deactivateRow (specDeactive)="specDeactiveEvent($event)"> </deactivate>
<app-import-csv #importcsvBox> </app-import-csv>
<!-- Reactivate -->
<div *ngIf="spectaclelensReActivate">
    <p-sidebar [(visible)]="spectaclelensReActivate" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-ptable ecl-sidebar-w70">
        <app-spectaclelens-reactivate-inventory (spectReactivate)="spectReactivateEvent($event)">
        </app-spectaclelens-reactivate-inventory>
    </p-sidebar>
</div>

<!-- Add supplier -->
<div *ngIf="addSpectaclesSidebar">
    <p-sidebar [(visible)]="addSpectaclesSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w80">
        <app-add-inventory-spectaclelens [locationItem]="locationFrameId"
            (spectacleAddItem)="spectacleAddItemEvent($event)"></app-add-inventory-spectaclelens>
    </p-sidebar>
</div>

<!-- Add Prism Grid -->
<div *ngIf="addPrismGrid">
    <p-sidebar [(visible)]="addPrismGrid" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w40">
        <app-add-prismgrid-inventory-spectaclelens (addprismgridoutput)="addPrismgridevent($event)">
        </app-add-prismgrid-inventory-spectaclelens>
    </p-sidebar>
</div>


<!-- Add Grid -->
<div *ngIf="addGrid">
    <p-sidebar [(visible)]="addGrid" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w40">
        <app-add-grid-inventory-spectaclelens (addgridoutput)="addgridevent($event)">
        </app-add-grid-inventory-spectaclelens>
    </p-sidebar>
</div>


<!-- Add Advanced Filter -->
    <p-sidebar [(visible)]="advancedFilterSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar eli-sidebar-w40">
        <app-inventory-spectaclelens-advancedfilter (spectacleAdvFilter)="spectacleAdvFilterEvent($event)">
        </app-inventory-spectaclelens-advancedfilter>
    </p-sidebar>

<!-- undo -->
<p-dialog class="dataview-popup" header="Data View" [(visible)]="display" [modal]="true" [responsive]="true"
    [width]="150" [minWidth]="200" [minY]="70">
    <div class="card">
        <div class="card-body">
            <ul class="list-unstyled">
                <mat-checkbox id="selectAll" [checked]="samplevisible" (change)="checkBoxClick('selectAll' ,$event)">
                    <span>Select All</span>
                </mat-checkbox>
                <li *ngFor="let col of Specatablecolumns">
                    <mat-checkbox id="{{col.header}}" [checked]="col.visible"
                        (change)="checkBoxClick(col.header, $event)">
                        <span [innerHTML]="col.header"></span>
                    </mat-checkbox>
                </li>
            </ul>
        </div>
    </div>
</p-dialog>

<!-- Sort All Inventory -->
<div *ngIf="sortallinventory">
    <p-sidebar [(visible)]="sortallinventory" position="right" [baseZIndex]="10000" class="ecl-sidebar w-25">
        <app-sort-all-inventory (sortalloutput)="sortallevent($event)" [sortAllInput]="sortbyName">
        </app-sort-all-inventory>
    </p-sidebar>
</div>
<div *ngIf="addLoctionSpecType">
    <p-sidebar [(visible)]="addLoctionSpecType" position="right" [baseZIndex]="10000" class="ecl-sidebar">
        <app-add-location (spectLocations)="spectLocationsEvent($event)"></app-add-location>
    </p-sidebar>
</div>


<!-- Spectacle Lens Details Sidebar -->
<div *ngIf="spectaclelensDetailsSidebar">
    <p-sidebar [(visible)]="spectaclelensDetailsSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w70">
        <app-spectaclelens-details [batchUpdateList]=spectacleMultipleSelection
            (detailsOutput)="detailsOutputevent($event)"></app-spectaclelens-details>
    </p-sidebar>
</div>
<div *ngIf="addbarcodelabels">
    <p-sidebar [(visible)]="addbarcodelabels" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w80 barcode-labels">
        <barcodelabels></barcodelabels>
    </p-sidebar>
</div>