<form id=addframesTransaction [formGroup]="FarmesTransactionForm" #formDir="ngForm" novalidate>
    <div class="card">
        <div class="card-header"> Frame Inventory Transaction</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4> Add/Modify Inventory Transaction </h4>
                    <div class="row form-row">
                        <div class="form-group col-sm-6">
                            <label>Location  <span class="text-danger" *ngIf="FarmesTransactionForm.controls['loc_id'].hasError('required' )">
                                    * </span></label>
                            <select class="form-control" formControlName="loc_id">
                                <option *ngFor="let location of locations" [ngValue]="location.id">{{location.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Date Received<span class="text-danger" *ngIf="FarmesTransactionForm.controls['received_date'].hasError('required' )">
                                    * </span></label>
                            <p-calendar formControlName="received_date" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Type<span class="text-danger" *ngIf="FarmesTransactionForm.controls['trans_type'].hasError('required' )">
                                    * </span></label>
                            <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                            <select class="form-control"  formControlName="trans_type">
                                <option *ngFor="let typeData of typeOfTransactionData" [ngValue]="typeData.id">{{typeData.transactiontype}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="form-group col-sm-3">
                            <label>Invoice 
                                <span class="text-danger" *ngIf="FarmesTransactionForm.controls['invoiceno'].hasError('required' )">
                                    * </span>
                                <span class="text-danger" *ngIf="FarmesTransactionForm.get('invoiceno').touched && FarmesTransactionForm.get('invoiceno').hasError('invalidInvoice')"><small> Invalid Invoice Number</small> </span>
                                <span class="text-danger" *ngIf="FarmesTransactionForm.get('invoiceno').touched && FarmesTransactionForm.get('invoiceno').hasError('maxlength')"><small> Max Limit 50</small> </span>
                            </label>
                            <input type="text" class="form-control" formControlName="invoiceno" >
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Payment Terms<span class="text-danger" *ngIf="FarmesTransactionForm.controls['paymentterms'].hasError('required' )">
                                    * </span></label>
                            <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                            <select class="form-control" formControlName="paymentterms">
                                <option *ngFor="let paymentTerm of paymentTermsData" [ngValue]="paymentTerm.id">{{paymentTerm.paymentterm}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3" >
                            <label>Return Date<span class="text-danger" *ngIf="FarmesTransactionForm.controls['returnDate'].hasError('required' )">
                                    * </span></label>
                            <p-calendar formControlName="returnDate" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Supplier<span class="text-danger" *ngIf="FarmesTransactionForm.controls['supplierid'].hasError('required' )">
                                    * </span></label>
                            <select class="form-control" formControlName="supplierid">
                                <option *ngFor="let supplier of suppliers" [ngValue]="supplier.Id">{{supplier.Name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Cost<span class="text-danger" *ngIf="FarmesTransactionForm.controls['cost'].hasError('required' )">
                                    * </span></label>
                            <input type="text" class="form-control" formControlName="cost">
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Quantity<span class="text-danger" *ngIf="FarmesTransactionForm.controls['stock'].hasError('required' )">
                                    * </span></label>
                            <input type="text" class="form-control" formControlName="stock">
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Expiration Date<span class="text-danger" *ngIf="FarmesTransactionForm.controls['expirationdate'].hasError('required' )">
                                    * </span></label>
                            <p-calendar formControlName="expirationdate" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Lot No<span class="text-danger" *ngIf="FarmesTransactionForm.controls['lot_no'].hasError('required' )">
                                    * </span></label>
                            <input type="text" class="form-control" formControlName="lot_no" >
                        </div>
                        <div class="form-group col-md-12">
                            <label>Notes<span class="text-danger" *ngIf="FarmesTransactionForm.controls['notes'].hasError('required' )">
                                    * </span></label>
                            <textarea name="" id="" cols="30" rows="5" class="form-control" formControlName="notes"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default float-right" (click)="cancleClick()">Cancel </button>
            <button type="button" class="btn btn-primary float-right" (click)="saveFrameTransaction()" [disabled]="!formDir.form.valid">Save</button>
        </div>   
    </div>
    </form>