<!-- <patient-bar></patient-bar> -->
 <div>
   <iframe
   (load)="onLoad()"
   frameborder="0"
   allowfullscreen
    [src]="PatientInstructionsUrl"></iframe>
      <div class="loader-iframe"></div>
 </div>
