<header class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-4 float-left navbar-title">
            <h2>Order Status Update</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-8">
            <li class="nav-item">
                <a class="nav-link form-inline">
                    <div class="form-group">
                        <label>Order No.</label>
                        <input type="text" class="form-control mx-sm-3">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="batchAddAllSidebar = true">
                    <i class="ti-plus"></i> Add All
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="batchOrderStatusSidebar = true">
                    <i class="icon-edit"></i> Update Order Status
                </a>
            </li>
        </ul>
    </div>
</header>
<div class="col-md-12">
    <div class="ecl-table-options clearfix">
        <div class="float-left">
            <select name="" id="">
                <option value="">Glasses recall</option>
            </select>
        </div>
        <div class="float-right">
            <div class="list-inline">
                <a class="list-inline-item">
                    <i class="ti-world"></i> Refresh VisionWeb Status
                </a>
                <a class="list-inline-item">
                    <i class="ti-files"></i> Lab Copy
                </a>
                <a class="list-inline-item">
                    <i class="ti-email"></i> Email
                </a>
                <a class="list-inline-item">
                    <i class="ti-layout-cta-right"></i> Send to Lab
                </a>
                <a class="list-inline-item">
                    <i class="ti-trash"></i> Remove
                </a>
                <a class="list-inline-item">
                    <i class="ti-world"></i> Details
                </a>
                <a class="list-inline-item">
                    <i class="ti-check"></i> Ok
                </a>
                <a class="list-inline-item">
                    <i class="ti-close"></i> Cancel
                </a>
            </div>
        </div>
    </div>
    <div class="border">
        <p-table [value]="batchOrderStatus" class=""  [scrollable]="true" [rows]="20" [paginator]="true" [resizableColumns]="true"
            [reorderableColumns]="true" [responsive]="true" selectionMode="single" dataKey="ItemId" 
            [style]="{width:'100%'}" scrollHeight="65vh">
            <ng-template pTemplate="header">
                <tr>
                    <td class="text-center">
                        <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox>
                    </td>
                    <th>Order</th>
                    <th>Order Date</th>
                    <th>Patient Name</th>
                    <th>Home Phone</th>
                    <th>Cellular Phone</th>
                    <th>Work Phone</th>
                    <th>Location</th>
                    <th>Lab Status</th>
                    <th>Lab</th>
                    <th>Order Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-type>
                <tr>
                    <td class="text-center">
                        <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox>
                    </td>
                    <td>{{type.name}} </td>
                    <td>{{type.retailprice}}</td>
                    <td>{{type.committed}}</td>
                    <td>{{type.yearQty}}</td>
                    <td>{{type.yearPrice}}</td>
                    <td>{{type.halfQty}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <select name="" id="">
                            <option value="">Pending</option>
                            <option value="">Delivered</option>
                            <option value="">Exchange</option>
                        </select>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Batch Add All -->
<p-sidebar [(visible)]="batchAddAllSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w20">
    <app-batch-add-all></app-batch-add-all>
</p-sidebar>

<!-- Batch Order Status Update -->
<p-sidebar [(visible)]="batchOrderStatusSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w20">
    <app-order-status></app-order-status>
</p-sidebar>