<form>
    <div class="card">
        <div class="card-header">Print Preview</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="border m-auto">

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right">Close</button>
            <button type="button" class="btn btn-primary float-right">Save As...</button>
            <button type="button" class="btn btn-primary float-right">Fax...</button>
            <button type="button" class="btn btn-primary float-right">E-Mail</button>
            <button type="button" class="btn btn-primary float-right">Print</button>
            <button type="button" class="btn btn-primary float-right">Print Setup...</button>
            <button type="button" class="btn btn-primary float-right">Zoom...</button>

                        <div class="form-group float-left">
                            <label class="mr-2">Copies </label>
                            <p-spinner size="8" class="mr-1"></p-spinner>
                        </div>

        </div>
    </div>
</form>




<p-dialog class="dialog-popup" header="Checks" positionLeft="100%" [(visible)]="display" [modal]="true" [responsive]="true"
    [width]="300" [minWidth]="200" [minY]="100">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <p-table [value]="" class="ecl-table ecl-ptable" [scrollable]="true" scrollHeight="55vh">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Chech Number</th>
                            <th>Amount </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-location>
                        <tr>
                            <td>{{61233}} </td>
                            <td></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>

    <p-footer>
        <button type="button" class="btn btn-primary">Auto Fill</button>
        <button type="button" class="btn btn-primary">OK</button>
        <button type="button" class="btn btn-default">Cancel</button>
    </p-footer>
</p-dialog>