<nav class="ecl-subnavbar fixed-top">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-2 float-left navbar-title">
            <h2>Daily Closing</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-10">
            <li class="nav-item">
                <a class="nav-link" (click)="openDates()">
                    <i class="ti-search"></i> Open Dates
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="openMediaCount()">
                    <i class="ti-plus"></i> Media Counts
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class=""></i> Adjustment
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-bag"></i> Bank Slip
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="printPreview()">
                    <i class="ti-printer"></i> Print
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="col-md-12 mt-3 border-bottom">
    <div class="row form-row">
        <div class="form-group col-sm-2">
            <label>Location</label>
            <select class="form-control login-select" placeholder="Select Company code" [(ngModel)]="locationId">
                <option *ngFor="let loc of locations" [value]="loc.id">{{loc.name}}</option>
            </select>
        </div>
        <div class="form-group col-sm-2">
            <label>Station</label>
            <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>

        </div>
        <div class="form-group col-sm-1">
            <label>User</label>
            <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
        </div>

        <div class="form-group col-sm-1">
            <label>Status</label>
            <input type="text" class="form-control" [(ngModel)]="lockedStatus" [disabled]="true">
        </div>
        <div class="form-group col-sm-2">
            <label>Locked By</label>
            <input type="text" class="form-control" [(ngModel)]="lockedByUser">
        </div>

        <div class="form-group col-sm-1">
            <label>Posting Date</label>
            <p-calendar [(ngModel)]="selectedPostingDate" (onSelect)="retrivalOfDailyClosing()"
            [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>

        </div>
        <div class="form-group col-sm-1">
            <label>Posting</label>
            <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <div class="form-group col-sm-2">
            <label class="label-empty"></label>
            <button type="button" class="btn btn-primary btn-sm">New</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="closingDetails()">Details</button>
        </div>
    </div>
</div>

<div class="col-md-12 mt-3">
    <div class="border m-auto">
        <p-table #dt [value]="dailyClosingData" [scrollable]="true" [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="[10,20]" [resizableColumns]="true" [reorderableColumns]="true" [responsive]="true"
            [reorderableColumns]="true" dataKey="ItemId" selectionMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th>Payment Method</th>
                    <th>Amt Calculated</th>
                    <th>Amt Entered</th>
                    <th>Variance</th>
                    <th>Variance Reason</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dailyClosingData let-i=rowIndex>
                <tr>
                    <td>{{dailyClosingData.payment_mode.pm_name}} </td>
                    <td>{{dailyClosingData.amount}}</td>
                    <td *ngIf="showEnterd">{{dailyClosingData.amount}}</td>
                    <td *ngIf="showEnterdinbox"><input type="text" (input)="varianceCalculation($event,i)"></td>
                    <td>{{dailyClosingData.varience}}</td>
                    <td *ngIf="showEnterd">{{dailyClosingData.varienceReason}}</td>
                    <td *ngIf="showEnterdinbox"><input type="text" (input)="variancereason($event,i)"></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="form-group mt-3 pb-5">
        <label>Notes</label>
        <textarea name="" id="" cols="30" rows="3" class="form-control mb-3" [(ngModel)]="dailyClosingNotes"></textarea>
    </div>
</div>
<div class="ecl-footer-fixed navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
        <div class="col-md-12 p-0">
            <div class="float-right">
                <button type="button" class="btn btn-primary" (click)="saveDailyClosing()">Save</button>
            </div>
            <div class="float-right">
                <button type="button" class="btn btn-primary" (click)="dailyClosingProcessData()"
                    [disabled]="disabledProcessBtn">Process Closing</button>
            </div>
        </div>
    </div>
</div>

<!-- Closing Details -->
<div *ngIf="closingDetailsSidebar">
    <p-sidebar [(visible)]="closingDetailsSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w70 ">
        <closing-details></closing-details>
    </p-sidebar>
</div>

<!-- Open Date -->
<div *ngIf="openDateSidebar">
    <p-sidebar [(visible)]="openDateSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w30 ">
        <open-date></open-date>
    </p-sidebar>
</div>

<!-- Media Count -->
<div *ngIf="mediaCountSidebar">
    <p-sidebar [(visible)]="mediaCountSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w30 ">
        <media-count></media-count>
    </p-sidebar>
</div>

<!-- Print Preview -->
<div *ngIf="printPreviewSidebar">
    <p-sidebar [(visible)]="printPreviewSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w70 ">
        <print-preview></print-preview>
    </p-sidebar>
</div>

<!-- Daily closing confirm popup -->
<!-- <p-confirmDialog width="650" class="dialog-popup" #cd>
    <p-footer>
        <button type="button" class="btn btn-default float-left">
            <i class="ti-files"></i>
        </button>
        <button type="button" class="btn btn-default float-left">
            <i class="ti-export"></i>
        </button>
        <button type="button" class="btn btn-primary" (click)="cd.reject()">Yes</button>
        <button type="button" class="btn btn-default" (click)="cd.accept()">No</button>
    </p-footer>
</p-confirmDialog> -->