<form>
    <div class="card">
        <div class="card-header"> Criteria Search</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row form-row">
                        <div class="form-group col-sm-6">
                            <label for="Location">Location</label>
                            <select class="form-control" id="Location">
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="ordernumrange">Order Num Range</label>
                            <div class="row form-row">
                                <div class="col">
                                    <input type="text" id="rangestart" class="form-control">
                                </div>
                                <div class="col">
                                    <input type="text" id="rangeend" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="orderdaterange">Order Date Range</label>
                            <div class="row form-row">
                                <div class="col">
                                    <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                                </div>
                                <div class="col">
                                    <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                                </div>
                            </div>

                        </div>
                        <div class="form-group col-sm-6">
                            <label for="lab">Lab</label>
                            <select class="form-control">
                                <option></option>
                            </select>
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="ordertype"> Order Type</label>
                            <select class="form-control">
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="orderstatus"> Order Status</label>
                            <select class="form-control">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="button" class="btn btn-primary"> Submit Directly to Lab</button>
            <button type="button" class="btn btn-primary"> Submit to VisionWeb</button>
            <button type="button" class="btn btn-primary"> Layout</button>
            <button type="button" class="btn btn-default">Clear </button>
            <button type="button" class="btn btn-default" (click)="onSearchClose()">Cancel </button>

        </div>
    </div>
</form>