<!--<form>
    <!-- <div class="card" [formGroup]="AdvanceSearchSupplierForm">  
            <div class="card">
        <div class="card-header">Advanced Filter</div>
        <div class="card-body">
            <div class="row advanced-Filter">
                <div class="form-group col-md-6">
                    <label>ID</label>
                    <input type="text" class="form-control" formControlName="Id"  [(ngModel)]="Id" >
                </div>
                <div class="form-group col-md-2">
                        <label>Supplier</label>
                                <p-dropdown formControlName="Supplier" [(ngModel)]="selectedSupplier" [options]="Suppliers" placeholder="Select a Supplier"   [showClear]="true" ></p-dropdown> 
                    
                      </div>
                <div class="form-group col-md-6 ">
                    <label>Phone</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-6 ">
                    <label>Mobile</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-6 ">
                    <label>Email</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label>Fax</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-6 ">
                    <label>Address</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label>Zip Code</label>
                    <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-md-6 ">
                    <label>City</label>
                    <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-md-6">
                    <label>State</label>
                    <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="clearfix">
                <!-- <div class="checkbox float-left">
                    <label>   <input type="checkbox" value=""> Contains</label>
                </div> 
                <button type="button" class="btn btn-primary float-right" (click)="advanceLensTreatmentSearch()">Ok</button>
                <button type="button" class="btn btn-default float-right" (click)="Clear()">Clear All</button>
            </div>
        </div>
    </div>
</form>-->
