<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-4 float-left navbar-title">
            <h2>Purchase Order</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-8 pr-0">
            <li class="nav-item">
                <a class="nav-link" (click)="poSearchSide()">
                    <i class="ti-search"></i> Search Purchase Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="poSupplier()">
                    <i class="ti-shopping-cart"></i> Supplier
                </a>
            </li>
            <li class="nav-item" (click)="poItemsClick()">
                <a class="nav-link">
                    <i class="ti-package"></i> Items</a>
            </li>
            <li class="nav-item" (click)="poReceivedClick()">
                <a class="nav-link">
                    <i class="ti-import"></i> Received</a>
            </li>
            <!-- <li class="nav-item" (click)="poStatusClick()">
                <a class="nav-link">
                    <i class="ti-check-box"></i> Status</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" (click)="poOrdersClick()">
                    <i class="ti-bag"></i> Orders</a>
            </li> -->
        </ul>
    </div>
</nav>
<form [formGroup]="POForm" #formDir="ngForm" (input)="POformChange()">
    <div class="row m-0">

        <div class="col-12">
            <div class="form-row">

                <div class="col-sm-2 form-group">
                    <label>Type <span class="text-danger"  *ngIf="POForm.controls['id'].hasError('required' )">
                            * </span></label>
                    <select formControlName="item" class="form-control" (change)="typeChange()" formControlName="id">
                        <!-- <option value="">Select Item </option> -->
                        <option *ngFor="let item of items" [value]="item.id">{{item.description}}</option>
                    </select>
                    <!-- <input type="text" class="form-control"> -->
                </div>
                <div class="col-sm-2 form-group">
                    <label>PO ID</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label>PO Date </label>
                    <!-- <input type="text" class="form-control" > -->
                    <p-calendar formControlName="sold_datetime" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                </div>
                <div class="col-sm-2 form-group">
                    <label>Status<span class="text-danger" *ngIf="POForm.controls['po_status'].hasError('required' )">
                            * </span></label>
                    <select name="labby" class="form-control" (change)="statusChange()" formControlName="po_status">
                        <!-- <option [value]="">Select Manufacturer</option> -->
                        <option *ngFor="let status of labstatusdata" [value]="status.Id">{{status.Name}}</option>
                    </select>
                    <!-- <input type="text" class="form-control" formControlName="po_status"> -->
                </div>
                <div class="col-sm-2 form-group">
                    <label>Employee</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label>Location<span class="text-danger" *ngIf="POForm.controls['location_id'].hasError('required' )">
                            * </span></label>
                    <select name="labby" class="form-control" (change)="locationChange($event)" formControlName="location_id">

                        <option *ngFor="let location of purchaselocations" [ngValue]="location.id">{{location.name}}</option>
                    </select>
                    <!-- <input type="text" class="form-control"> -->
                </div>
                <div class="col-sm-2 form-group">
                    <label>Supplier</label>
                    <input type="text" class="form-control" formControlName="supplier_name">
                </div>
                <div class="col-sm-2 form-group">
                    <label>Reference</label>
                    <input type="text" class="form-control" formControlName="reference">
                </div>
                <div class="col-sm-4 form-group">
                    <label>Notes</label>
                    <input type="text" class="form-control" formControlName="notes">
                </div>
                <div class="col-sm-4 form-group">
                    <div class="float-left">
                        <label class="label-empty block"></label>
                        <button class="btn btn-primary btn-sm">Add</button>
                        <button class="btn btn-primary btn-sm">Print</button>
                        <button class="btn btn-primary btn-sm">Delete</button>
                        <!-- <button class="btn btn-primary btn-sm">LOD Status</button> -->
                    </div>
                    <div class="float-right">
                        <label class="label-empty block"></label>
                        <!-- <button class="btn btn-primary btn-sm">Update Orders</button> -->
                        <button class="btn btn-primary btn-sm">Refresh</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</form>


<div *ngIf="poSupplierShow">

    <app-po-supplier (suplierSaveFormData)="suplierSaveFormData($event)" (SupplierName)="SupplierNamedata($event)"></app-po-supplier>

</div>
<div *ngIf="poItemsShow">

    <app-po-items></app-po-items>

</div>
<div *ngIf="poOrdersShow">

    <app-po-orders></app-po-orders>

</div>
<div *ngIf="poReceivedShow">

    <app-po-received></app-po-received>

</div>
<div *ngIf="poStatusShow">

    <app-po-status></app-po-status>

</div>

<div class="row m-0 m-3">
    <div class="col-12">
        <div class="pull-right">
            <button class="btn btn-primary" (click)="savingPO()" [disabled]="!this.purchaseOrderService.savebuttonEnable">Save</button>
            <button class="btn btn-primary">Edit PO</button>
            <button class="btn btn-primary">Create PO</button>
            <!-- <button class="btn btn-primary">{{this.purchaseOrderService.savebuttonEnable}}</button> -->
        </div>
    </div>
</div>


<!-- Purchase Order Searcj -->
<div *ngIf="poSearchSidebar">
    <p-sidebar [(visible)]="poSearchSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70">
        <app-po-search (POSelectedData)="POSelectedDataEvent($event)"></app-po-search>
    </p-sidebar>

</div>