<div class="card">
    <div class="card-header">Hard Contact Prescription</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row form-row">
                    <div class="form-group col-md-3">
                        <label>Location</label>
                        <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="location"></p-dropdown>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Physician</label>
                        <div class="input-group">
                            <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="physician"></p-dropdown>
                            <div class="input-group-append">
                                <button class="btn btn-space">
                                    <i class="ti-more-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="label-empty"></label>
                        <p-checkbox name="groupname" value="Outside Rx" label="Outside Rx"></p-checkbox>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="form-group col-md-3">
                        <label>Rx </label>
                        <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="label-empty">Refills </label>
                        <p-spinner size="10" [(ngModel)]="spinner" [style]="{'width':'100%'}"></p-spinner>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Discountinued date</label>
                        <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Expiry </label>
                        <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-11">
                                <table class="table ecl-table-exam mt-0">
                                    <thead>
                                        <tr class="text-nowrap">
                                            <th></th>
                                            <th>Manufacturer</th>
                                            <th>Name</th>
                                            <th>Color</th>
                                            <th>Material</th>
                                            <th>Blend</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="light-pink">
                                            <td>
                                                <b>OD</b>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </td>



                                        </tr>
                                        <tr class="light-blue">
                                            <td>
                                                <b>OS</b>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-1 mt-5">
                                <a class="btn btn-primary btn-exam">
                                    <i class="ti-line-double"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table ecl-table-exam">
                            <thead>
                                <tr class="text-nowrap">
                                    <th></th>
                                    <th>BC</th>
                                    <th>BC2</th>
                                    <th>Di</th>
                                    <th>Di 2</th>
                                    <th>Sph</th>
                                    <th>Sph 2</th>
                                    <th>Cyl</th>
                                    <th>Axis</th>
                                    <th>Add</th>
                                    <th>Prism</th>
                                    <th>Multifocal</th>
                                    <th>Seg Ht</th>
                                    <th>Seg Di</th>
                                    <th>CT</th>
                                    <th>Aspheric</th>
                                    <th>OZ</th>
                                    <th>/R2</th>
                                    <th>W2</th>
                                    <th>/R3</th>
                                    <th>W3</th>
                                    <th>Dot</th>
                                    <th>Warranty</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="light-pink">
                                    <td>
                                        <b>OD</b>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                                <tr class="light-blue">
                                    <td>
                                        <b>OS</b>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-sm-8">
                        <div class=" d-flex justify-content-between">
                            <div class="form-group col-">
                                <label class="label-empty"></label>
                                <p-checkbox name="released" value="Released" label="Released"></p-checkbox>
                            </div>
                            <div class="form-group col-">
                                <label>Release Date</label>
                                <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                            </div>
                            <div class="form-group col-">
                                <label class="label-empty"></label>
                                <p-checkbox name="locked" value="Locked" label="Locked"></p-checkbox>
                            </div>
                            <div class="form-group col-">
                                <label>Lock Date</label>
                                <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-2">
                        <label>Replacement Schedule</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-2">
                        <label>CL Care</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row form-row">
                    <div class="form-group col-md-12">
                        <label for="notes">Notes</label>
                        <div class="input-group">
                            <textarea class="form-control" rows="3" id="notes"></textarea>
                            <div class="input-group-append d-block">
                                <button class="btn btn-space ">
                                    <i class="ti-more-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-secondary float-right">Cancel</button>
            <button type="button" class="btn btn-primary float-right">OK</button>
            <button type="button" class="btn btn-primary float-right">Print</button>
            <button type="button" class="btn btn-primary float-right">Fill</button>
            <button type="button" class="btn btn-primary float-right">Transpose</button>
        </div>
    </div>
</div>