
  <div class="col-sm-12 inttable table-responsive">

					<table class="table table-bordered m-0">
  <thead>
    <tr>

      <th scope="col"><i class="fa fa-file-text-o" aria-hidden="true"></i></th>
      <th scope="col">Date</th>
      <th scope="col">Employee </th>
      <th scope="col">Alert </th>
      <th scope="col">Alert Level 	</th>
      <th scope="col">Alert Expiry</th>
      <th scope="col">Category </th>
      <th scope="col">Type</th>
      <th scope="col">Notes</th>

    </tr>
  </thead>
  <tbody>
    <tr>

      <td><i class="fa fa-file-text-o" aria-hidden="true"></i></td>
      <td>10/03/2017  06:59 pm	</td>
      <td>Baigani, Admin</td>
       <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
       <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Insurance</td>
    </tr>
     <tr>

      <td><i class="fa fa-file-text-o" aria-hidden="true"></i></td>
      <td>10/03/2017  06:59 pm	</td>
      <td>Baigani, Admin</td>
       <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
       <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Insurance</td>
    </tr>

  </tbody>
</table>



						</div>
            <div class="mt-2 mb-2 text-center">
                <button type="submit" class="orgbutton">Add</button>
                <button type="submit" class="orgbutton">Modify</button>
                <button type="submit" class="orgbutton">Interactions</button>
                <button type="submit" class="orgbutton">Documents</button>
                <button type="submit" class="orgbutton">All</button>
                <button type="submit" class="grybutton">Audit</button>

              </div>
