<form id=discountForm [formGroup]="discountForm" #formDir="ngForm" novalidate>
    <div class="card order-other-discount">
        <div class="card-header">Discount</div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label>Discount Type</label>
                    <span class="text-danger" *ngIf="discountForm.controls['discountamount'].hasError('required' )">
                        * </span>
                    <div class="row form-row">
                        <div class="col-3">
                            <input type="text" class="form-control" formControlName="discountamount">
                        </div>
                        <div class="col-9">
                            <!-- <select class="form-control" > -->
                            <!-- <option [ngValue]="null">Select Location</option> -->
                            <!-- <option *ngFor="let distype of discountTypeList" [ngValue]="distype.d_id"> -->
                            <!-- {{distype.d_desc}}</option> -->
                            <!-- </select> -->
                            <select class="form-control" formControlName="discountTypeitem">
                                <option *ngFor="let item of discountTypeListing" [value]="item.id">{{item.type}}
                                </option>
                                <!-- <option [value]="Percentage">Percentage</option> -->
                                <!-- {{distype.d_desc}}</option> -->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label>Item Type</label>
                    <div *ngIf="ErrorMsgCheckBox">
                        <span class="text-danger"> Please select any of the type Items</span>
                    </div>
                    <div>
                        <div class="form-check form-check-inline" *ngIf="showMaterial">
                            <!-- <p-checkbox name="groupname" value="Material" label="Material"></p-checkbox> -->
                            <input type="checkbox" name="Material" value="Material" checked="checkmaterial"
                                (change)="typeOfItemsForDisc($event)">
                            Material<br>
                        </div>
                        <div class="form-check form-check-inline" *ngIf="showServices">
                            <!-- <p-checkbox name="groupname" value="Services" label="Services"></p-checkbox> -->
                            <input type="checkbox" name="Services" value="Services" checked="checkservice"
                                (change)="typeOfItemsForDisc($event)">Services<br>
                        </div>
                        <div class="form-check form-check-inline" *ngIf="showOther">
                            <!-- <p-checkbox name="groupname" value="Other" label="Other"></p-checkbox> -->
                            <input type="checkbox" name="Other" value="Other" checked="checkother"
                                (change)="typeOfItemsForDisc($event)">Other<br>
                        </div>
                    </div>
                </div>
               
                <div class="form-group col-sm-12">
                    <label>Reason</label>
                    <span class="text-danger" *ngIf="discountForm.controls['discountreason'].hasError('required' )">
                        * </span>
                    <!-- <p-dropdown [options]="" placeholder="Select" [style]="{'width':'100%'}"></p-dropdown> -->
                    <select class="form-control" formControlName="discountreason">
                        <option *ngFor="let reason of discountReasonList" [ngValue]="reason.cas_id">
                            {{reason.cas_desc}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-12">
                    <button class="btn btn-primary">Add New Discount Reason</button>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default float-right" (click)="onDiscountClose()">Cancel</button>
            <button type="button" class="btn btn-primary float-right" (click)="discountButtonClick()"
                [disabled]="!formDir.form.valid">Ok</button>
        </div>
    </div>
</form>

<!-- Add New Discount Count -->
<!-- <div *ngIf="addDiscountSidebar">
    <p-sidebar [(visible)]="addDiscountSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w50">
        <app-add-discount></app-add-discount>
    </p-sidebar>
</div> -->