<!--<patient-bar></patient-bar>-->
<!--
<table *ngIf="arrPatients" class="table table-striped" [mfData]="arrPatients" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <thead>
    <tr>
        <th style="width: 20%">
            <mfDefaultSorter by="ID">Id</mfDefaultSorter>
        </th>
        <th style="width: 50%">
            <mfDefaultSorter by="FirstName">Full Name</mfDefaultSorter>
        </th>
        <th style="width: 10%">
            <mfDefaultSorter by="DateOfBirth">Date of Birth</mfDefaultSorter>
        </th>
        <th style="width: 20%">
            <mfDefaultSorter by="Sex">Sex</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
        <td>{{item.ID}}</td>
        <td>{{item.FirstName}} {{item.MiddleName}} {{item.LastName}}</td>
        <td>{{item.DateOfBirth}}</td>
        <td>{{item.Sex}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>-->


<div class="col-sm-12">
	<div class="row">
		<div class="col-sm-4 search-box-left pt-1 pb-1">
			<form id="search_form" [formGroup]="patientSearch"  novalidate autocomplete="off" (keydown.enter)="searchingDetails()">
				<h2>Patient Search</h2>
				<div class="clearfix"></div>
				<div class="pre-scrollable">
					<div class="col-md-11 p-0 float-none m-auto">
						<div class="row">
							<div class="col-sm-4"><label for="">Location</label></div>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder=" " formControlName="location"></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Last Name</label></div>
							<div class="col-sm-8"><input type="" class="form-control" placeholder=" " formControlName="lname"></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">First Name</label></div>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder=" " formControlName="fname"></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Phone</label></div>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder=" " formControlName="phone"></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Date of birth</label></div>
							<div class="col-sm-8">
									<p-calendar formControlName="dob" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{maxMinYears}} [maxDate]="currentDate"></p-calendar>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">SSN</label></div>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder=" "
								(keypress)="keyPress($event)" formControlName="ssn"></div>
						</div>
						<div class="clearfix"></div>
						<div class="row">
							<div class="col-sm-4"><label for="">Email</label></div>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder=" " formControlName="email"></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Address</label></div>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder=" " formControlName="address"></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Zip Code</label></div>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder=" " formControlName="zipcode"></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Recall Date to</label></div>
							<div class="col-sm-8"> 
								<p-calendar formControlName="reecall" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true"  yearRange={{this.varservicce.maxMinYears}}></p-calendar>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Patient #</label></div>
							<div class="col-sm-8"><input type="text" class="form-control" (keypress)="keyPress($event)" formControlName="id"></div>

						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Provider</label></div>
							<div class="col-sm-8">
								<select class="form-control minimal" formControlName="provider">
									<option> </option>
									<option *ngFor="let prov of provider" [value]="prov.Id">{{prov.Name}}</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Employer</label></div>
							<div class="col-sm-8"> <select class="form-control minimal" [disabled]="true">
									<option>-------</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>				
						</div>
						<!-- <div class="clearfix"></div>
						<div class="row">
							<div class="col-sm-4"><label for="">Type</label></div>
							<div class="col-sm-8"> <select class="form-control minimal">
									<option>-------</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									</select></div>

						</div> -->
						<div class="row">
							<div class="col-sm-4"><label for="">Reference</label></div>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder=" " [readonly]="true" ></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Active</label></div>
							<div class="col-sm-8">
								<select class="form-control minimal" formControlName="active">
									<option></option>
									<option>Yes</option>
									<option>No</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Exam #</label></div>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder=" " formControlName="exam"></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Order #</label></div>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder=" " formControlName="order"></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Tray</label></div>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder=" " formControlName="tray"></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Claim #</label></div>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder=" " formControlName="claim"></div>
						</div>
					</div>
				</div>
				<div class="row border-top pt-2 pb-2">
					<div class="col-sm-4">&nbsp;</div>
					<div class="col-sm-8">
						<button type="submit" class="savebut" (click)="searchingDetails()">Submit</button>
						<button type="button" class="savebut" (click)="clearData()">Reset</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm-8 mt-1 mb-1 search-grid">
			<div class="table-responsive">
			<!-- <table *ngIf="arrPatients" class="table table-striped table-bordered" class="table table-striped" [mfData]="arrPatients" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                            <tbody>
                              <tr class="tabelhead">
                                  <th>
                                      <mfDefaultSorter by=""></mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="Address[0].City">Location</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="LastName">Last Name</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="FirstName">First Name</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="HomePhone">Home Phone</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="DateOfBirth">Date Of Birth</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="SSN">SSN</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="Email">Email</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="Address[0].Street1">Address</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="Address[0].Zip">Zip Code</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="">Recall Date to</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="ID">Patient #</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="">Provider</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="">Employer</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="">Type</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="">Reference</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="">Active</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="">Exam #</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="">Order #</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="">Tray</mfDefaultSorter>
                                  </th>
                                  <th>
                                      <mfDefaultSorter by="">Claim #</mfDefaultSorter>
                                  </th>
                              </tr>
                               <tr *ngFor="let item of mf.data">
                                      <td><input type="checkbox" id=""></td>
                                      <td><span *ngIf="item.Address; else noData">{{item.Address[0].City}}, {{item.Address[0].State}}</span></td>
                                      <td>{{item.LastName}}</td>
                                      <td>{{item.FirstName}}</td>
                                      <td>{{item.HomePhone}}</td>
                                      <td>{{item.DateOfBirth}}</td>
                                      <td>{{item.SSN}}</td>
                                      <td>{{item.Email}}</td>
                                      <td><span *ngIf="item.Address; else noData">{{item.Address[0].Street1}} , {{item.Address[0].Street2}}</span></td>
                                      <td><span *ngIf="item.Address; else noData">{{item.Address[0].Zip}}</span></td>
                                      <td>---</td>
                                      <td>{{item.ID}}</td>
                                      <td>---</td>
                                    	<td>---</td>
                                    	<td>---</td>
                                    	<td>---</td>
                                    	<td>---</td>
                                    	<td>---</td>
                                    	<td>---</td>
                                    	<td>---</td>
                                    	<td>---</td>
                                </tr>


                                <tr>
                                    <td colspan="12">
                                        <mfBootstrapPaginator></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tbody>
						 </table> -->
			<p-table #dt [columns]="cols" [value]="arrPatients"  (onRowSelect)="onRowSelect($event)"

			[lazy]="true"
			[paginator]="true" 
			class="ecl-table" 
			 
			[style]="{ width: '100%' }"
			[totalRecords]="total" 
			[loading]="loading"
			(onPage)="loadLazyItems($event)"


			 [scrollable]="true" [rows]="10" selectionMode="single"
			  [style]="{width:'100%'}" scrollHeight="75vh">

			  <!-- <ng-template pTemplate="header">
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Date of Birth</th>
                  <th>PatientId</th>
                </tr>
              </ng-template> -->

				<ng-template pTemplate="header" let-columns>
					<tr>
						<th *ngFor="let col of patientcolumns" [pSortableColumn]="col.field">
							{{col.header}}
							<p-sortIcon [field]="col.field"></p-sortIcon>
						</th>
					</tr>
					<tr>
						<th *ngFor="let col of patientcolumns" [ngSwitch]="col.field">
							<p-calendar field="dateFilter" (onBlur)="onBlurMethod($event)"
							 (onSelect)="getPatientbydate($event);" *ngSwitchCase="'EnteredDate'" [showIcon]="true" dateFormat="mm/dd/yy" [monthNavigator]="true" [yearNavigator]="true"></p-calendar>
							<input type="text" class="form-control" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode); "
							/>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-rowData let-columns="patientcolumns">
					<tr (dblclick)="onRowClick()" [pSelectableRow]="rowData">
						<td *ngFor="let col of patientcolumns" (click)="GetPatientId(rowData)">
							{{rowData[col.field]}}
						</td>
					</tr>
				</ng-template>
			</p-table>
			<ng-template #noData>----</ng-template>
			</div>
		</div>
	</div>
</div>