<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-3 float-left navbar-title">
            <h2>Lens Treatments Listing</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-9">
            <li class="nav-item">
                <a class="nav-link" (click)="addLensTreatmentclick()">
                    <i class="ti-plus"></i> Add
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="updateLensTreatment()">
                    <i class="icon-edit"></i> Modify
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" (click)="duplicateLensTreatment()">
                    <i class="ti-files"></i> Duplicate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="addLocatiionLensTreatment()">
                    <i class="icon-add-all"></i> Add to All</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" (click)="deleteRows()">
                    <i class="icon-delete-all"></i> Delete All</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" (click)="dialogBox()">
                        <i class="ti-layout-column3"></i> Data View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="sortallinventory = true">
                    <i class="ti-exchange-vertical"></i> Sort</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="refreshTable(dt)">
                    <i class="ti-reload"></i> Refresh</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" (click)="inventoryLenstreatmentAdvancedFilter = true">
                    <i class="ti-filter"></i> Advanced Filter</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-more2"></i> More</a>
                <ul class="more dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" (click)="advancedFilterSidebarClick()">Advanced Filter</a>
                    </li>
                    <li class="kopie">
                        <a class="nav-link" (click)="addbarcodelabelsSet()">Labels</a>
                    </li>
                    <li class="kopie">
                        <a class="nav-link" (click)="lenstreatmentsimportSet()">Lens Treatment Import</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Sync Treatments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="pricecalculationSet()">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Syncronize</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="importcsv()">Import CSV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="deActive()">Deactivate</a>
                    </li>
                    <li class="nav-item" (click)="LenstreatmentReActi()">
                        <a class="nav-link">Reactivate</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!-- table Grid  -->
<div class="col-md-12 mt-3" *ngIf="rowData?.length <= 0">
    <div class="border m-auto">
        <p-table  #dt [lazy]="true" [value]="lenstreatmentGridlist"  [columns]="lenstreatmentcolumns" [scrollable]="true" [rows]="100"
         [paginator]="true" [resizableColumns]="true" [reorderableColumns]="true"  (onRowSelect)="onRowSelect($event)"
         (onRowUnselect)="onRowUnselect()"  
         [responsive]="true" [rowExpandMode]="single" selectionMode="multiple" [(selection)]="lensTreatMultipleSelection" [style]="{width:'100%'}" scrollHeight="65vh" 
         [totalRecords]="totalRecords" (onPage)="loadlenstreatmentbypage($event)" [first]="paginationPage" (onSort)="customSort($event)" [customSort]="true">         
               
         
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of lenstreatmentcolumns" [pSortableColumn]="col.field" [ngClass]="{'hidden': !col.visible}" pReorderableColumn
                        pResizableColumn>
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let col of lenstreatmentcolumns" [ngSwitch]="col.field" [ngClass]="{'hidden': !col.visible}">
                        <input *ngSwitchCase="'id'" id="ItemId" class="form-control" pInputText type="text" (input)="Filtervalues()" [(ngModel)]="searchValueID">
                        <input *ngSwitchCase="'name'" class="form-control" pInputText type="text" (input)="Filtervalues()" [(ngModel)]="searchValueName">
                        <select *ngSwitchCase="'unitmeasure'" (change)="Filtervalues()" name="unitmeasure" id="unitmeasureid" class="form-control"
                            [(ngModel)]="searchValueUnit">
                                        <option value=''> Select Unit</option>
                                        <option>Pair</option>
                                        <option>Each</option>
                                    </select>
                        <select *ngSwitchCase="'category'" (change)="Filtervalues()" name="CategoryId" class="form-control" [(ngModel)]="searchValueCategory">                     
                                            <option *ngFor="let lens of Lenscategory" [value]="lens.Id">{{lens.Name}}</option>
                                        </select>
                        <input *ngSwitchCase="'upc_code'" (input)="Filtervalues()" class="form-control" pInputText type="text" [(ngModel)]="searchValueUPC">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData" (dblclick)="doubleClickLensTreatment(rowData)">

                    <td *ngFor="let col of lenstreatmentcolumns" [ngClass]="{'hidden': !col.visible}">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>



<p-dialog class="dialog-popup" header="Delete From All" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350"
    [minWidth]="200" [minY]="70">
    <span>Are you sure you want to delete the selectced row(s)</span>
    <p-footer>
        <button type="button" class="btn btn-default mr-1" (click)="display=false">Cancel </button>
        <button type="button" class="btn btn-primary" (click)="display=false">Delete</button>
    </p-footer>
</p-dialog>
<!-- dialog Box -->
<dialog-box #deleteRow> </dialog-box>
<deactivate #deactivateRow (LensDeactive)="LensDeactiveevent($event)"> </deactivate>
<app-import-csv #importcsvBox> </app-import-csv>
<!-- Reactivate -->
<div *ngIf="LenstreatmentReActivate">
<p-sidebar [(visible)]="LenstreatmentReActivate" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-ptable ecl-sidebar-w70">
    <app-lenstreatment-reactivate (lensReactivate)="lensReactivateEvent($event)"></app-lenstreatment-reactivate>
</p-sidebar>
</div>

<!-- Add Inventory -->
<div *ngIf="addlensTreatmentLabs">
    <p-sidebar [(visible)]="addlensTreatmentLabs" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70">
        <app-add-inventory-lenstreatment [locationItem]="locationItemId" (lensAddItem)="lensAddItemEvent($event)"></app-add-inventory-lenstreatment>
    </p-sidebar>
</div>

<!-- Add Barcode label -->
<div *ngIf="addbarcodelabels">
    <p-sidebar [(visible)]="addbarcodelabels" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w80 barcode-labels">
        <barcodelabels></barcodelabels>
    </p-sidebar>
</div>

<!-- Add Advanced Filter -->

    <p-sidebar [(visible)]="inventoryLenstreatmentAdvancedFilter" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w40">
        <app-inventory-lenstreatment-advancedfilter (lensAdvFilter)="lensAdvFilterEvent($event)"></app-inventory-lenstreatment-advancedfilter>
    </p-sidebar>


<!-- Add -->
<div *ngIf="pricecalculation">
    <p-sidebar [(visible)]="pricecalculation" position="right" [baseZIndex]="10000" class="ecl-sidebar pricecalculation">
        <app-pricecalculation (priceCalculationOut)="priceCalClose($event)"></app-pricecalculation>
    </p-sidebar>
</div>


<!-- Add  -->
<div *ngIf="lenstreatmentsimport">
    <p-sidebar [(visible)]="lenstreatmentsimport" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w50">
        <app-lenstreatmentsimport></app-lenstreatmentsimport>
    </p-sidebar>
</div>
<div *ngIf="addLoctionLensTreatmentType">
    <p-sidebar [(visible)]="addLoctionLensTreatmentType" position="right" [baseZIndex]="10000" class="ecl-sidebar">
        <app-add-location (lensLocations)="lensLocationsEvent($event)"></app-add-location>
    </p-sidebar>
</div>


<!-- Sort All Inventory -->
<p-sidebar [(visible)]="sortallinventory" position="right" [baseZIndex]="10000" class="ecl-sidebar w-25">
    <app-sort-all-inventory (sortalloutput) = "sortallevent($event)"></app-sort-all-inventory>
</p-sidebar>


<!-- undo -->
<p-dialog class="dataview-popup" header="Data View" [(visible)]="dataviewvisible" [modal]="true" [responsive]="true" [width]="150"
    [minWidth]="200" [minY]="70">
    <div class="card">
        <div class="card-body">
            <ul class="list-unstyled">
                <mat-checkbox id="selectAll" [checked]="samplevisible" (change)="checkBoxClick('selectAll' ,$event)">
                    <span>Select All</span>
                </mat-checkbox>
                <li *ngFor="let col of lenstreatmentcolumns">
                    <mat-checkbox id="{{col.header}}" [checked]="col.visible" (change)="checkBoxClick(col.header, $event)" [disabled]="tableHeaderFilters.includes(col.header)">
                        <span [innerHTML]="col.header"></span>
                    </mat-checkbox>
                </li>
            </ul>
        </div>
    </div>
</p-dialog>