<div class="card">
    <div class="card-header">Modify Interation</div>
    <div class="card-body">

        <div class="row">
            <div class="col-sm-12">

                <div class="row form-row">
                    <div class="form-group col-sm-6">
                        <label>Date</label>
                        <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Employee</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Category</label>
                        <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Quick Note</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Notes</label>
                        <textarea class="form-control" rows="3" id="description"></textarea>
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Send To</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-12">
                        <p-checkbox name="" value="val1" label="Alert"></p-checkbox>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="display-block">Alert Level</label>
                        <p-radioButton name="" value="val1" label="Global"></p-radioButton>
                        <p-radioButton name="" value="val1" label="Module"></p-radioButton>
                        <p-radioButton name="" value="val1" label="Item"></p-radioButton>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Alert Expiry</label>
                        <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-primary float-right"> Send & Close </button>
            <button type="button" class="btn btn-primary float-right"> Close </button>
        </div>
    </div>
</div>