/*=-====Bootstrapthemes.co ecl-hover-menu=====*/

.ecl-hover-menu a ,  .navbar > li > a {
    text-transform: capitalize;
}
.ecl-hover-menu .active a,
.ecl-hover-menu .active a:focus,
.ecl-hover-menu .active a:hover,
.ecl-hover-menu li a:hover,
.ecl-hover-menu li a:focus ,
.navbar>.show>a,  .navbar>.show>a:focus,  .navbar>.show>a:hover{
    color: #000;
    outline: 0;
}

.ecl-hover-menu .dropdown-item.active,
.ecl-hover-menu .dropdown-item:active,
.ecl-hover-menu .dropdown-item:hover,
.ecl-hover-menu .dropdown-item:focus {
	background: #F39529!important;
	color: #fff;
}

/*submenu style start from here*/


.dropdown-menu {
    padding: 0px 0;
    margin: 0 0 0;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

}
ul ul li a.dropdown-toggle::after{
    margin-top: 7px;
    float: right;
    transform: rotate(-90deg);
}
/*first level*/
.ecl-hover-menu .collapse ul > li:hover > a{background: #f5f5f5;}
.ecl-hover-menu .collapse ul ul > li:hover > a, .navbar .show .dropdown-menu > li > a:focus, .navbar .show .dropdown-menu > li > a:hover{background: #F39529;color:#fff;}
/*second level*/
.ecl-hover-menu .collapse ul ul ul > li:hover > a{background: #F39529}

/*third level*/
.ecl-hover-menu .collapse ul ul, .ecl-hover-menu .collapse ul ul.dropdown-menu{box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)!important;}
.ecl-hover-menu .collapse ul ul ul, .ecl-hover-menu .collapse ul ul ul.dropdown-menu{box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12) !important;}
.ecl-hover-menu .collapse ul ul ul ul, .ecl-hover-menu .collapse ul ul ul ul.dropdown-menu{box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12) !important;}

/*Drop-down menu work on hover*/


@media only screen and (max-width: 991px) {
    .ecl-hover-menu .show > .dropdown-toggle::after{
        transform: rotate(-90deg);
    }
}
@media only screen and (min-width: 991px) {
      li.nav-item {
      height: 55px;
    }
    .ecl-hover-menu .collapse ul li{position:relative;}
    .ecl-hover-menu .collapse ul li:hover> ul{display:block}
    .ecl-hover-menu .collapse ul ul{position:absolute;top:100%;left:0;min-width:160px;display:none}
    .ecl-hover-menu .collapse ul .html ul{position:absolute;top:100%;left:-100%;max-width:200px;display:none}
    .user-dropdown ul{position:absolute;top:100%;left:auto!important;max-width:200px;}
    .user-dropdown a:hover { color:#fff!important; }
    .user-dropdown a:focus{ color: #fff!important; }
    .user-dropdown a{ background: none!important}


    /*******/
    .ecl-hover-menu .collapse ul ul li{position:relative}
    .ecl-hover-menu .collapse ul ul li:hover> ul{display:block}
    .ecl-hover-menu .collapse ul ul.left-sub-menu ul{position:absolute;top:0;left:-100%;max-width:200px;display:none}
    .ecl-hover-menu .collapse ul ul.left-sub-menu ul.common-list{left: -246px; min-width: 200px; max-width: 282px;}
    .ecl-hover-menu .collapse ul ul.left-sub-menu ul.scheduler{left: -180px;}
    .ecl-hover-menu .collapse ul ul.left-sub-menu ul.analytic{left: -167px;}

    /*******/
    .ecl-hover-menu .collapse ul ul ul li{position:relative}
    .ecl-hover-menu .collapse ul ul ul li:hover ul{display:block}
    .ecl-hover-menu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:200px;display:none;z-index:1}

}


.header-timestamp {
    width: auto;
    text-align: right;
    margin-left: 20px;
    padding-top: 3px;
}