<form [formGroup]="erxAdminForm" #formDir="ngForm" (input)=enableCancel() novalidate >
    <div class="content-wrapper">
        <div class="row m-0">
            <div class="col-md-12 mb-2">
                <h4 class="mb-4">eRx Admin</h4>
                <div class="row form-row">
                    <div class="form-group col-md-2">
                        <p-radioButton name="portal" value="0" label="Emdeon" formControlName="portal" (onClick)=enableCancel()></p-radioButton>
                    </div>
                    <div class="form-group col-md-2">
                        <p-radioButton name="portal" value="1" label="DrFirst" formControlName="portal" (onClick)=enableCancel()></p-radioButton>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="form-group col-md-2">
                        <p-radioButton name="erxmode" value="0" label="Demo" formControlName="erx_mode" (onClick)=enableCancel()></p-radioButton>
                    </div>
                    <div class="form-group col-md-2">
                        <p-radioButton name="erxmode" value="1" label="Production"formControlName="erx_mode" (onClick)=enableCancel()></p-radioButton>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row form-row">
                    <div class="form-group col-sm-6">
                        <label>Portal System Name</label>
                        <span class="text-danger" *ngIf="erxAdminForm.controls['system_name'].hasError('required')"> *</span>
                        <input type="text" class="form-control" formControlName="system_name">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Secret Key</label>
                        <span class="text-danger" *ngIf="erxAdminForm.controls['secret_key'].hasError('required')"> *</span>
                        <input type="text" class="form-control" formControlName="secret_key">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Practice User Name</label>
                        <span class="text-danger" *ngIf="erxAdminForm.controls['erx_user_name'].hasError('required')"> *</span>
                        <input type="text" class="form-control" formControlName="erx_user_name">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Status</label>
                        <span class="text-danger" *ngIf="erxAdminForm.controls['erx_status'].hasError('required')"> *</span>
                        <select name="Unit" class="form-control" formControlName="erx_status">
                            <option *ngFor="let statuslist of status" [ngValue]="statuslist.id">{{statuslist.Name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary ml-0" (click) ="updateerxDetails()" [disabled]="!formDir.form.valid">Save</button>
                <button class="btn btn-secondary" (click)="cancelUpdate()" [disabled]="!enableCancelbtn">Cancel</button>
            </div>
        </div>
    </div>
</form>