<div class="card">
    <div class="card-header">Select Contact Lens OD</div>
    <div class="card-body">

        <div class="form-group">
            <label for="">Order Status</label>
            <p-dropdown [options]="pastOrderBy" [style]="{'width':'100%'}" placeholder="Select"></p-dropdown>
        </div>
        <div class="form-group">
            <label for="">Finishing Ctr</label>
            <p-dropdown [options]="pastOrderBy" [style]="{'width':'100%'}" placeholder="Select"></p-dropdown>
        </div>
        <div class="form-group">
            <label for="">Lab</label>
            <p-dropdown [options]="pastOrderBy" [style]="{'width':'100%'}" placeholder="Select"></p-dropdown>
        </div>
        <div class="form-group">
            <label for="">Lab Sent Date</label>
            <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
        </div>
        <div class="form-group">
            <label for="">Delivery By Employee</label>
            <p-dropdown [options]="pastOrderBy" [style]="{'width':'100%'}" placeholder="Select"></p-dropdown>
            <p-dropdown [options]="pastOrderBy" [style]="{'width':'100%'}" placeholder="Select"></p-dropdown>
        </div>
        <div class="form-group">
            <label for="">Inspected By Employee</label>
            <p-dropdown [options]="pastOrderBy" [style]="{'width':'100%'}" placeholder="Select"></p-dropdown>
            <p-dropdown [options]="pastOrderBy" [style]="{'width':'100%'}" placeholder="Select"></p-dropdown>
        </div>

    </div>
    <div class="card-footer">

        <div class="clearfix">
            <button type="button" class="btn btn-primary float-right">Update</button>
            <button type="button" class="btn btn-secondary float-right">Clear</button>
        </div>
    </div>
</div>