<div class="card">
    <div class="card-header">Prism Grid</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <p-table [value]="" class="ecl-table ecl-ptable" [scrollable]="true" scrollHeight="200px">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Start</th>
                                <th>End</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-location>
                            <tr>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td class="text-center">
                                    <a class="color-red">
                                        <i class="ti-close"></i>
                                    </a>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

                <a class="btn"><i class="ti-plus"></i> Add</a>

            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="clearfix">
                <button type="button" class="btn btn-default float-right" (click) ="addPrismGridClose()">Close</button>
            <button type="button" class="btn btn-primary float-right">OK</button>
        </div>
    </div>
</div>