<div class="card">
    <div class="card-header">Activate Inventory Items</div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-12">
                <div class="table-responsive">
                    <p-table #dtspectaclereactive [columns]="cols" [(selection)]="spectaclesactivateMultipleSelection"
                        [value]="Spectaclelist" [scrollable]="true" [style]="{width:'1200px'}" scrollHeight="65vh">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th class="check-box"> </th>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                            <tr>
                                <th></th>
                                <th *ngFor="let col of cols" [ngSwitch]="col.field">
                                    <input *ngSwitchCase="'id'" class="form-control" pInputText type="text"
                                        (input)="dtspectaclereactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchitemId">
                                    <select class="form-control" *ngSwitchCase="'location'" [(ngModel)]="searchlocation"
                                        pInputText type="text">
                                        <option *ngFor="let location of locations" [ngValue]="location.id">
                                            {{location.name}}</option>
                                    </select>
                                    <input *ngSwitchCase="'name'" class="form-control" pInputText type="text"
                                        (input)="dtspectaclereactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchname">
                                    <input *ngSwitchCase="'upc_code'" class="form-control" pInputText type="text"
                                        (input)="dtspectaclereactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchUPC">
                                    <input *ngSwitchCase="'retail_price'" class="form-control" pInputText type="text"
                                        (input)="dtspectaclereactive.filter($event.target.value, col.field, col.filterMatchMode)"
                                        [(ngModel)]="searchretailprice">

                                    <select *ngSwitchCase="'spectacle_material'" class="form-control" pInputText
                                        type="text" (change)="spectacleLensFilter()" [(ngModel)]="searchMaterial">
                                        <option *ngFor="let mater of MaterialListDropDown" [ngValue]="mater.Id">
                                            {{mater.Name}}
                                        </option>
                                    </select>
                                    <select *ngSwitchCase="'manufacturer'" name="manufacturer" id="manufacturerId"
                                        class="form-control" (change)="spectacleLensFilter()"
                                        [(ngModel)]="searchManufa">
                                        <!-- <option value=''> Select Manufacturer</option> -->
                                        <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}
                                        </option>
                                    </select>

                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-list let-columns="columns">
                            <tr>
                                <td class="check-box">
                                    <p-tableCheckbox [value]="list"></p-tableCheckbox>
                                </td>
                                <td>{{list.id}}</td>
                                <td></td>
                                <td>{{list.manufacturer?.manufacturer_name}}</td>
                                <td>{{list.spectacle_material?.material_name}}</td>
                                <td>{{list.name}}</td>
                                <td>{{list.upc_code}}</td>
                                <td>{{list.retail_price}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-primary float-right" (click)="Activate()">Activate</button>
            <button type="button" class="btn btn-default float-right" (click)="Cancel()">Cancel </button>
        </div>
    </div>
</div>