<form id=addsupplier  #formDir="ngForm" novalidate>
    <div class="card">
        <div class="card-header">Add / Modify Services</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p-tabView class="ecl-tabview" (onChange)="onServiceTabsClick($event)">
                        <p-tabPanel header="Service Details">
                            <div class="row form-row">
                                <div class="form-group col-sm-12">
                                    <label>Name
                                        <span class="text-danger"> * </span>
                                    </label>
                                    <input id="Name" type="text" class="form-control">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>UPC</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Retail</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Cost</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Profit</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-sm-12">
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="option2">
                                            <label class="form-check-label">Sent to Lab</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="option3">
                                            <label class="form-check-label">Print on Order</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Procedure code</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-append">
                                            <button class="btn btn-space">
                                                <i class="ti-more-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Modifier</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-sm-4">
                                    <div>
                                        <label class="label-empty">&nbsp;</label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="option2">
                                            <label class="form-check-label">Note On Claim</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Structure</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Commission Type</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Amount</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Gross Percentage</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Spiff</label>
                                    <input type="text" class="form-control">
                                </div>


                                <div class="form-group col-sm-12 pt-1">
                                    <h4>Appointment</h4>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Duration</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Color</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Recall</label>
                                    <input type="text" class="form-control">
                                </div>

                                <div class="form-group col-sm-12">
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="option2">
                                            <label class="form-check-label">Appointment</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="option3">
                                            <label class="form-check-label">Favorite</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="option3">
                                            <label class="form-check-label">Online</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="notes">Portal appointment type mapping</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="notes">Notes</label>
                                    <textarea class="form-control" rows="3" id="notes"></textarea>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Locations">
                            <div class="row">
                                <div class="col-md-12 p-0">
                                    <div class="col-md-10 pull-left">
                                        <div class="table-responsive">
                                            <p-table [value]="orderTypes" class="ecl-table" [scrollable]="true"
                                                scrollHeight="55vh">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th>Location</th>
                                                        <th>Tax 1</th>
                                                        <th>Tax 2</th>
                                                        <th>Plus Days</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-type>
                                                    <tr>
                                                        <td>BETA: BETA VERIFIED</td>
                                                        <td>
                                                            <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                                                        </td>
                                                        <td>
                                                            <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pull-right">
                                        <button type="button" class="btn btn-primary float-right">Transfer</button>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Transactions">
                            <div class="row form-row">
                                <div class="form-group col-md-2">
                                    <label class="label-empty"></label>
                                    <h5>Filter</h5>
                                </div>
                                <div class="form-group col-md-5">
                                    <label>Location</label>
                                    <select class="form-control">
                                        <option>Select Location</option>
                                    </select>

                                </div>
                                <div class="form-group col-md-5">
                                    <label class="label-empty"></label>
                                    <p-radioButton name="filter" value="Transactions" label="Transactions"></p-radioButton>
                                    <p-radioButton class=" ml-2" name="filter" value="Sales" label="Sales"></p-radioButton>
                                </div>
                            </div>
                            <div class="clearfix form-group"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="" class="ecl-table" [scrollable]="true" [style]="{width:'1300px'}"
                                            scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Date Received</th>
                                                    <th>Transactions Type</th>
                                                    <th>Quantity Supplier</th>
                                                    <th>Shipment Id</th>
                                                    <th>Invoice No</th>
                                                    <th>PO</th>
                                                    <th>Employee</th>
                                                    <th>Notes</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-type>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="clearfix">
                <button type="button" class="btn btn-primary float-right">Diag..</button>
                <button type="button" class="btn btn-primary float-right">Unlink...</button>
                <button type="button" class="btn btn-primary float-right">Link...</button>
                <button type="button" class="btn btn-primary float-right">Save</button>
                <button type="button" class="btn btn-primary float-right">OK</button>
                <div *ngIf="transactionsBtnHide">
                    <button class="btn btn-primary float-right"> Details</button>
                    <button class="btn btn-primary float-right" (click)="addServiceTransaction()"> Add</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Add Service Inventory Transaction -->
<div *ngIf="addServiceInvTransaction">
    <p-sidebar [(visible)]="addServiceInvTransaction" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-1 eli-sidebar-w100">
        <app-add-service-inv-transaction></app-add-service-inv-transaction>
    </p-sidebar>
</div>