/* Referring */
.heltbenfit{ border-bottom: 1px solid #d1d1d1; padding:0px 8px;}

.sm-org-button{ background-color:#f7941e; border: 0px; color: #fff; font-size: 12px; padding: 2px; border-radius: 3px; margin-left: 2px; }
.datebox{ background-color:#f7f7f7; padding: 5px; margin:10px 0px }
.datebox h3{ font-size:16px; padding:0px; margin:0px}

#referring .input-group-text{ padding:0px 3px; font-size:12px; border-radius: 0px; background-color:#4a4a4a; color:#fff}
.diagnosis{ background-color:#4a4a4a; margin: 8px 0px; position: relative; padding: 3px 0px 3px 90px; font-size: 13px; color:#fff}
.diagnosis .head{ background-color:rgba(255,255,255,0.60); position: absolute; padding: 4px; color: #fff; top: 0px; left: 0px;}
