@charset "utf-8";
/* CSS Document */
/* @import"https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"; */
/* body, a, .mat-table, .mat-header-cell, .ui-widget, h4 {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
} 
.ecl-order-content h4, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: "Open Sans", "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
} */

h4{
    color: #012778;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Open Sans";
}


img { 
    max-width:100%; 
    height:auto;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}
label {
    font-weight: normal;
    margin: 0;
    font-size:13px;
}
.label-empty {
    height: 18px; 
    display: block;
}
.display-block {
    display: block;
}
.label-bold {
    font-weight: bold;
    color: #012778;
    margin-left: 2px;
}
/* Bootstrap overwriting */
.form-group {
    margin-bottom: 10px;
}
.form-control {
    border-radius: 0;
    padding: 0.20rem 0.5rem;    
}
select.form-control {
    border-radius: 0;
    padding: 0.25rem;    
}
.input-group-text {
    border-radius: 0;
    padding: 0.25rem 0.5rem;    
}
.col-form-label {
    line-height: 1
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.00rem + 2px);
}
.btn {
    padding: 8px;
}
.btn-icon {
    padding: 5px 8px;
}
.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
}
.btn:hover {
    background: #eeeeee;
    border:1px solid #ddd;
}
.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
    background-color: #cccccc;
    border-color: #dddddd
}
.btn-primary {
    background: #F39529;
    border-color:#F39529;
}
.btn-primary:hover {
    background-color: #ffae50;
    border-color: #F39529;   
}
.btn-primary.disabled, .btn-primary:disabled{
    background-color: #F39529;
    border-color: #F39529;
}
.btn:focus, .btn.focus{
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #df8217;
    border-color: #F39529
}
.btn-secondary:hover {
    background-color: #9199a0;
    border-color: #6c757d
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #576169;
   border-color: #6c757d
}
.input-group .input-group-append .btn{
    padding: 3px; margin: 0px;
}
.input-group .input-group-append .btn.btn-space {
    margin-left: 5px;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ddd;
}
.border {
    border-color: #c5cace !important;
}
.border-primary {
	border-color: #012778 !important;
}

button.nav-link {
    background: transparent;
    border: none;
    padding: 14px;
    font-size: 14px;
    color: #fff;
}
button.nav-link:disabled {
  opacity: 0.65;
}

.pre-scrollable {
    min-height: 74vh !important;
    max-height: 74vh !important;
    overflow-y: auto !important;
}

/* table  */
.table th .btn, .table td .btn{
    padding: 3px 5px 1px 5px
}
.table.table-nobordered thead th,
.table.table-nobordered tbody td  {
    border:none;

}
/* Cards */
.card.no-style{
    border: none;
}
.card.no-style .card-header,
.card.no-style .card-footer{
    border: none;
    background: transparent;
}
.card.no-style .card-body {
    border: none;
}
/* Colors */
.color-orange {
    color:#f7941e;
}
.color-blue {
    color: #002878;
}
.color-blue2 {
    color: #07588f;
}
.color-dark-grey {
    color: #4a4a4a;
}
.color-red {
    color:#FF0000 !important;
}
.bg-red {
    background-color:#FF0000 !important;
}
.bg-orange {
    background-color:#f7941e;
}
.bg-blue {
    background-color: #002878;
}
.bg-blue2 {
    background-color: #07588f;
}
.bg-dark-grey {
    background-color: #4a4a4a;
}
.bg-light-pink{
    background-color: #ffbfbf;
}
.bg-light-blue {
    background-color: #99def9;
}
.bg-light-grey {
    background-color: #eeeeee;
}
.border-color-blue2 {
    border-color: #07588f !important;
}
.bg-orange h4, .bg-blue h4, .bg-blue2 h4{
    color: #fff;
}

/* Fa icons overwrite */
.ui-sidebar .ui-sidebar-close .fa,
.ui-dialog .ui-dialog-titlebar-close .fa, .ui-button-icon-only .fa,.ui-button-icon-only .fa, .ui-button-text-icon-left .fa, .ui-growl-icon-close.fa, .ui-growl-image.fa{
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 17px;
}
.ui-growl-icon-close.fa{
    font-size: 13px;
}
.ui-growl-image.fa{
    padding: 5px;
}
.ui-button-icon-only .fa, .ui-button-text-icon-left .fa{
    font-size: 12px;
}
.fa-upload:before {
    content: "\e66b" !important;
}
.fa-check:before {
    content: "\e64c";
}
.ui-chkbox-icon.ui-clickable.fa.fa-check:before {
    content: "\f00c";
}

.fa-plus:before {
    content: "\e61a"!important;
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\e646" !important;
}
.ui-growl .ui-growl-image.fa-exclamation-circle{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.select-dropdown .ui-dropdown .ui-dropdown-trigger .fa{
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    margin-top: .5em !important;
}
.select-dropdown .ui-dropdown .ui-dropdown-trigger .fa-caret-down:before {
    content: "\e64b" !important;
}
.ui-autocomplete-dropdown .fa-caret-down:before {
    content: "\e64b" !important;
}
.ui-dialog .ui-dialog-titlebar-icon {
    border: none !important;
    border-radius: 0;
    padding: 3px 1px !important;
}
.ui-sidebar .ui-sidebar-close{
    position: absolute;
    z-index: 99;
    right: 9px;
    top: 9px;
    padding: 4px 1px 0 2px;
    border-radius: 0;
}
.ui-sidebar .ui-sidebar-close:hover{
    background: #fff
}

.ui-sidebar .ui-dialog {
    position: absolute;
    left: calc(50% - 175px) !important;
}
.ui-sidebar .ui-dialog.ui-widget-content {
    background: #fff;
}
.ui-dropdown .ui-dropdown-panel {
    background: #fff !important;
}
p-dropdown.form-control {
    padding: 0;
    border:0;
}
p-dropdown.form-control .ui-dropdown{
    width: 100% !important;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}


/* Material overwriting */
.mat-checkbox-checked.mat-accent .mat-checkbox-background, 
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #ffffff !important;
    border: 1px solid #ccc;
}
.mat-checkbox-checked .mat-checkbox-mixedmark {
    color: #4a4a4a;
}
.mat-checkbox-checkmark {
    fill: #fafafa;
}
.mat-checkbox-checkmark .mat-checkbox-checkmark-path {
    stroke: #f39529!important;
}
/* Alert Message */
.ui-growl {
    top: 60px !important;
    width: 25em !important;
}
.ui-table table td .btn{
    padding: 2px 6px;
    color: #fff;
    margin-right: 5px;
}
.content-wrapper {
    padding: 15px;
}

p-radiobutton {
    margin-right: 15px;
}
.form-group-mb-0 .form-group{
    margin-bottom: 0;
}

.w10p {
    flex: 0 0 10%;
    max-width: 10%;
}