/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (max-device-width: 1366px) {
      .ui-datepicker.ui-widget {
        width: 232px;
      }
      .form-control,
      select.form-control,
      select.form-control:not([size]):not([multiple]),
      .ui-dropdown label.ui-dropdown-label,
      .form-group .ui-calendar.ui-calendar-w-btn input {
          height: 26px;
      }
      /* .ui-dropdown label.ui-dropdown-label {
        padding: .2em 2.5em 0 .5em !important;
    } */
  }

  @media screen 
  and (min-device-width: 1600px) 
  /* and (max-device-width: 1920px)  */
  and (-webkit-min-device-pixel-ratio: 1) { 
    h4 {
        font-size: 18px;
    }
    .dropdown-menu {
        font-size: 14px;
    }
    label, .btn, .form-control {
        font-size: 16px;
    }
    .label-empty {
      height: 25px;
    }
    select.form-control {
        padding: 0.25rem 0.5rem !important;
        height: 32px !important;
    }
    .form-control,
    select.form-control,
    select.form-control:not([size]):not([multiple]),
    .ui-dropdown label.ui-dropdown-label,
    .form-group .ui-calendar.ui-calendar-w-btn input {
        height: 32px;
    }
    .ecl-order-content h4, .mat-table, .mat-header-cell, .ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
        font-size: 16px !important;
    }
    .ecl-sidebar .ecl-tabview .ui-tabview .ui-tabview-nav > li.ui-state-default {
        font-size: 18px;
    }
    .color-selector .color {
        width: 30px;
        height: 32px;
        border-radius: 0;
    }
    .ui-table .ui-table-thead > tr > th {
        font-size: 14px !important;
    }
    .ecl-sidebar .label-empty-16 {
        height: 24px;
    }
    .form-row .col button.btn {
        line-height: .9 !important;
    }
    /* .form-group .ui-calendar.ui-calendar-w-btn input {
         padding: 1px 2px 2px 2px !important;
    } */
    
    body .ui-calendar.ui-calendar-w-btn input {
        width: calc(100% - 38px);
    }
    body .ui-calendar .ui-calendar-button .pi-calendar {
        margin-top: -0.55em!important;
    }
    .search-box-left .ui-calendar .ui-calendar-button .pi-calendar {
        margin-top: -0.55em!important;
    }
    .search-box-left .ui-calendar .ui-inputtext {
        padding: 0.25rem 0.5rem;
        height: 32px;
    }
    body .ui-button.ui-button-icon-only,
    .search-grid .ui-table-scrollable-header .ui-calendar input {
        height: 32px;
    }
    body .search-grid .ui-table-scrollable-header .pi-calendar {
        margin-top: -0.48em!important;
    }
    body .ui-dropdown label.ui-dropdown-label {
        height: 30px;
    }
    body .ui-inputtext {
        font-size: 16px;
    }
    body .ui-autocomplete .ui-autocomplete-input {
        height: 32px;
    }
    .order-other-details label{
	    font-size: 14px;
    }
    .order-other-details .form-group{
        margin-bottom: 0px;
    }
    .order-other-details .ui-widget input{
        margin-bottom: 14px !important;
       
    }
    .order-other-details .input-group .input-group-append .btn.btn-space {
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .welcome-row {
        margin-top:20px !important;
    }
    .input-group p-dropdown, .input-group p-calendar {
        width: calc(100% - 37px);
    }
    /* Patient Info bar */
    .ecl-patientinfo-bar .ecl-patientinfo-left {
        width: 110px;
    }
    .ecl-patientinfo-bar .ecl-patientinfo-right {
        width: calc(100% - 115px);
    }
    .ecl-patientinfo-bar .patient-avtar {
        width: 80px;
        height: 80px;
        margin: 14px 10px 0 15px;
    }
    .ecl-patientinfo-bar .patient-name {
        font-size: 20px;
        line-height: 1.2;
    }
    .ecl-patientinfo-bar ul li {
        font-size: 16px;
        margin: 0px 50px 0px 0px;
    }
    .ecl-patientinfo-bar ul li span {
        font-size: 16px;
        margin-right: 10px;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1366px) 
  /* and (max-device-width: 1920px)  */
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .form-group .ui-calendar.ui-calendar-w-btn input {
        width: calc(100% - 31px);
    }
    
    .input-group p-calendar {
        width: calc(100% - 37px);
    }
    .form-control,
    select.form-control,
    select.form-control:not([size]):not([multiple]),
    .ui-dropdown label.ui-dropdown-label,
    .form-group .ui-calendar.ui-calendar-w-btn input {
        height: 32px;
    }   
    .welcome-row {
        margin-top:20px !important;
    }
}
/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1440px) 
  and (min-resolution: 120dpi) {
    .loginbox {
        margin: 64px auto 10px auto !important;
    } 
    .form-group .ui-calendar.ui-calendar-w-btn input {
        width: calc(100% - 31px);
    }
    
    .input-group p-calendar {
        width: calc(100% - 37px);
    }
    .ui-dropdown label.ui-dropdown-label {
        padding: .3em 2.5em 0 .5em !important;
    }
    .form-control,
    select.form-control,
    select.form-control:not([size]):not([multiple]),
    .ui-dropdown label.ui-dropdown-label,
    .form-group .ui-calendar.ui-calendar-w-btn input {
        height: 26px;
    }   
    .welcome-row {
        margin-top:20px !important;
    } 
}