<div class="card">
    <div class="card-header">Lens Treatment Import</div>
    <div class="card-body">
        
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <p-table [value]="orderTypes" class="ecl-table" [scrollable]="true" [style]="{width:'100%'}" scrollHeight="67vh">
                        <ng-template pTemplate="header">
                            <tr>
                                <th width="50"></th>
                                <th>Category</th>
                                <th>Name</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-orderTypes>
                            <tr>
                                <td width="50" class="text-center">
                                    <p-checkbox [(ngModel)]="orderTypes.checked" binary="true"></p-checkbox>
                                </td>
                                <td>{{orderTypes.category}}</td>
                                <td>{{orderTypes.name}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <div class="clearfix">
                <div class="pull-left">
                    Print: 199 &#160; &#160;Maped: 92
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-primary float-right">Import</button>
                    <button type="button" class="btn btn-primary float-right">Add Custom</button>
                </div>
                
        </div>
    </div>
</div>