<div class="card">
    <div class="card-header"> Contact Configurations</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <p-table [value]="contactConfigData" class="ecl-table" [scrollable]="true" [style]="{width:'2000px'}"
                        scrollHeight="55vh">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>UPC</th>
                                <th>Meterial</th>
                                <th>Color</th>
                                <th>Base Curve</th>
                                <th>Diameter</th>
                                <th>Sphere</th>
                                <th>Cylinder</th>
                                <th>Axis</th>
                                <th>Add Power</th>
                                <th>Multifocal</th>
                                <th>Cost</th>
                                <th>On Order Qnty</th>
                                <th>Committed</th>
                                <th>Max Inv</th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-contact>
                            <tr>
                                <td>{{contact.upc}}</td>
                                <td>{{contact.meterial}}</td>
                                <td>{{contact.color}}</td>
                                <td>{{contact.basecurve}}</td>
                                <td>{{contact.diameter}}</td>
                                <td>{{contact.sphere}}</td>
                                <td>{{contact.cylinder}}</td>
                                <td>{{contact.axis}}</td>
                                <td>{{contact.addpower}}</td>
                                <td>{{contact.multifocal}}</td>
                                <td>{{contact.cost}}</td>
                                <td>{{contact.onorderqnty}}</td>
                                <td>{{contact.committed}}</td>
                                <td>{{contact.maxinv}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-default float-right">Cancel</button>
        <button type="button" class="btn btn-primary float-right">Filter</button>
        <button type="button" class="btn btn-primary float-right">Select</button>
    </div>
</div>