<form [formGroup]="formOrder">
    <div class="card order-other-discount">
        <div class="card-header">Modify Soft Contact Lens</div>
        <div class="card-body">
            <div class="row form-row">
                <div class="form-group col-sm-12">
                    <label>Description </label>
                    <input type="text" formControlName="description" class="form-control">
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-2">
                    <label>Retail price </label>
                    <span class="text-danger" *ngIf="formOrder.controls['retailPrice'].hasError('required')">
                        * </span>
                    <input type="text" class="form-control" formControlName="retailPrice">
                </div>
                <div class="form-group col-2">
                    <label>Quantity </label>
                    <span class="text-danger" *ngIf="formOrder.controls['qty'].hasError('required')">
                        * </span>
                    <input type="text" class="form-control" formControlName="qty" (input)="CalculateSubTotal()">
                </div>
                <div class="form-group col-2">
                    <label>Sub Total </label>
                    <input type="text" class="form-control"  formControlName="subTotal" [readonly]="true"> 
                </div>
            </div>

            <div class="row form-row">
                <div class="form-group col-2">
                    <label>Tax</label>
                    <div class="row form-row">
                        <div class="col">
                            <input class="form-control" type="text"  formControlName="tax1_id">
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" formControlName="tax1_paid" [readonly]="true">
                        </div>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label>Tax 2</label>
                    <div class="row form-row">
                        <div class="col">
                            <input class="form-control" type="text" formControlName="tax2_id" >
                        </div>
                        <div class="col">
                            <input class="form-control" type="text" formControlName="tax2_paid" [readonly]="true">
                        </div>
                    </div>
                </div>
                <div class="col-2 text-nowrap">
                    <label class="label-empty">&#160;</label>
                    <p-checkbox name="groupname" value="Material" label="Overwrite Tax" (click)="CalculateTax()"></p-checkbox>
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-2">
                    <label>Discount type </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Amount </label>
                    <p-dropdown [options]="" placeholder="Select" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-2">
                    <label>Reason </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Discount </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Write-Off </label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="row form-row">
                <div class="form-group col-2">
                    <label>Copay </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Patient </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Patient Total </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Insurance</label>
                    <!-- <input type="text" class="form-control"> -->
                    <select class="form-control" id="selectedinsuranceID" (change)="Insuraneselect($event)">             
                        <option [value]="null">Insurance</option>                                         
                        <option *ngFor="let insurance of insuranceDropDown" [value]="insurance.Id" >{{insurance.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-2">
                    <label>Insurance</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-2">
                    <label>Item Total</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="row form-row">
                <div class="form-group col-md-4">
                    <label>Employee</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Date</label>
                    <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                </div>
                <div class="form-group col-md-2">
                    <label class="label-empty">&#160;</label>
                    <div class="form-check form-check-inline">
                        <p-checkbox name="groupname" value="Print" label="Print"></p-checkbox>
                    </div>
                </div>
            </div>

            <div class="row form-row">
                <div class="form-group col-md-4">
                    <label>Supplier </label>
                    <!-- <input type="text" class="form-control"> -->
                    <select class="form-control" formControlName="lab_id">
                        <option *ngFor="let supplier of labbylist" [value]="supplier.Id">{{supplier.vendor_name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label>Diagnosis Pointer </label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group col-md-2">
                    <label>Status</label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-space">
                                <i class="ti-more-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-row">
                <div class="form-group col-md-8">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" rows="1" id="notes"></textarea>
                </div>
                <div class="col-md-4 form-group">
                    <label class="label-empty">&#160;</label>
                    <p-checkbox name="groupname" value="Insurance Supplied" label="Insurance Supplied"></p-checkbox>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table [value]="" class="ecl-table" [scrollable]="true" [style]="{width:'1600px'}" scrollHeight="200px">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Procedure</th>
                                    <th>Code Description</th>
                                    <th>Charge</th>
                                    <th>Copay</th>
                                    <th>Patient Pays</th>
                                    <th>Ins pays</th>
                                    <th>Ins Gaps</th>
                                    <th>Write Off</th>
                                    <th>Discount</th>
                                    <th>Type </th>
                                    <th>Discount</th>
                                    <th>Modifier</th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-type>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right" (click)="onModifySoftClose()">Cancel</button>
            <button type="button" class="btn btn-primary float-right" (click)="saveDetails()">Ok</button>
        </div>
    </div>
</form>