<div class="card">
  <div class="card-header">Tray Label</div>
  <div class="card-body">

    <div class="row">
      <div class="form-group col-sm-12">
        <label>Printer</label>
        <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
      </div>
      <div class="form-group col-sm-12">
        <label>Label Name</label>
        <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
      </div>

    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label>Columns</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Rows</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Columns Spacing</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Rows Spacing</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Top Margin</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Left Margin</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Right Margin</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Bottom Margin</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Height</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Width</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Quality</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label>Start Position</label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="clearfix">
      <button type="button" class="btn btn-secondary float-right" (click)="close()">Cancel</button>
      <button type="button" class="btn btn-primary float-right">OK</button>
      <p-checkbox name="group1" value="Select Layout" label="Select Layout" class="p-2 float-right"></p-checkbox>
      <button type="button" class="btn btn-secondary float-left">Restore Default</button>
    </div>
  </div>
</div>