<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-4 float-left navbar-title">
            <h2>Commission Structures</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-8">
            <li class="nav-item">
                <a (click)="addModify()" class="nav-link">
                    <i class="ti-plus"></i> Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="modifyClick()">
                    <i class="icon-edit"></i> Modify</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="deleteCommissionDetails()">
                    <i class="ti-trash" ></i> Delete</a>
            </li>
        </ul>
    </div>
</nav>

<div class="col-md-12">

    <div class="border m-auto">
        <p-table #dt [value]="commissionList" [columns]="commisssionColumns" [rows]="100" [paginator]="true"
            [scrollable]="true" [responsive]="true" selectionMode="multiple" [(selection)]="multipleSelection"
            scrollHeight="420px" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnSelect($event)">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of commisssionColumns" pReorderableColumn pResizableColumn
                        [pSortableColumn]="col.field">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="commisssionColumns">
                <tr [pSelectableRow]="rowData" (dblclick)="doubleClick(rowData)">
                    <td *ngFor="let col of commisssionColumns">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>

<!-- Advanced Filter Sidebar -->

<div *ngIf="advancedFilterSidebar">
    <p-sidebar [(visible)]="advancedFilterSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar add-commission ecl-sidebar-w70 ">
        <app-add-commission-structure [statusSaveUpdate]=saveUpdateValues
            (saveUpdateEmit)="saveUpdateEmitEvent($event)"></app-add-commission-structure>
    </p-sidebar>
</div>