<form id=orderLens [formGroup]="orderLensSelectionForm" #formDir="ngForm" (input)="orderLensFormChange()" novalidate>

    <div class="row form-row">
        <div class="form-group col-md-2">
            <label>Eye</label>
            <p-dropdown class="form-control" [options]="eyedetails" formControlName="EyeStatus"
                (onChange)="onEyeChange($event)" [disabled]="EyeselectionDisable"></p-dropdown>
            <!-- <select class="form-control"    formControlName="EyeStatus" (change)=onEyeChange($event) [disabled]="EyeselectionDisable">
            <option *ngFor="let Type of eyedetails"   [ngValue]="Type.Id">{{Type.Name}}</option>
        </select> -->

        </div>
        <div class="form-group col-md-2">
            <label>Material</label>
            <select class="form-control">
                <option *ngFor="let material of materials" [value]="material.value">{{material.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label>Finishing Ctr</label>
            <select class="form-control">
                <option [value]="null">Select </option>
                <!-- <option  [value]="LensLabs.Id">{{LensLabs.Name}}</option> -->
            </select>
        </div>
        <div class="form-group col-md-1 w10p">
            <label class="label-empty"></label>
            <p-checkbox value="val1" label="Outside RX" (onChange)="showOutsidePhysician($event)"></p-checkbox>
        </div>
        <div class="form-group col-md-2" *ngIf="outsidePhysician">
            <label>Outside Physician</label>
            <input type="text" class="form-control">
        </div>

        <!-- <div class="form-inline">
            <label class="label-empty"></label>
            <div class="form-check mb-2 mr-sm-2">

                <p-checkbox value="val1" label="Outside RX"></p-checkbox>
            </div>
            <label style="display:block">Outside Physician</label>
            <input type="text" class="form-control mb-2 mr-sm-2">



        </div> -->

    </div>
    <div class="row form-row">
        <div class="form-group col-md-2">
            <label>Tint Color</label>
            <select name="" id="" class="form-control">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label>Sample</label>
            <select name="" id="" class="form-control">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group col-md-2">
            <label>By</label>
            <select name="" id="" class="form-control">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label>Lab Inst</label>
            <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-space">
                        <i class="ti-more-alt"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="mb-2">
                <table class="table ecl-table-exam mt-0">
                    <thead>
                        <tr class="text-nowrap">
                            <th> <a class="btn btn-primary"><i class="ti-eye"></i></a></th>
                            <th>Balance</th>
                            <th>Sphere</th>
                            <th>Cyl</th>
                            <th>Axis</th>
                            <th>Add</th>
                            <th>Seg Ht</th>
                            <th>H Prism</th>
                            <th>H Base</th>
                            <th>V Prism</th>
                            <th>V Base</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="light-pink" *ngIf="!disableOD">
                            <td>
                                <b>OD</b>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <!-- <input type="number"  step="0.25"  min="-20" max="20" class="form-control" formControlName="sphere_od">
                                    <select class="form-control" formControlName="sphere_ofd">
                                        <option *ngFor="let item of RxSphereValues" [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}" [ngValue]="item.id">{{item.name}}</option>
                                    </select>-->
                                    <div class="select-editable">
                                        <select class="custom-select-choose form-control"
                                            (change)="valuesAssigner('sphere_od',$event);MandatoryValidation('sphere_od')">
                                            <option *ngFor="let item of RxSphereValues; "
                                                [selected]="item.id == '+2.25'"
                                                [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                                [value]="item.id">{{item.name}}</option>
                                        </select>
                                        <input (change)="rxValidator($event,true);MandatoryValidation('sphere_od')" type="text" class="form-control"
                                            formControlName="sphere_od" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <!--   <input type="number" class="form-control" formControlName="cyl_od">
                                    <select class="form-control" formControlName="cyl_od">
                                        <option *ngFor="let item of RxCylinderValues" [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}" [ngValue]="item.id">{{item.name}}</option>
                                    </select>-->

                                    <div class="select-editable">
                                        <select class="custom-select-choose form-control"
                                            (change)="valuesAssigner('cyl_od',$event)">
                                            <option *ngFor="let item of RxCylinderValues"
                                                [selected]="item.id == '+2.25'"
                                                [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                                [ngValue]="item.id">{{item.name}}</option>
                                        </select>
                                        <input (change)="rxValidator($event,false,true)" type="text"
                                            class="form-control" formControlName="cyl_od" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <!--  <input type="number" *ngFor="let axis of AxisValues " class="form-control" formControlName="axis_od"> -->
                                    <select class="form-control" formControlName="axis_od">
                                        <option *ngFor="let axis of AxisValues " [selected]="axis.id === 0"
                                            [ngValue]="axis.id">{{axis.id}}</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <!-- <input type="number" class="form-control" formControlName="add_od">
                                    <select class="form-control" formControlName="add_od">
                                        <option *ngFor="let item of RxAddValues" [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}" [ngValue]="item.id">{{item.name}}</option>
                                    </select>-->
                                    <div class="select-editable">
                                        <select class="custom-select-choose form-control"
                                            (change)="valuesAssigner('add_od',$event)">
                                            <option *ngFor="let item of RxAddValues"
                                                [selected]="item.id==addDropperDefaultod"
                                                [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                                [ngValue]="item.id">{{item.name}}</option>
                                        </select>
                                        <input (change)="rxValidator($event)" type="text" class="form-control"
                                            formControlName="add_od" />
                                    </div>

                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="number" onfocus="this.save_value = this.value;"
                                        (change)="segValidate($event); this.save_value = this.value; "
                                        class="form-control" formControlName="seg_od">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" style="text-transform:uppercase;"
                                        onfocus="this.save_value = this.value;"
                                        (change)="prismValidate($event); this.save_value = this.value;"
                                        class="form-control" formControlName="mr_od_p">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <!-- <input type="number" class="form-control" formControlName="mr_od_prism"> -->
                                    <select class="form-control" formControlName="mr_od_prism">
                                        <option *ngFor="let item of RxHbaseValues"
                                            [ngClass]="{'value-positive-bg': item > 0, 'value-negative-bg': item < 0, 'bg-primary': item == 'PL'}"
                                            [ngValue]="item">{{item}}</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input onfocus="this.save_value = this.value;"
                                        (change)="prismValidate($event); this.save_value = this.value;" type="text"
                                        style="text-transform:uppercase;" class="form-control"
                                        formControlName="Vprism_od">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <!-- <input type="number" class="form-control" formControlName="mr_od_sel"> -->
                                    <select class="form-control" formControlName="mr_od_sel">
                                        <option *ngFor="let item of RxVbaseValues"
                                            [ngClass]="{'value-positive-bg': item > 0, 'value-negative-bg': item < 0, 'bg-primary': item == 'PL'}"
                                            [ngValue]="item">{{item}}</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr class="light-blue" *ngIf="!disableOS">
                            <td>
                                <b>OS</b>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <!-- <input type="number" class="form-control" formControlName="sphere_os">
                                    <select class="form-control" formControlName="sphere_os">
                                        <option *ngFor="let item of RxSphereValues" [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"[ngValue]="item.id">{{item.name}}</option>
                                    </select>-->

                                    <div class="select-editable">
                                        <select class="custom-select-choose form-control"
                                            (change)="valuesAssigner('sphere_os',$event);MandatoryValidation('sphere_os')">
                                            <option *ngFor="let item of RxSphereValues; "
                                                [selected]="item.id == '+2.25'"
                                                [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                                [ngValue]="item.id">{{item.name}}</option>
                                        </select>
                                        <input (change)="rxValidator($event,true);MandatoryValidation('sphere_os')" type="text" class="form-control"
                                            formControlName="sphere_os" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <!-- <input type="number" class="form-control" formControlName="cyl_os">
                                    <select class="form-control" formControlName="cyl_os">
                                        <option *ngFor="let item of RxCylinderValues" [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"[ngValue]="item.id">{{item.name}}</option>
                                    </select>-->

                                    <div class="select-editable">
                                        <select class="custom-select-choose form-control"
                                            (change)="valuesAssigner('cyl_os',$event)">
                                            <option *ngFor="let item of RxCylinderValues"
                                                [selected]="item.id == '+2.25'"
                                                [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                                [ngValue]="item.id">{{item.name}}</option>
                                        </select>
                                        <input (change)="rxValidator($event,false,true)" type="text"
                                            class="form-control" formControlName="cyl_os" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <select class="form-control" formControlName="axis_os">
                                        <option *ngFor="let axis of AxisValues " [ngValue]="axis.id">{{axis.name}}
                                        </option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <!-- <input type="number" class="form-control" formControlName="add_os">
                                    <select class="form-control" formControlName="add_os">
                                        <option *ngFor="let item of RxAddValues" [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"[ngValue]="item.id">{{item.name}}</option>
                                    </select>-->
                                    <div class="select-editable">
                                        <select class="custom-select-choose form-control"
                                            (change)="valuesAssigner('add_os',$event)">
                                            <option *ngFor="let item of RxAddValues"
                                                [selected]="item.id==addDropperDefaultos"
                                                [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                                [ngValue]="item.id">{{item.name}}</option>
                                        </select>
                                        <input (change)="rxValidator($event)" type="text" class="form-control"
                                            formControlName="add_os" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="number" onfocus="this.save_value = this.value;"
                                        (change)="segValidate($event); this.save_value = this.value; "
                                        class="form-control" formControlName="seg_os">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input onfocus="this.save_value = this.value;"
                                        (change)="prismValidate($event); this.save_value = this.value;" type="text"
                                        style="text-transform:uppercase;" class="form-control"
                                        formControlName="mr_os_p">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <!-- <input type="number" class="form-control" formControlName="mr_os_prism"> -->
                                    <select class="form-control" formControlName="mr_os_prism">
                                        <option *ngFor="let item of RxHbaseValues"
                                            [ngClass]="{'value-positive-bg': item > 0, 'value-negative-bg': item < 0, 'bg-primary': item == 'PL'}"
                                            [ngValue]="item">{{item}}</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input onfocus="this.save_value = this.value;"
                                        (change)="prismValidate($event); this.save_value = this.value;" type="text"
                                        style="text-transform:uppercase;" class="form-control"
                                        formControlName="Vprism_os">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <!-- <input type="number" class="form-control" formControlName="mr_os_sel" > -->
                                    <select class="form-control" formControlName="mr_os_sel">
                                        <option *ngFor="let item of RxVbaseValues"
                                            [ngClass]="{'value-positive-bg': item > 0, 'value-negative-bg': item < 0, 'bg-primary': item == 'PL'}"
                                            [ngValue]="item">{{item}}</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mb-2">
                <table class="table ecl-table-exam">
                    <thead>
                        <tr class="text-nowrap">
                            <th></th>
                            <th>OC Hit</th>
                            <th>Vertex</th>
                            <th>BC</th>
                            <th>Dec</th>
                            <th>Inset</th>
                            <th>Total dec</th>
                            <th>Style</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="light-pink" *ngIf="!disableOD">
                            <td>
                                <b>OD</b>
                            </td>
                            <td>
                                <div>
                                    <input type="text" class="form-control" formControlName="oc_od">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" class="form-control" formControlName="vertex_od">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" class="form-control" formControlName="BC_od">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" class="form-control" formControlName="dec_od">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" class="form-control" formControlName="Insert_od">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" class="form-control" formControlName="Totaldec_od">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" class="form-control" formControlName="oc_od">
                                </div>
                            </td>
                        </tr>
                        <tr class="light-blue" *ngIf="!disableOS">
                            <td>
                                <b>OS</b>
                            </td>
                            <td>
                                <div>
                                    <input type="text" class="form-control" formControlName="oc_os">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" class="form-control" formControlName="vertex_os">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" class="form-control" formControlName="BC_os">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" class="form-control" formControlName="dec_os">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" class="form-control" formControlName="insert_os">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" class="form-control" formControlName="totaldec_os">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" class="form-control" formControlName="oc_od">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mb-2">
                <div class="row">
                    <div class="col-md-4">
                        <table class="table ecl-table-exam">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Far</th>
                                    <th>Near</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="light-pink" *ngIf="!disableOD">
                                    <td>
                                        <b>OD</b>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="number" class="form-control"
                                                onfocus="this.save_value = this.value;"
                                                (change)="cPDvalidator($event); this.save_value = this.value;MandatoryValidation('dist_pd_od')"
                                                formControlName="dist_pd_od" (input)="decimalValidator('dist_pd_od')" min="0">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="number" class="form-control"
                                                onfocus="this.save_value = this.value;"
                                                (change)="cPDvalidator($event); this.save_value = this.value;"
                                                formControlName="near_pd_od" (input)="decimalValidator('near_pd_od')" min="0">
                                        </div>
                                    </td>

                                </tr>
                                <tr class="light-blue" *ngIf="!disableOS">
                                    <td>
                                        <b>OS</b>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="number" class="form-control"
                                                onfocus="this.save_value = this.value;"
                                                (change)="cPDvalidator($event); this.save_value = this.value;MandatoryValidation('dist_pd_os')"
                                                formControlName="dist_pd_os" (input)="decimalValidator('dist_pd_os')" min="0">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="number" class="form-control"
                                                onfocus="this.save_value = this.value;"
                                                (change)="cPDvalidator($event); this.save_value = this.value;"
                                                formControlName="near_pd_os" (input)="decimalValidator('near_pd_os')" min="0">
                                        </div>
                                    </td>
                                </tr>
                                <tr class="light-grey" *ngIf="!disableOU">
                                    <td>
                                        <b>OU</b>
                                    </td>
                                    <td>
                                        <input type="number" step="0.25" class="form-control"
                                            onfocus="this.save_value = this.value;"
                                            (change)="cPDvalidator($event); this.save_value = this.value;"
                                            formControlName="del_status">
                                    </td>
                                    <td>
                                        <input type="number" step="0.25" class="form-control"
                                            onfocus="this.save_value = this.value;"
                                            (change)="cPDvalidator($event); this.save_value = this.value;"
                                            formControlName="rx_dos">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-8">
                        <table class="table ecl-table-exam">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>UPC</th>
                                    <th>Source</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="light-pink row-btn" *ngIf="!disableOD">
                                    <td>
                                        <b>OD</b>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-8">{{TypeODdata}}</div>
                                            <div class="col-sm-4">
                                                <a class="btn btn-primary" (click)="spectaclesLensUPC('OD')">
                                                    <i class="ti-more-alt"></i>
                                                </a>
                                                <a class="btn btn-primary" (click)="onEquals()">
                                                    <i class="ti-line-double"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>

                                </tr>
                                <tr class="light-blue row-btn" *ngIf="!disableOS">
                                    <td>
                                        <b>OS</b>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-8">{{TypeOSdata}}</div>
                                            <div class="col-sm-4">
                                                <a class="btn btn-primary" (click)="spectaclesLensUPC('OS')">
                                                    <i class="ti-more-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-12">


            <div class="row form-row">

                <div class="form-group col-md-2">
                    <label>Computer Distance</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Corridor Length</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Eye Rotation Center OD</label>
                    <input type="text" class="form-control bg-light-pink">
                </div>
                <div class="form-group col-md-2">
                    <label>Eye Rotation Center OS</label>
                    <input type="text" class="form-control bg-light-blue">
                </div>
                <div class="form-group col-md-2">
                    <label>Frame Curve</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Frame Fit</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Head/Eye Coefficient</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Leading Dominant Eye</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Leading Hand</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Lifestyle Design</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Natural Head Posture</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Near Object Distance</label>
                    <input type="text" class="form-control">`
                </div>
                <div class="form-group col-md-2">
                    <label>Pantoscopic Tilt</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Progression Length</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Reading Distance</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Reading Working Distance</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Refracted Vertex Distance</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Screen Level</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Stabillity Coefficient</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Vertex Distance as Worn</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Select Spectacle lens Sidebar -->
<div *ngIf="selectSpectacleLensSidebar">
    <p-sidebar [(visible)]="selectSpectacleLensSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w80">
        <app-order-select-spectaclelens-od></app-order-select-spectaclelens-od>
    </p-sidebar>
</div>
<!-- <app-popup [(visible)]="showDialog" className="{{className}}">
    <h2 class="head_pop">{{head_pop}}</h2>
    <h3 class="message_pop" [innerHTML]="message_pop"></h3>
    <button (click)="btnAct(true)" type="button" class="btn foot_pop">{{button_pop}}</button>
    <button *ngIf="button_pop2 != ''" (click)="btnAct(false)" type="button" class="btn btn-danger foot_pop2">{{button_pop2}}</button>
</app-popup> -->
<dialog-box #alertpopup (btnAct)="btnAct($event)"> </dialog-box>

<!-- <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog> -->

<!-- <button type="text" (click)="confirm()" pButton  label="Confirm"></button> -->

<!-- <p-confirmDialog width="425" class="dialog-popup lens-selection" #selection>
    <p-footer>
        <button type="button" class="btn btn-primary" (click)="selection.accept()">Yes</button>
        <button type="button" class="btn btn-default" (click)="selection.reject()">No</button>
    </p-footer>
</p-confirmDialog> -->