<!-- Patient Header -->
<!-- <patient-bar></patient-bar> -->
<!-- Patient Header End-->

<!-- Filter -->
<app-order-filter></app-order-filter>
<!-- Filter end -->

<div class="col-md-12 ecl-order-content">
    <p-tabView orientation="left" class="ecl-leftTabview lens-label" (onChange)="PageClick($event)">
        <p-tabPanel header="Frames" [selected]="FramesScreenVisible">
            <app-order-frame></app-order-frame>
        </p-tabPanel>
        <p-tabPanel header="Lens Selection" [selected]="LensScreenVisible">
            <app-order-lens-selection></app-order-lens-selection>
        </p-tabPanel>
        <p-tabPanel header="Other Details" [selected]="OtherScreenVisible">
            <app-order-other-details></app-order-other-details>
        </p-tabPanel>
        <p-tabPanel header="Shipping Details" *ngIf="ShippingEnableStatus" [selected]="ShippingScreenVisible">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <app-order-shipping-details></app-order-shipping-details>
                </div>
            </div>
        </p-tabPanel>    
    <p-tabPanel header={{framesSpecPrice}} class="frame-header" [disabled]="true" *ngIf="framesSpeclable">
    </p-tabPanel>
    <p-tabPanel header={{lensSpecPrice}} class="frame-header" [disabled]="true" *ngIf="lensSpeclable">
    </p-tabPanel>
    <p-tabPanel header={{otherSpecPrice}} class="frame-header" [disabled]="true" *ngIf="otherSpeclable">
    </p-tabPanel>
    <p-tabPanel header={{orderPrice}} class="frame-header" [disabled]="true" *ngIf="orderlable">
        </p-tabPanel>
    </p-tabView>
</div>

<!-- Add/Modify Patient Info Sidebar  -->
<p-sidebar [(visible)]="addPatientInfoSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-patientinfo-sidebar">
    <div class="card">
        <div class="card-header">Add/Modify Patient Demographics</div>
        <div class="card-body">
            <div class="row">
            </div>
        </div>
        <div class="card-footer">
            <form class="form-inline float-right">
                <button type="button" class="btn btn-primary" (click)="addPatientInfoSidebar = false">Save</button>
            </form>
        </div>
    </div>
</p-sidebar>
<!-- End Add/Modify Patient Info Sidebar -->
<app-bottom-button-group></app-bottom-button-group>