.blinking{
	animation:blinkingText 0.7s infinite;
}
@keyframes blinkingText{
	0%{		color: #000;  background-color: rgb(255,0,0,0.3);	}
	49%{	color: transparent; background-color: transparent;	}
	50%{	color: #000; background-color: rgb(255,0,0,0.3);	}
	99%{	color:transparent; background-color: transparent;	}
	100%{	color: #000; background-color: rgb(0,128,0,0.3) 	}
}

