<form [formGroup]="physicalCount" (ngSubmit)="saveBatch()" #documentBatchForm="ngForm">
    <nav class="ecl-subnavbar">
        <div class="container-fluid">
            <div class="col-sm-12 col-md-2 float-left navbar-title">
                <h2>Physical Counts</h2>
            </div>
            <ul class="nav justify-content-end col-sm-12 col-md-10">
                <li class="nav-item">
                    <a class="nav-link"><i class="ti-plus"></i> Add </a>
                </li>
                <li class="nav-item" (click)="physicalSearchClick()">
                    <a class="nav-link">
                        <i class="ti-search"></i> Search
                    </a>
                </li>
                <li class="nav-item">
                    <a (click)="documentBatchForm.ngSubmit.emit()" class="nav-link"><i class="ti-save"></i>  Save  </a>
                </li>
                <li class="nav-item">
                    <a (click)="deleteBatch()" class="nav-link">
                        <i class="ti-trash"></i> Delete
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"> Combine </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="col-sm-12" formGroupName="batchGroup">
        <div class="row form-row">
            <div class="form-group col-sm-3">
                <label for="Location">Location</label>
                <select formControlName="location" (change)="changeLocation($event)" class="form-control" id="Location">
                    <option *ngFor="let loc of locations" [value]="loc.Id">{{loc.Name}}</option>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label for="itemtype">Item Type</label>
                <select formControlName="item" class="form-control">
                    <option value="">Select Item </option>
                    <option *ngFor="let item of items" [value]="item.id">{{item.module_type_name}}</option>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label>Manufacturer</label>
                <p-autoComplete [style]="{'width':'100%'}" [inputStyle]="{'width':'calc(100% - 2.3em)'}" [dropdown]="true"
                    [(ngModel)]="manufacturer" [ngModelOptions]="{standalone: true}"
                    forceSelection="true" field="Name" [suggestions]="filteredManufacturers" (completeMethod)="searchManufacturer($event)"
                    [minLength]="1" placeholder="Hint: type 'a' or 'b'">
                    <ng-template let-manufacturer pTemplate="item">
                        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                            <div style="font-size:12px;padding:5px;">{{manufacturer.Name}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <div class="form-group col-sm-3">
                <label for="collection">Collection</label>
                <p-autoComplete [style]="{'width':'100%'}" [inputStyle]="{'width':'calc(100% - 2.3em)'}" [dropdown]="true"
                    [(ngModel)]="brand" [ngModelOptions]="{standalone: true}" forceSelection="true" field="Name"
                    [suggestions]="filteredBrands" (completeMethod)="searchBrandsRelatedManufactures($event)"
                    [minLength]="1" placeholder="Hint: type 'a' or 'b'">
                    <ng-template let-manufacturer pTemplate="item">
                        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                            <div style="font-size:12px;padding:5px;">{{manufacturer.Name}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>

            </div>
        </div>
        <div class="row form-row">
            <div class="form-group col-sm-3">
                <label for="id">ID</label>
                <input formControlName="batchID" disabled type="text" class="form-control">
            </div>
            <div class="form-group col-sm-3">
                <label for="Frame">Date</label>
                <div>
                    <p-calendar formControlName="batchDate" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>Status</label>
                <select class="form-control" formControlName="batchStatus">
                    <option value="0">Open</option>
                    <option value="1">Close</option>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label>Notes</label>
                <textarea formControlName="batchNotes" name="" id="" cols="30" rows="1" class="form-control"></textarea>
            </div>
        </div>
    </div>

    <div class="col-md-12" formGroupName="physicalCountFormGroup">
        <h4>SCAN</h4>
        <div class="row form-row">
                <div class="form-group col-sm-2">
                    <label for="id">Quantity</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.-]/g, '').replace(/(\..*)\./g, '$1');" formControlName="pc_qty" type="text" class="form-control">
                </div>
                <div class="form-group col-sm-2">
                    <label for="id">UPC</label>
                    <input formControlName="pc_upc" type="text" class="form-control">
                </div>
                <div class="col-sm-3 form-group order-shipping-bottom-btn">
                    <label class="label-empty"></label>
                    <button type="button" class="btn btn-primary py-1" (click)=addQuantityInItem()>Add</button>
                    <button type="button" class="hide btn btn-primary py-1" [disabled]="(activeBatch === 0)" (click)="ImportFile()">Import File</button>
                </div>
        </div>
    </div>
</form>
<div class="col-md-12">
    <div class="table-responsive">
        <p-table #grid [value]="inventoryItems" class="ecl-table ecl-ptable" [scrollable]="true" [style]="{width:'2000px'}"
            [scrollHeight]="gridHeight">
            <ng-template pTemplate="header">
                <tr>
                    <th>File Name</th>
                    <th class="text-nowrap">Manufacturer</th>
                    <th>Collection</th>
                    <th>Name</th>
                    <th>UPC</th>
                    <th>Color</th>
                    <th class="text-nowrap">Color Number</th>
                    <th>Material</th>
                    <th>Frame Type</th>
                    <th>Eye</th>
                    <th>Retail</th>
                    <th>Qty</th>
                    <th>On Hand</th>
                    <th>+/- Variance</th>
                    <th>Cost</th>
                    <th>+/- Cost</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body"  let-inventoryItems >
                  <tr [ngClass]="{'blinking': id === inventoryItems.key }" id="{{inventoryItems.key}}" >
                    <td>{{inventoryItems.id}}</td>
                    <td>{{inventoryItems.manufacturer}}</td>
                    <td>{{inventoryItems.brand}}</td>
                    <td>{{inventoryItems.name}}</td>
                    <td>{{inventoryItems.upc}}</td>
                    <td>{{inventoryItems.color}}</td>
                    <td>{{inventoryItems.color_code}}</td>
                    <td>{{inventoryItems.material}}</td>
                    <td>{{inventoryItems.type}}</td>
                    <td>{{inventoryItems.eye}}</td>
                    <td>{{inventoryItems.retail_price}}</td>
                    <td>
                      <input type="number"
                               (change)='submitQuantity[inventoryItems.key].quantity_scanned = $event.target.value'
                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                               class="form-control"
                               [value]="submitQuantity[inventoryItems.key].quantity_scanned" />
                    </td>
                    <td>{{inventoryItems.stock}}</td>
                    <td>{{submitQuantity[inventoryItems.key].quantity_scanned - inventoryItems.stock | number}}</td>
                    <td>{{inventoryItems.wholesale_cost}}</td>
                    <td>{{inventoryItems.wholesale_cost * (submitQuantity[inventoryItems.key].quantity_scanned - inventoryItems.stock) | number }}</td>
                  </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-12 mt-2 order-shipping-bottom-btn">
            <button type="button" class="btn btn-primary float-right">Consolidate</button>
            <button type="button" class="btn btn-primary float-right">Fill Variances</button>
            <button type="button" class="btn btn-primary float-right">Fill Un-Scanned Items</button>
            <button type="button" class="btn btn-primary float-right">Frame Barcode...</button>
            <button type="button" class="btn btn-primary float-right">Clear All</button>
            <button type="button" class="btn btn-primary float-right">Delete</button>
            <button type="button" class="btn btn-primary float-right">Print Scan</button>
            <button type="button" class="btn btn-primary float-right">Print Summary</button>
            <button type="button" class="btn btn-primary float-right">Update On-Hand</button>
            <button type="button" class="btn btn-primary float-right" (click)= "batchSearchClik()">Batch Search</button>
        </div>
    </div>
</div>


<div *ngIf="physicalSearch">
    <p-sidebar [(visible)]="physicalSearch" (onHide)='mergeData()' position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-ptable ecl-sidebar-w50">
        <app-physical-count-search 
             [filteredManufacturers]=filteredManufacturers 
             (onSuggestManufacturer)="searchManufacturer($event)"
             (changeLocation)="changeLocation($event)" 
             [Locations]=locations 
             [brands]=brands 
             (changeBrand)="changeBrand($event)"
             [items]=items 
             [(manufacturer_selected)]="manufacturer" 
             (searchoutput)="searchevent($event)"
             >
        </app-physical-count-search>
    </p-sidebar>
</div>

<div *ngIf="physicalImportFile">
    <p-sidebar [(visible)]="physicalImportFile" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-ptable ecl-sidebar-w50">
        <app-physical-import-file [batch]=activeBatch></app-physical-import-file>
    </p-sidebar>
</div>

<!-- <app-popup [(visible)]="showDialog"  className="{{className}}">
  <h2 class="head_pop">{{head_pop}}</h2>
  <p class="message_pop" [innerHTML]="message_pop"></p>
  <button (click)="btnAct(true)" type="button" class="btn btn-primary  foot_pop">{{button_pop}}</button>
  <button *ngIf="button_pop2 != ''" (click)="btnAct(false)" type="button" class="btn foot_pop2">{{button_pop2}}</button>
</app-popup> -->
<dialog-box #alertpopup  (btnAct)="btnAct($event)"> </dialog-box>


<div  *ngIf="progressBar">
    <div class="progress-bar-overlay"></div>
    <div class="progress-bar-loader"> <b> Loading...</b>
        <p-progressBar [value]="100"></p-progressBar>
    </div>
</div>

<div *ngIf="batchSearch">
    <p-sidebar [(visible)]="batchSearch" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-ptable ecl-sidebar-w40">
        <app-physical-count-batch-search (batchsearchoutput)="batchSearchCancelevent($event)"></app-physical-count-batch-search>
    </p-sidebar>
</div>