<!-- <patient-bar></patient-bar> -->
<div class="clearfix"></div>
<div class="claimflt form-inline">
	<label >Claim No :</label>
	<input type="text" class="form-control" placeholder=" ">
	<label >Patient Name :</label>
	<input type="text" class="form-control" placeholder=" ">
	<button type="submit" class="searchclaim">Search</button>
	<button type="submit" class="addclaim">Add Claim</button>
</div>
<div class="clearfix"></div>
<div class="col-sm-12 tabing">
  <div class="ml-3 mr-3">
    <div class="row">
      <div class="col-sm-2">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item"> <a class="nav-link active" id="patient-tab" data-toggle="tab" href="#patient" role="tab" aria-controls="patient" aria-selected="true">Patient</a> </li>
          <li class="nav-item"> <a class="nav-link" id="referring-tab" data-toggle="tab" href="#referring" role="tab" aria-controls="referring" aria-selected="false">Referring Provider</a> </li>
          <li class="nav-item"> <a class="nav-link" id="charges-tab" data-toggle="tab" href="#charges" role="tab" aria-controls="charges" aria-selected="false">Charges</a> </li>
          <li class="nav-item"> <a class="nav-link" id="provider-tab" data-toggle="tab" href="#provider" role="tab" aria-controls="provider" aria-selected="false">Provider</a> </li>
          <li class="nav-item"> <a class="nav-link" id="paperwork-tab" data-toggle="tab" href="#paperwork" role="tab" aria-controls="paperwork" aria-selected="false">Paperwork </a> </li>
          <li class="nav-item"> <a class="nav-link" id="interactions-tab" data-toggle="tab" href="#interactions" role="tab" aria-controls="interactions" aria-selected="false">Interactions</a> </li>
          <li class="nav-item"> <a class="nav-link" id="validations-tab" data-toggle="tab" href="#validations" role="tab" aria-controls="validations" aria-selected="false">Validations</a> </li>
        </ul>
      </div>
      <div class="col-sm-10">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="patient" role="tabpanel" aria-labelledby="patient-tab">
            <app-patient></app-patient>
          </div>
          <div class="tab-pane fade  " id="referring" role="tabpanel" aria-labelledby="referring-tab">
            <app-refering-provider></app-refering-provider>
          </div>
          <div class="tab-pane fade  " id="charges" role="tabpanel" aria-labelledby="charges-tab">
            <app-charges></app-charges>
          </div>
          <div class="tab-pane fade  " id="provider" role="tabpanel" aria-labelledby="provider-tab">
            <app-provider></app-provider>
          </div>
          <div class="tab-pane fade  " id="paperwork" role="tabpanel" aria-labelledby="paperwork-tab">
            <app-paperwork></app-paperwork>
          </div>
          <div class="tab-pane fade  " id="interactions" role="tabpanel" aria-labelledby="interactions-tab">
            <app-interactions></app-interactions>
          </div>
          <div class="tab-pane fade  " id="validations" role="tabpanel" aria-labelledby="validations-tab">
            <app-validations></app-validations>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
