/* Batch claim Patient */
.claimflt{background-color:#f7941e; padding: 5px; text-align: center; }
.addclaim{ background-color:#4b4b4b!important; border-radius: 4px; padding: 3px 10px; color: #fff; border:0px; font-size: 14px; }
.searchclaim{ background-color:#012677!important; border-radius: 4px; padding: 3px 10px; color: #fff; border:0px; font-size: 14px; }
.claimflt .form-control{ width:250px; margin: 0px 5px}
.claimflt label{ color:#fff; font-weight:bold}