<p-confirmDialog #selection> 
    <p-footer>
        <button type="button" class="btn btn-primary pl-4 pr-4" (click)="selection.accept()">Yes</button>
        <button type="button" class="btn btn-default pl-4 pr-4" (click)="selection.reject()">No</button>
    </p-footer>
</p-confirmDialog>