<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-4 float-left navbar-title">
            <h2>Lens RX Calculator</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-8 pr-0">
            <li class="nav-item">
                <a class="nav-link" (click)="showIntermediate()">
                    Intermediate / Near Lens Power
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="showPower()">
                    Power / Prism / Slab-Off
                </a>
            </li>
            <li class="nav-item" (click)="showVertex()">
                <a class="nav-link"> Vertex Distance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"> Math Calculator</a>
            </li>
        </ul>
    </div>
</nav>


<div *ngIf="intermediateShow">
    <intermediate-Calculator></intermediate-Calculator>
</div>

<div *ngIf="powerCalculatorshow">
    <power-prism-slaboff-component></power-prism-slaboff-component>
</div>
<div *ngIf="vertexDistanceShow">
    <vertex-distance></vertex-distance>
</div>