<!-- Add/Modify Frames Inventory Sidebar -->

<form id=addframes [formGroup]="FarmesForm" #formDir="ngForm" novalidate>
    <div class="card">
        <div class="card-header">Add/Modify Frame Details</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p-tabView class="ecl-tabview" (onChange)="onFramesTabsClick($event)">
                        <p-tabPanel header="Frame Details">
                            <div class="row form-row">
                                <div class="form-group col-md-4">
                                    <label>Manufacturer
                                        <span class="text-danger" *ngIf="FarmesForm.controls['manufacturer_id'].hasError('required' )">
                                            * </span>
                                    </label>
                                    <select class="form-control" formControlName="manufacturer_id">
                                        <!-- <option [ngValue]="null">Select Manufacturer</option> -->
                                        <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}</option>
                                    </select>

                                </div>
                                <div class="form-group col-md-4">
                                    <label>Brand
                                        <span class="text-danger" *ngIf="FarmesForm.controls['brand_id'].hasError('required')">
                                            * </span>
                                    </label>
                                    <select class="form-control" formControlName="brand_id">
                                        <option *ngFor="let Brand of Brands" [ngValue]="Brand.Id">{{Brand.Name}}</option>
                                    </select>
                                    <!--  <input type="text" class="form-control" formControlName="brandId"> -->

                                </div>
                                <div class="form-group col-md-4">
                                    <label>Frame Name
                                        <span class="text-danger" *ngIf="FarmesForm.controls['name'].hasError('required')">
                                            *</span>
                                    </label>
                                    <input type="text" class="form-control" formControlName="name">

                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="form-group col-md-3">
                                    <label>Color</label>
                                    <select class="form-control" formControlName="colorid" (change)="colorCodeValue()">
                                        <option *ngFor="let color of colors" [ngValue]="color.Id">{{color.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Color Code</label>
                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}" formControlName="colodCode"></p-dropdown> -->

                                    <input type="text" class="form-control" formControlName="color_code">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Material
                                        <span class="text-danger" *ngIf="FarmesForm.controls['material_id'].hasError('required')">
                                            *</span>
                                    </label>
                                    <select class="form-control" formControlName="material_id">
                                        <option *ngFor="let material of materials" [ngValue]="material.id">{{material.materialname}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Supplier</label>
                                    <select class="form-control" formControlName="vendor_id">
                                        <option *ngFor="let supplier of suppliers" [ngValue]="supplier.Id">{{supplier.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="form-group col-md-3">
                                    <label>Frame Type</label>

                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                    <select class="form-control" formControlName="type_id">
                                        <option *ngFor="let Ftype of framesTypeDropDown" [ngValue]="Ftype.Id">{{Ftype.Name}}</option>
                                    </select>

                                </div>
                                <div class="form-group col-md-3">
                                    <label>Rim Type</label>
                                    <select class="form-control" formControlName="rimtypeid">
                                        <option *ngFor="let Rtype of framesRimType" [ngValue]="Rtype.Id">{{Rtype.Name}}</option>
                                    </select>
                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Shape</label>

                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}" formControlName="shapeId"></p-dropdown> -->

                                    <select class="form-control" formControlName="frame_shape">
                                        <option *ngFor="let Fshape of framesShapeDropDown" [ngValue]="Fshape.Id">{{Fshape.Name}}</option>
                                    </select>

                                </div>
                                <div class="form-group col-md-2">
                                    <label>Gender</label>
                                    <select class="form-control" formControlName="gender">
                                        <option [ngValue]="null">Select Gender</option>
                                        <option *ngFor="let gender of genderDropDown" [ngValue]="gender.gender_name">{{gender.gender_name}}</option>
                                    </select>
                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Source</label>
                                    <select class="form-control" formControlName="sourceid">
                                        <option *ngFor="let Stype of framesSource" [ngValue]="Stype.Id">{{Stype.Name}}</option>
                                    </select>
                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                </div>
                            </div>
                            <div class="row form-row d-flex justify-content-between">
                                <div class="form-group col">
                                    <label>Eye</label>
                                    <input type="text" class="form-control" formControlName="eyesize">
                                </div>
                                <div class="form-group col">
                                    <label>A</label>
                                    <input type="text" class="form-control" formControlName="a">
                                </div>
                                <div class="form-group col">
                                    <label>B</label>
                                    <input type="text" class="form-control" formControlName="b">
                                </div>
                                <div class="form-group col">
                                    <label>Ed</label>
                                    <input type="text" class="form-control" formControlName="ed">
                                </div>
                                <div class="form-group col">
                                    <label>Bridge</label>
                                    <input type="text" class="form-control" formControlName="bridge">
                                </div>
                                <div class="form-group col">
                                    <label>Temple</label>
                                    <input type="text" class="form-control" formControlName="temple">
                                </div>
                                <div class="form-group col">
                                    <label>Status</label>
                                    <select class="form-control" formControlName="del_status">
                                        <option [ngValue]="null">Select Status</option>
                                        <option *ngFor="let stat of activestatus" [ngValue]="stat.Id">{{stat.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="form-group col-md-3">
                                    <label>Lens Color</label>
                                    <select class="form-control" formControlName="lenscolor">
                                        <option *ngFor="let color of lenscolor" [ngValue]="color.Id">{{color.Name}}</option>
                                    </select>

                                </div>
                                <div class="form-group col-md-3">
                                    <label>Usage</label>
                                    <select class="form-control" formControlName="frameusageid">
                                        <option *ngFor="let Utype of framesUsage" [ngValue]="Utype.Id">{{Utype.Name}}</option>
                                    </select>
                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Procedure Code</label>
                                    <p-autoComplete  [suggestions]="filteredProcedures"
                                    (completeMethod)="filterProcedures($event)" field="Name" dataKey="Id"
                                    formControlName="procedure_code" (click)="selectPocedureData($event)"
                                    [minLength]="1" [dropdown]="true" >
                                    <ng-template let-procedure pTemplate="item">
                                        <div class="ui-helper-clearfix">
                                            <div>{{procedure.Name}}</div>
                                        </div>
                                    </ng-template>
                                </p-autoComplete>
                                </div>
                                <div class="col-md-3">
                                    <div class="d-flex justify-content-between form-row">
                                        <div class="form-group col">
                                            <label>Min Qty</label>
                                            <input type="text" class="form-control" (keypress)="numberOnly($event)"
                                                formControlName="min_qty">
                                        </div>
                                        <div class="form-group col">
                                            <label>Max Qty</label>
                                            <input type="text" class="form-control" (keypress)="numberOnly($event)"
                                                formControlName="max_qty">
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                            <div class="row form-row">
                                <div class="form-group col-md-3">
                                    <label>UPC
                                        <span class="text-danger" *ngIf="FarmesForm.get('upc_code').hasError('required')">*</span>
                                        <span class="text-danger" *ngIf="FarmesForm.get('upc_code').touched">
                                            <small *ngIf="FarmesForm.get('upc_code').hasError('invalidNumber')">Numeric Only</small>
                                            <small *ngIf="FarmesForm.get('upc_code').hasError('maxlength')">Allowed only 14 numeric values. </small>
                                        </span>
                                       
                                    </label>
                                    <input type="text" class="form-control" formControlName="upc_code" [readonly]='upcdisable' maxlength="14">

                                </div>
                                <div class="form-group col-md-2">
                                    <label>UPC Type</label>
                                    <select class="form-control" formControlName="upctypeid">
                                        <option *ngFor="let UPCtype of framesUpcType" [ngValue]="UPCtype.Id">{{UPCtype.Name}}</option>
                                    </select>
                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                </div>
                                <div class="form-group col-md-3">
                                    <label>User SKU</label>
                                    <input type="text" class="form-control" formControlName="sku">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>IDA Id</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="ida_id" [readonly]='true'>
                                        <div class="input-group-append">
                                            <button class="btn btn-space" (click)="selectFrameSidebar=true" type="button">
                                                <i class="ti-more-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="form-group col-md-2">
                                    <label>Retail Price</label>
                                    <input type="text" formControlName="retail_price" (input)="profitcalculate();" class="form-control">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Cost</label>
                                    <input type="text" class="form-control" formControlName="wholesale_cost" (input)="profitcalculate();">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Profit</label>
                                    <input type="text" class="form-control" [readonly]="true" formControlName="profit">
                                </div>

                                <div class="form-group col-md-2">
                                    <label>Group Cost 
                                        <span class="text-danger" *ngIf="FarmesForm.get('groupcost').touched && FarmesForm.get('groupcost').hasError('invalidNumber')"><small> Numeric only</small></span>
                                    </label>
                                    <input type="text" class="form-control" formControlName="groupcost" maxlength="">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>MSRP</label>
                                    <input type="text" class="form-control" formControlName="msrp">
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="label-empty"></label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="inventory">
                                        <label class="form-check-label">
                                            Inventory
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="form-group col-md-3">
                                    <label>Structure</label>
                                    <select class="form-control" formControlName="structure_id">
                                        <!-- <option [ngValue]="null">Select Location</option> -->
                                        <option *ngFor="let Structure of StructureDropData" [ngValue]="Structure.Id">{{Structure.Name}}</option>
                                    </select>
                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Commission Type</label>
                                    <select class="form-control" formControlName="commission_type_id">
                                        <!-- <option [ngValue]="null">Select Location</option> -->
                                        <option *ngFor="let Type of TypeDropData" [ngValue]="Type.Id">{{Type.Name}}</option>
                                    </select>
                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                </div>

                                <div class="form-group col-md-2">
                                    <label>Amount</label>
                                    <input type="text" class="form-control" formControlName="amount">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Gross Percentage</label>
                                    <input type="text" class="form-control" formControlName="gross_percentage">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Spiff</label>
                                    <input type="text" class="form-control" formControlName="spiff">
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="form-group col-md-8">
                                    <label>Trace File</label>
                                    <div class="input-group mb-2">
                                        <input type="text" class="form-control" formControlName="trace_file" [readonly]='true'>
                                        <div class="input-group-append">
                                            <button class="btn btn-space btn-fileupload">
                                                <span><i class="ti-folder"></i></span>
                                                <input #fileInput type='file' (click)="fileInput.value = null" (change)="traceFile($event)"
                                                    accept=".txt,.xml">
                                            </button>
                                            <button class="btn btn-space" (click)="deleteTraceFile()"><i class="ti-trash text-danger"></i></button>
                                            <button class="btn btn-space" (click)="viewTraceFile()"><i class="ti-eye"></i></button>
                                            <!-- <p-fileUpload mode="basic" name="" url="./"></p-fileUpload> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Lens Range</label>
                                    <div class="input-group mb-2">
                                        <input type="text" class="form-control" (click)="LensRangeDataDisaplay()"
                                            formControlName="frame_lens_range_id">
                                        <!-- <div class="input-group-append">
                                            <span class="input-group-text"> <i class="ti-angle-down"></i> </span>
                                        </div> -->
                                        <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                        <div class="input-group-append">
                                            <button class="btn btn-space" (click)="DisaplayLensRange()" type="button">
                                                <i class="ti-more-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="lensrange-table" *ngIf="LensRangeDataDropdown">
                                        <div class="table-responsive">
                                            <p-table [value]="LensRangeData" class="ecl-table ecl-ptable" [scrollable]="true"
                                                [style]="{width:'400px'}" scrollHeight="18vh" selectionMode="single">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th class="text-right">Sphere Min</th>
                                                        <th class="text-right">Sphere Max </th>
                                                        <th class="text-right">Cylinder Max</th>
                                                        <th class="text-right">Min PD</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-lensdatalist>
                                                    <tr [pSelectableRow]="lensdatalist" (dblclick)="DoubleClickLensRange(lensdatalist)">
                                                        <td class="text-right">{{lensdatalist.sphere_min}}</td>
                                                        <td class="text-right">{{lensdatalist.sphere_max}}</td>
                                                        <td class="text-right">{{lensdatalist.cylinder_max}}</td>
                                                        <td class="text-right">{{lensdatalist.min_pd}}</td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <label>Images</label>
                                    <div class="row form-row" formArrayName="imagesList">
                                        <div class="col-sm-3" *ngFor="let item of this.FarmesForm.get('imagesList')['controls'];  let i=index"
                                            [formGroupName]="i">
                                            <figure class="frame-add">
                                                <!-- <img *ngIf="!imageItem" alt="" [src]="item['controls'].Image.value" /> -->
                                                <!-- <img alt="" src="blob:http://localhost:4200/cff93f41-aadf-483e-969f-c96e1316242b" /> -->
                                                <img class="img-preview" alt="" [src]="item['controls'].Image.value" />

                                                <button class="btn btn-primary btn-sm img-delete" (click)="deleteImage(i)">
                                                    <i class="ti-trash"></i>
                                                </button>
                                            </figure>
                                        </div>
                                        <div class="col-sm-3">
                                            <figure class="frame-add">
                                                <div class="d-flex align-items-center justify-content-center h-100 w-100">
                                                    <div class="btn-fileupload p-5">
                                                        <span><i class="ti-plus"></i></span>
                                                        <input type='file' (change)="add($event)" accept="image/*"
                                                            multiple>
                                                    </div>
                                                </div>

                                                <!-- <p-fileUpload mode="basic" name="" accept="image/*" (onSelect)="add($event)"  multiple="multiple"  maxFileSize="100000000"></p-fileUpload> -->
                                                <!-- <i class="ti-plus" (click)="add()"></i> *ngIf="FarmesForm.controls.imagesList.controls.length > 1" -->
                                            </figure>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="form-group col-md-12">
                                    <label>Notes</label>
                                    <textarea name="" id="" cols="30" rows="5" class="form-control" formControlName="notes"></textarea>
                                </div>
                            </div>
                        </p-tabPanel>

                        <p-tabPanel header="Locations">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="locationGridData" class="ecl-table ecl-ptable"
                                            [scrollable]="true" [style]="{width:'2000px'}" scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Purchased</th>
                                                    <th>Sold</th>
                                                    <th>On Hand</th>
                                                    <th>On Order</th>
                                                    <th>Location Tax</th>
                                                    <th>Committed</th>
                                                    <th>Reorder Point</th>
                                                    <th>Max Inventory</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-locationGridData>
                                                <tr>
                                                    <!-- <td>{{locationGridData.loc_id}}</td> -->
                                                    <td>{{this.utility.getArrayItem({data:locations,matchWith:'id',matchValue:locationGridData.loc_id,position:1,dataType:'int'})}}
                                                    </td>
                                                    <td>{{locationGridData.quantitypurchased}}</td>
                                                    <td>{{locationGridData.quantitysold}}</td>
                                                    <td>{{locationGridData.stock}}</td>
                                                    <td>{{locationGridData.on_order_qty}}</td>
                                                    <td>{{locationGridData.location_tax}}</td>
                                                    <td>{{locationGridData.committed_qty}}</td>
                                                    <td>{{locationGridData.reorder_point}}</td>
                                                    <td>{{locationGridData.max_inventory_qty}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Transactions">
                            <div class="row form-row">

                                <div class="form-group col-md-1  ">
                                    <label class="label-empty"></label>
                                    <label>Filter</label>
                                </div>
                                <div class="form-group col-md-5  ">
                                    <label>Location</label>
                                    <select class="form-control" formControlName="locationId" (change)="filterTransactionOnLocationBased()">
                                        <!-- <option [ngValue]="null">Select Location</option> -->
                                        <option *ngFor="let location of locations" [ngValue]="location.id">{{location.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="label-empty"></label>

                                    <p-radioButton name="filter" value="Transactions" label="Transactions" (click)="trasactionApi()"></p-radioButton>

                                    <p-radioButton class=" ml-2" name="filter" value="Sales" label="Sales" (click)="salesApi()"></p-radioButton>
                                </div>
                            </div>
                            <div class="clearfix form-group"></div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="transacctionStockDetails" class="ecl-table ecl-ptable"
                                            [scrollable]="true" [style]="{width:'2000px'}" scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Date Received</th>
                                                    <th>Transactions Type</th>
                                                    <th>Quantity</th>
                                                    <th>Supplier</th>
                                                    <th>Shipment Id</th>
                                                    <th>Invoice No.</th>
                                                    <th>PO</th>
                                                    <th>Employee</th>
                                                    <th>Notes</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-transacctionStockDetails>
                                                <tr>
                                                    <!-- <td>{{transacctionStockDetails.loc_id}} </td> -->
                                                    <td>{{this.utility.getArrayItem({data:locations,matchWith:'id',matchValue:transacctionStockDetails.loc_id,position:1,dataType:'int'})}}
                                                    </td>
                                                    <td>{{transacctionStockDetails.inventory_receive.receive_date | date :'yyyy-MM-dd'}}</td>
                                                    <td>{{transacctionStockDetails.trans_type}}</td>
                                                    <td>{{transacctionStockDetails.stock}}</td>
                                                    <!-- <td>{{transacctionStockDetails.supplierid}}</td> -->
                                                    <td>{{this.utility.getArrayItem({data:suppliers,matchWith:'Id',matchValue:transacctionStockDetails.supplierid,position:1,dataType:'string'})}}
                                                    <td>{{transacctionStockDetails.shipmentid}}</td>
                                                    <td>{{transacctionStockDetails.inventory_receive.invoice}}</td>
                                                    <td>{{transacctionStockDetails.po_no}}</td>
                                                    <!-- <td>{{transacctionStockDetails.operator_id}}</td> -->
                                                    <td>{{transacctionStockDetails.inventory_receive.employee_name}}</td>
                                                    <td>{{transacctionStockDetails.inventory_receive.notes}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Style and Materials">
                            <div class="row form-row">
                                <div class="col-4">
                                    <h5>Styles</h5>
                                    <p-listbox [options]="stylcopy" formControlName="selectedstyles" checkbox="checkbox"
                                    multiple="multiple" filter="filter" optionLabel="name" [style]="{'width':'100%'}" [listStyle]="{'max-height':'38vh'}">
                                        <p-header>
                                            <b> Valid Lens Styles</b>
                                        </p-header>
                                    </p-listbox>
                                </div>
                                <div class="col-4 ml-4">
                                    <h5>Materials</h5>
                                    <p-listbox [options]="lensMaterial" multiple="multiple"  formControlName="SelectedMaterials" checkbox="checkbox" filter="filter"
                                    optionLabel="name" [style]="{'width':'100%'}" [listStyle]="{'max-height':'38vh'}">
                                        <p-header>
                                            <b>Valid Lens Materials</b>
                                        </p-header>
                                    </p-listbox>
                                </div>
                            </div>
                            <!--  <p-pickList [source]="locations" [target]="targetCars" sourceHeader="Styles" targetHeader="Materials" [responsive]="true"
                                filterBy="name" dragdrop="true" dragdropScope="cars"  [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
                                <ng-template let-type pTemplate="item">
                                    <div class="ui-helper-clearfix">
                                        <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{type.name}} </div>
                                    </div>
                                </ng-template>
                            </p-pickList> -->

                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form class="form-inline float-right">
                <div *ngIf="transactionsBtnHide">
                    <button class="btn btn-primary" (click)="addTransaction()"> Add</button>
                    <button class="btn btn-primary"> Details</button>
                </div>
                <button type="button" class="btn btn-primary" (click)="saveframe()" [disabled]="!formDir.form.valid">Save</button>
                <!--<button type="button" class="btn btn-primary" [disabled]="!formDir.form.valid" (click)="addFrameAlert()">test</button>-->
                <button type="button" class="btn btn-default" (click)="closeAddModifyer()">Cancel </button>
                <!-- <button type="button" (click)="confirmBox()" pButton icon="pi pi-check" label="Confirm"></button> -->

            </form>
        </div>
    </div>
</form>


<!-- End Add/Modify Frames Inventory Sidebar -->
<dialog-box #framesAlert></dialog-box>
<dialog-box #confirmdialog> </dialog-box>
<!-- <confirm-dialog #confirmdialog></confirm-dialog> -->

<!-- Advanced Filter -->
<p-sidebar [(visible)]="selectFrameSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-1 eli-sidebar-w100">
    <app-frames-data (FramesdatasubOutput)="FramesdatasubOutputEvent($event)"></app-frames-data>
</p-sidebar>


<!-- Add Lens Range -->
<div *ngIf="selectLensRange">
    <p-sidebar [(visible)]="selectLensRange" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-1 eli-sidebar-w100">
        <app-frames-lens-range (lensrangeOutput)="lensRangeevent($event)"></app-frames-lens-range>
    </p-sidebar>
</div>

<!-- Frame Add Transaction -->
<div *ngIf="frameAddTransaction">
    <p-sidebar [(visible)]="frameAddTransaction" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-1 eli-sidebar-w100">
        <app-frame-add-transaction (FramesTransaction)="FramesTransactionevent($event)"></app-frame-add-transaction>
    </p-sidebar>
</div>

<!-- View Trace File -->
<div *ngIf="traceFileViewSidenav">
    <p-sidebar [(visible)]="traceFileViewSidenav" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-1 eli-sidebar-w100">
        <app-trace-file-view [TraceFileText]="traceFileView"></app-trace-file-view>
    </p-sidebar>
</div>