<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-4 float-left navbar-title">
            <h2>Reports - Barcode Labels</h2>
        </div>
    </div>
</nav>
<div class="col-md-12">
    <p-tabView orientation="left" class="ecl-leftTabview">
        <p-tabPanel header="Barcodes">
            <div class="row form-row">
                <div class="form-group col-md-2">
                    <label>Location</label>
                    <p-dropdown [options]="locations1" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-md-2">
                    <label>Type</label>
                    <p-dropdown [options]="cities1" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-md-2">
                    <label>Last Update</label>
                    <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-md-2">
                    <label>Lens Style</label>
                    <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-md-2">
                    <label>Material</label>
                    <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-md-2">
                    <label>Color</label>
                    <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>

            <div class="border m-auto">
                <p-table [value]="gridlists" [columns]="cols" [scrollable]="true" [paginator]="true" [rows]="15"
                    [rowsPerPageOptions]="[15,30,45,60,75,90,100]" [resizableColumns]="true" [reorderableColumns]="true"
                    [responsive]="true" selectionMode="multiple">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-list let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns">
                                {{list[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </p-tabPanel>
        <p-tabPanel header="Preview">
            <div class="barcode-labels">
                <div class="card no-style">
                    <div class="card-header">
                        <h4>Preview</h4>
                    </div>
                    <div class="card-body border">

                        <ul class="list">
                            <li class="col-md-4 text-center">
                                <div class="border">
                                    <img src="assets/images/barcode.png" alt="Barcode" title="Barcode" />
                                </div>
                            </li>
                            <li class="col-md-4 text-center">
                                <div class="border">
                                    <img src="assets/images/barcode.png" alt="Barcode" title="Barcode" />
                                </div>
                            </li>
                            <li class="col-md-4 text-center">
                                <div class="border">
                                    <img src="assets/images/barcode.png" alt="Barcode" title="Barcode" />
                                </div>
                            </li>
                            <li class="col-md-4 text-center">
                                <div class="border">
                                    <img src="assets/images/barcode.png" alt="Barcode" title="Barcode" />
                                </div>
                            </li>
                            <li class="col-md-4 text-center">
                                <div class="border">
                                    <img src="assets/images/barcode.png" alt="Barcode" title="Barcode" />
                                </div>
                            </li>
                            <li class="col-md-4 text-center">
                                <div class="border">
                                    <img src="assets/images/barcode.png" alt="Barcode" title="Barcode" />
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="clearfix">
                            <div class="pull-left">
                                <ul class="button-group">
                                    <li><a><i class="ti-printer"></i> Print</a></li>
                                    <li><a><i class="icon-print-settings"></i> Print Setup</a></li>
                                    <li><a><i class="ti-email"></i> Email</a></li>
                                    <li><a><i class="icon-fax"></i> Fax</a></li>
                                    <li><a><i class="icon-save-as"></i> Save As</a></li>
                                    <li><a><i class="icon-sort"></i> Sort</a></li>
                                    <li><a><i class="ti-filter"></i> Filter</a></li>
                                    <li><a><i class="ti-zoom-in"></i> Zoom</a></li>
                                    <li class="barcode-checkbox-pd">
                                        <p-checkbox name="group1" value="New York" label="Ruler"></p-checkbox>
                                    </li>
                                    <li><a><i class="ti-settings"></i> Setting</a></li>
                                    <li class="barcode-pd">
                                        <label class="mr-2">Start Pos </label>
                                        <p-spinner size="8" class="mr-1"></p-spinner>
                                        <button type="button" class="btn btn-primary float-right py-1 ml-0">Apply</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary float-right py-1 mt-1">Layout</button>
                            </div>

                            <!--<button type="button" class="btn btn-primary float-right" >Add</button>
                        <button type="button" class="btn btn-primary float-right" >Details..</button>
                        <button type="button" class="btn btn-primary float-right" >Add</button>
                        <button type="button" class="btn btn-primary float-right" >Delete</button>
                        <button type="button" class="btn btn-primary float-right" >Update Config...</button>
                        <button type="button" class="btn btn-primary float-right" >Create PO...</button>
                        <button type="button" class="btn btn-primary float-right" >Transfer</button>
                        <button type="button" class="btn btn-primary float-right" >Delete All</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>