<div class="card">
        <div class="card-header"> Service Inventory Transaction</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4> Add/Modify Inventory Transaction </h4>
                    <div class="row form-row">
                        <div class="form-group col-sm-6">
                            <label>Location </label>
                            <select class="form-control">
                                <option>Select Location</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Date Received</label>
                            <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Type</label>
                            <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="form-group col-sm-3">
                            <label>Invoice </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Payment Terms</label>
                            <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                            <select class="form-control">
                                <option >Select Payment Term</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Return Date</label>
                            <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Supplier</label>
                            <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Cost</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Quantity</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Expiration Date</label>
                            <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Lot No #</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Notes</label>
                            <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default float-right">Cancel </button>
            <button type="button" class="btn btn-primary float-right">Save</button>
        </div>
    </div>