<form>
    <div class="card">
        <div class="card-header">Daily Closing - Open Date</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mt-2">Date</h4>

                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right">Cancel</button>
            <button type="button" class="btn btn-primary float-right">Go To</button>
            <button type="button" class="btn btn-primary float-right">Process All</button>
        </div>
    </div>
</form>