<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-3 float-left navbar-title">
            <h2>Reports - Lab Orders</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-9">
            <li class="nav-item" (click)="criteriaSearch()">
                <a class="nav-link">
                    <i class="ti-search"></i> Search
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="icon-edit"></i> Save As
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"> <i class="ti-exchange-vertical"></i> Sort</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"> Private Lab</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"> VisionWeb</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"> Layout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"> Filter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <p-checkbox value="Print Preview" label="Print Preview" binary="true"></p-checkbox>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <p-checkbox value="Ruler" label="Ruler" binary="true"></p-checkbox>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="icon-more2"></i> More</a>
                <ul class="more dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link">Advanced Filter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"> Print</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"> Print Setup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"> E-Mail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"> Fax</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"> Zoom</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!-- <div class="col-md-12 text-right">


    <button type="button" class="btn btn-primary"> </button>
    <button type="button" class="btn btn-primary"> VisionWeb</button>
    <button type="button" class="btn btn-primary"> Layout</button>
</div> -->
<div *ngIf="criteriaSearchSidebar">
    <p-sidebar [(visible)]="criteriaSearchSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-ptable ecl-sidebar-w50">
        <app-criteria-search (labordersearch)="labordersearchevent($event)"></app-criteria-search>
    </p-sidebar>
</div>