<p-dialog class="dialog-popup" header="Deactivate Inventory Item(s)" positionLeft="100%" [(visible)]="display" [modal]="true" [responsive]="true" [width]="480"
    [minWidth]="200" [minY]="70">
    <h5>Are you sure you want to Deactivate the selected row.</h5>
    <p-footer>
        <button type="button" class="btn btn-primary" (click)="DeactivateData()">Deactivate</button>
        <button type="button" class="btn btn-default" (click)="display=false">Cancel </button>
    </p-footer>
</p-dialog>