<form id=addsupplier [formGroup]="LensTreatmentForm" #formDir="ngForm" novalidate>
    <div class="card">
        <div class="card-header">Add/Modify Lens Treatments</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p-tabView class="ecl-tabview" (onChange)="onLensTreatmentTabsClick($event)">
                        <p-tabPanel header="Lens Treatment Details">
                            <div class="row form-row">
                                <div class="form-group col-sm-5">
                                    <label>Category</label>
                                    <span class="text-danger" *ngIf="LensTreatmentForm.controls['categoryid'].hasError('required')">
                                        * </span>
                                    <select name="lenstreatments" class="form-control"
                                        formControlName="categoryid">
                                        <option *ngFor="let lens of LensTreatments" [ngValue]="lens.Id">{{lens.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-5">
                                    <label>VSP Code</label>
                                    <input id="VisionWebCode" type="text" formControlName="vsp_code" class="form-control">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label>Unit</label>
                                    <span class="text-danger" *ngIf="LensTreatmentForm.controls['unitmeasure'].hasError('required')">
                                        * </span>
                                    <select name="Unit" formControlName="unitmeasure" class="form-control" id="">
                                        <option value="">Select Unit</option>
                                        <option value="Each">Each</option>
                                        <option value="Pair">Pair</option>
                                    </select>

                                </div>
                                <div class="form-group col-sm-12">
                                    <label>Name
                                        <span class="text-danger" *ngIf="LensTreatmentForm.controls['name'].hasError('required')">
                                            * </span>
                                    </label>
                                    <input id="Name" type="text" formControlName="name" class="form-control">
                                </div>

                                <div class="form-group col-sm-3">
                                    <label>UPC
                                        <span class="text-danger" *ngIf="LensTreatmentForm.controls['upc_code'].hasError('required')">
                                            * </span>
                                    </label>
                                    <input type="text" formControlName="upc_code" class="form-control" (keypress)="keyPress($event)"
                                        maxlength=14>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Retail</label>
                                    <input type="text" formControlName="retail_price" (input)="profitcalculate();" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Cost</label>
                                    <input type="text" formControlName="wholesale_cost" (input)="profitcalculate();" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Profit</label>
                                    <input type="text" formControlName="profit" [readonly]="true" class="form-control">
                                </div>
                                <div class="form-group col-sm-12">
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" formControlName="inventory">
                                            <label class="form-check-label">Inventory</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" formControlName="send_to_lab_flag">
                                            <label class="form-check-label">Sent to Lab</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" formControlName="print_on_order">
                                            <label class="form-check-label">Print on Order</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Structure</label>
                                    <select class="form-control" formControlName="structure_id">
                                        <!-- <option [ngValue]="null">Select Location</option> -->
                                        <option *ngFor="let Structure of StructureDropData" [ngValue]="Structure.Id">{{Structure.Name}}</option>
                                    </select>
                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Commission Type</label>
                                    <select class="form-control" formControlName="commission_type_id">
                                        <!-- <option [ngValue]="null">Select Location</option> -->
                                        <option *ngFor="let Type of TypeDropData" [ngValue]="Type.Id">{{Type.Name}}</option>
                                    </select>
                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Amount</label>
                                    <input type="text" class="form-control" formControlName="amount">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Gross Percentage</label>
                                    <input type="text" class="form-control" formControlName="gross_percentage">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Spiff</label>
                                    <input type="text" class="form-control" formControlName="spiff">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>VCP Vision Modifier</label>
                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                    <select class="form-control" formControlName="modifier_id">
                                        <!-- <option [ngValue]="null">Select Location</option> -->
                                        <option *ngFor="let vcp of vcpDropData" [ngValue]="vcp.Id">{{vcp.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>DVI Code Type</label>
                                    <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="notes">Notes</label>
                                    <textarea class="form-control" rows="3" formControlName="notes" id="notes" ></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <table class="table table-bordered" formArrayName="procedureCodes">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Procedure</th>
                                                <th>Retail</th>
                                                <th>Code</th>
                                                <th class="text-center">
                                                    <a (click)="add()">
                                                        <i class="ti-plus"></i>
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of this.LensTreatmentForm.get('procedureCodes')['controls'];  let i=index"  [formGroupName]="i">
                                                <td>
                                                    <button class="btn" type="button" (click)="procedureCodeClick(i)">
                                                        <i class="ti-more"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" formControlName="procedure_desc" readonly="true">
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control" formControlName="retailprice">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" formControlName="procedure_code" readonly="true">
                                                </td>
                                                <td class="text-center">
                                                    <a class="color-red" *ngIf="LensTreatmentForm.controls.procedureCodes.controls.length > 1" (click)="removeLanguage(i)">
                                                        <i class="ti-close"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- <button (click)="add()">click</button>
                                    <div formArrayName="procedureCodes">
                                    <div *ngFor="let item of this.LensTreatmentForm.controls.procedureCodes.controls; let i=index">
                                            <span class="glyphicon glyphicon-remove pull-right" *ngIf="LensTreatmentForm.controls.procedureCodes.controls.length > 1" (click)="removeLanguage(i)"></span>
                                        <div class="panel-body" [formGroupName]="i">
                                            <input type="text" formControlName="code" class="form-control" />
                                        </div>
                                    </div>
                                </div> -->
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Locations">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="locationGridData" class="ecl-table" [scrollable]="true"
                                            scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Purchased</th>
                                                    <th>Sold</th>
                                                    <th>On Hand</th>
                                                    <th>On Order</th>
                                                    <th>Committed</th>
                                                    <th>Reorder Point</th>
                                                    <th>Max Inventory</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-locationGridData>
                                                <tr>
                                                    <!-- <td>{{locationGridData.loc_id}}</td> -->
                                                    <td>{{this.utility.getArrayItem({data:locations,matchWith:'id',matchValue:locationGridData.loc_id,position:1,dataType:'int'})}}
     
                                                    </td>
                                                    <td>{{locationGridData.quantitypurchased}}</td>
                                                    <td>{{locationGridData.quantitysold}}</td>
                                                    <td>{{locationGridData.stock}}</td>
                                                    <td>{{locationGridData.on_order_qty}}</td>
                                                    <td>{{locationGridData.committed_qty}}</td>
                                                    <td>{{locationGridData.reorder_point}}</td>
                                                    <td>{{locationGridData.max_inventory_qty}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <!-- <p-tabPanel header="Transactions">
                            <div class="row form-row">
                                <div class="form-group col-md-2">
                                    <label class="label-empty"></label>
                                    <h5>Filter</h5>
                                </div>
                                <div class="form-group col-md-5">

                                    <label>Location</label>
                                    <select class="form-control" formControlName="locationId">
                                        <option [ngValue]="null">Select Location</option>
                                        <option *ngFor="let location of locations" [ngValue]="location.Id">{{location.Name}}</option>
                                    </select>

                                </div>
                                <div class="form-group col-md-5">
                                    <label class="label-empty"></label>
                                    <p-radioButton name="filter" value="Transactions" label="Transactions"></p-radioButton>
                                    <p-radioButton class=" ml-2" name="filter" value="Sales" label="Sales"></p-radioButton>
                                </div>
                            </div>
                            <div class="clearfix form-group"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="" class="ecl-table" [scrollable]="true" [style]="{width:'1300px'}"
                                            scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Date Received</th>
                                                    <th>Transactions Type</th>
                                                    <th>Quantity Supplier</th>
                                                    <th>Shipment Id</th>
                                                    <th>Invoice No</th>
                                                    <th>PO</th>
                                                    <th>Employee</th>
                                                    <th>Notes</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-type>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel> -->
                        <p-tabPanel header="Transactions">
                            <div class="row form-row">

                                <div class="form-group col-md-1  ">
                                    <label class="label-empty"></label>
                                    <label>Filter</label>
                                </div>
                                <div class="form-group col-md-5  ">
                                    <label>Location</label>
                                    <select class="form-control" formControlName="locationId" (change)="filterTransactionOnLocationBased()">
                                        <!-- <option [ngValue]="null">Select Location</option> -->
                                        <option *ngFor="let location of locations" [ngValue]="location.id">{{location.name}}</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-4">
                                    <label class="label-empty"></label>
                                    <p-radioButton name="filter" value="Transactions" label="Transactions" (click)="trasactionApi()"></p-radioButton>
                                    <p-radioButton class=" ml-2" name="filter" value="Sales" label="Sales" (click)="salesApi()"></p-radioButton>
                                </div>
                            </div>
                            <div class="clearfix form-group"></div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="transacctionStockDetails" class="ecl-table ecl-ptable" [scrollable]="true"
                                            [style]="{width:'2000px'}" scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Date Received</th>
                                                    <th>Transactions Type</th>
                                                    <th>Quantity</th>
                                                    <th>Supplier</th>
                                                    <th>Shipment Id</th>
                                                    <th>Invoice No.</th>
                                                    <th>PO</th>
                                                    <th>Employee</th>
                                                    <th>Notes</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-transacctionStockDetails>
                                                <tr>
                                                    <!-- <td>{{transacctionStockDetails.loc_id}} </td> -->
                                                    <td>{{this.utility.getArrayItem({data:locations,matchWith:'id',matchValue:transacctionStockDetails.loc_id,position:1,dataType:'int'})}}
     
                                                    </td>
                                                    <td>{{transacctionStockDetails.inventory_receive.receive_date | date: 'dd-MM-yyyy'}}</td>
                                                    <td>{{transacctionStockDetails.trans_type}}</td>
                                                    <td>{{transacctionStockDetails.stock}}</td>
                                                    <!-- <td>{{transacctionStockDetails.supplierid}}</td> -->
                                                   <td>{{this.utility.getArrayItem({data:suppliers,matchWith:'Id',matchValue:transacctionStockDetails.supplierid,position:1,dataType:'string'})}}
                                                    </td> 
                                                    <td>{{transacctionStockDetails.shipmentid}}</td>
                                                    <td>{{transacctionStockDetails.inventory_receive.invoice}}</td>
                                                    <td>{{transacctionStockDetails.po_no}}</td>
                                                    <!-- <td>{{transacctionStockDetails.employee_id}}</td> -->
                                                    <td>{{transacctionStockDetails.inventory_receive.employee_name}}</td>
                                                    <td>{{transacctionStockDetails.inventory_receive.notes}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="clearfix">
                <button type="button" class="btn btn-primary float-right">Link</button>
                <button type="button" class="btn btn-primary float-right" (click)="SaveLensTreatment()" [disabled]="!formDir.form.valid">Save</button>
                <!-- <button type="button" class="btn btn-primary float-right">OK</button> -->

                <div *ngIf="transactionsBtnHide">
                    <button class="btn btn-primary float-right">Details</button>
                    <button class="btn btn-primary float-right" (click)="addLensTreatmentTransaction()">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Add Other Inventory Transaction -->
<div *ngIf="addLensTreatmentInvTransaction">
    <p-sidebar [(visible)]="addLensTreatmentInvTransaction" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-1 eli-sidebar-w100">
        <app-add-lenstreatment-inv-transaction (addTrasactionOutput)="TrasactionOutput($event)"></app-add-lenstreatment-inv-transaction>
    </p-sidebar>
</div>

<!-- Procedure Code -->
<div *ngIf="procedureCodeSearch">
        <p-sidebar [(visible)]="procedureCodeSearch" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-1 eli-sidebar-w100">
            <app-procedure-code-search (procedureData)="procedurResult($event)"></app-procedure-code-search>
        </p-sidebar>
    </div>