<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-3 float-left navbar-title">
            <h2>Frame Inventory Listing</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-9">
            <li class="nav-item">
                <a class="nav-link" (click)="addFrames()">
                    <i class="ti-plus"></i> Add
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="updateframes()">
                    <i class="icon-edit"></i> Modify
                </a>
            </li>
            <!-- <li class="nav-item" >
                <button class="nav-link" (click)="updateframes()" >
                    <i class="icon-edit" ></i> Modify
                </button>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" (click)="Duplicate()">
                    <i class="ti-files"></i> Duplicate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="addLoctionclick()">
                    <i class="icon-add-all"></i> Add to All</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" (click)="deleteRows()">
                    <i class="icon-delete-all"></i> Delete All</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" (click)="DataViewdialogBox()">
                    <i class="ti-layout-column3"></i> Data View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="getSortAll()">
                    <i class="ti-exchange-vertical"></i> Sort</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="reset(dt)">
                    <i class="ti-reload"></i> Refresh</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="icon-more2"></i> More</a>
                <ul class="more dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" (click)="advancedfilter()">Advanced Filter</a>
                    </li>
                    <li class="kopie">
                        <a class="nav-link" (click)="addbarcodelabelsSet()">Labels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Synchronize</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="importcsv()">Import CSV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="selectFrameSidebarSet()">Import</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="DetailsFrame()">Details</a>
                    </li>
                    <li class="nav-item" (click)="deActive()">
                        <a class="nav-link">Deactivate</a>
                    </li>
                    <li class="nav-item" (click)="GetreActivateItems()">
                        <a class="nav-link">Reactivate</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<!-- table Grid -->
<div class="col-md-12 mt-3">
    <div class="border m-auto">

        <p-table #dt [lazy]="true" [columns]="Framecolumns" [value]="framelist" [first]="paginationPage"
            [totalRecords]="totalRecords" (onSort)="customSort($event)" [customSort]="true" [scrollable]="true"
            [paginator]="true" [rows]="100" [resizableColumns]="true" [reorderableColumns]="true" [responsive]="true"
            selectionMode="multiple" scrollHeight="420px" [(selection)]="framesMultipleSelection"
            (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
            (onPage)="GetFramesListByPaginator($event)">

            <!--<ng-template pTemplate="caption">
                <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
                (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
            </ng-template>-->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of Framecolumns" [pSortableColumn]="col.field"
                        [ngClass]="{'hidden': !col.visible}">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let col of Framecolumns" [ngSwitch]="col.field" [ngClass]="{'hidden': !col.visible}">

                        <input *ngSwitchCase="'id'" name="id" class="form-control" pInputText type="text"
                            (input)="objChanged($event)" [(ngModel)]="searchValue">
                        <input *ngSwitchCase="'name'" name="framename" class="form-control" pInputText type="text"
                            (input)="objChanged($event)" [(ngModel)]="searchName">
                        <input *ngSwitchCase="'color_code'" class="form-control" pInputText type="text" name="colorcode"
                            (input)="objChanged($event)" [(ngModel)]="searchColor">
                        <input *ngSwitchCase="'qty_on_hand'" class="form-control" pInputText type="text"
                            (input)="objChanged($event)"
                            [(ngModel)]="searchQtyOnHand">
                        <input *ngSwitchCase="'upc_code'" class="form-control" pInputText type="text" name="upc"
                            (input)="objChanged($event)" [(ngModel)]="searchUPC">
                        <!-- (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"-->
                        <select *ngSwitchCase="'manufacturer'" name="manufacturer" id="manufacturerId"
                            class="form-control" (change)="objChanged($event)" [(ngModel)]="searchManufa">
                            <!-- <option [ngValue]="null">Select Manufacturer</option> -->
                            <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}</option>
                        </select>
                        <select *ngSwitchCase="'brand'" name="framebrand" id="brandId" class="form-control"
                            (change)="objChanged($event)" [(ngModel)]="searchbrand">
                            <option *ngFor="let Brand of Brands" [ngValue]="Brand.Id">{{Brand.Name}}</option>
                        </select>
                        <select *ngSwitchCase="'color'" name="framecolor" id="colorId" class="form-control"
                            (change)="objChanged($event)" [(ngModel)]="searchcolour">
                            <option *ngFor="let color of colors" [ngValue]="color.Id">{{color.Name}}</option>
                        </select>


                        <select *ngSwitchCase="'del_status'" name="del_status" id="del_statusID" class="form-control"
                            (change)="objChanged($event)" [(ngModel)]="searchstatus">
                            <option [ngValue]=''>All </option>
                            <option *ngFor="let stat of activestatus" [ngValue]="stat.Id">{{stat.Name}}</option>

                        </select>

                        <!--<p-dropdown *ngSwitchCase="'Brand'" [options]="Brands" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"
                        appendTo="body"></p-dropdown>
                         <p-dropdown *ngSwitchCase="'Color'" [options]="Colors" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"
                         appendTo="body"></p-dropdown>-->
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="Framecolumns">
                <tr [pSelectableRow]="rowData" (dblclick)="DoubleClickframes(rowData)">
                    <!-- <td *ngFor="let col of Framecolumns" [ngClass]="{'hidden': !col.visible}">
                        {{rowData[col.field]}}
                    </td> -->
                    <td *ngIf="rowID">{{rowData.id}}</td>
                    <td *ngIf="rowManufacturer">{{rowData.manufacturer?.manufacturer_name}}</td>
                    <td *ngIf="rowTrial">{{this.utility.getArrayItem({data:Brands,matchWith:'Id',matchValue:rowData.brand_id,position:1,dataType:'int'})}}</td>
                    <td *ngIf="rowLensName">{{rowData.name}}</td>
                    <td *ngIf="rowColor">{{this.utility.getArrayItem({data:colors,matchWith:'Id',matchValue:rowData.colorid,position:1,dataType:'int'})}}</td>
                    <td *ngIf="rowPackaging">{{rowData.color_code}}</td>
                    <td *ngIf="rowOnHand">{{rowData.qty_on_hand}}</td>
                    <td *ngIf="rowUPC">{{rowData.upc_code}}</td>
                    <td *ngIf="rowDot">{{this.utility.getArrayItem({data:activestatus,matchWith:'Id',matchValue:rowData.status,position:1,dataType:'int'})}}</td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</div>


<!-- Add/Modify Frames Inventory Sidebar -->
<div *ngIf="addFramesSidebar">
    <p-sidebar [(visible)]="addFramesSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar add-inventory ecl-sidebar-w70 ">
        <app-frame-add-modify (addModifyOutput)="addModifyOutputEvent($event)"  (paginator) = "resetPagination()"
        [locationItem]="locationFrameId"  [imageItem]="imageItemId"></app-frame-add-modify>
    </p-sidebar>
</div>
<!--
 <frame-add-modify></frame-add-modify>-->

<!-- End Add/Modify Frames Inventory Sidebar -->

<!-- add to all Location -->

<!-- end add to all Location -->

<!-- Add Barcode label -->
<div *ngIf="addbarcodelabels">
    <p-sidebar [(visible)]="addbarcodelabels" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w90 barcode-labels">
        <barcodelabels></barcodelabels>
    </p-sidebar>
</div>


<!-- Reactivate -->
<div *ngIf="reActivateItems">
    <p-sidebar [(visible)]="reActivateItems" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-ptable ecl-sidebar-w70">
        <app-reactivate-inventory-items (frameReactiveOutput)="frameReactiveOutputEvent($event)">
        </app-reactivate-inventory-items>
    </p-sidebar>
</div>
<div *ngIf="addLoction">
    <p-sidebar [(visible)]="addLoction" position="right" [baseZIndex]="10000" class="ecl-sidebar">
        <app-add-location (frameLocations)="frameLocationsEvent($event)"></app-add-location>
    </p-sidebar>
</div>

<!-- dialog Box -->
<dialog-box #deleteRow> </dialog-box>
<deactivate #deactivateRow (FrameDeactive)="frameDeactivevent($event)"> </deactivate>
<app-import-csv #importcsvBox> </app-import-csv>


<!-- undo -->
<p-dialog class="dataview-popup" header="Data View" [(visible)]="display" [modal]="true" [responsive]="true"
    [width]="150" [minWidth]="200" [minY]="70">
    <div class="card">
        <div class="card-body">
            <ul class="list-unstyled">
                <mat-checkbox id="selectAll" [checked]="samplevisible" (change)="checkBoxClick('selectAll' ,$event)">
                    <span>Select All</span>
                </mat-checkbox>
                <li *ngFor="let col of Framecolumns">
                    <mat-checkbox id="{{col.header}}" [checked]="col.visible"
                        (change)="checkBoxClick(col.header, $event)">
                        <span [innerHTML]="col.header"></span>
                    </mat-checkbox>
                </li>
            </ul>
        </div>
    </div>
</p-dialog>

<!-- Advanced Filter -->
<div>
    <p-sidebar [(visible)]="advancedFilterSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar eli-sidebar-w40">
        <app-inventory-frame-advancedfilter (frameAdvFilterOutPut)="frameAdvFilterOutPutEvent($event)">
        </app-inventory-frame-advancedfilter>
    </p-sidebar>
</div>


<!-- Sort All Inventory -->
<div *ngIf="sortallinventory">
    <p-sidebar [(visible)]="sortallinventory" position="right" [baseZIndex]="10000" class="ecl-sidebar w-25">
        <app-sort-all-inventory (sortalloutput)="sortallevent($event)" [sortAllInput]="sortByName">
        </app-sort-all-inventory>
    </p-sidebar>
</div>


<!-- Add Load Frames -->
<div *ngIf="selectFrameSidebar">
    <p-sidebar [(visible)]="selectFrameSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w70">
        <app-frames-data></app-frames-data>
    </p-sidebar>
</div>

<!-- Add Load Frames -->
<div *ngIf="frameDetailsSidebar">
    <p-sidebar [(visible)]="frameDetailsSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w70">
        <app-frame-details [framesCountVal]="framesMultipleSelection" (frameDetailsOutput)="frameDetailsOutput($event)">
        </app-frame-details>
    </p-sidebar>
</div>