<div class="col-sm-12">
	<div class="row">
		<div class="col-sm-4 search-box-left pt-1 pb-1">
			<form id="orderSearch" #formDir="ngForm" [formGroup]="ordersearchForm" (keydown.enter)="ordersearch()" novalidate autocomplete="off">
				<h2>Order Search</h2>
				<div class="pre-scrollable">
					<div class="col-md-11 p-0 float-none m-auto">
						<div class="row">
							<div class="col-sm-4"><label for="">Location</label></div>
							<div class="col-sm-8"><input type="text" readonly="true"  formControlName="loc_id" class="form-control" placeholder=" "></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Last Name</label></div>
							<div class="col-sm-8"><input type="" readonly="true"  formControlName="lname" class="form-control" placeholder=" "></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">First Name</label></div>
							<div class="col-sm-8"><input type="text"  readonly="true" formControlName="fname" class="form-control" placeholder=" "></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Home Phone</label></div>
							<div class="col-sm-8"><input type="text" readonly="true"  formControlName="phoneHome" class="form-control" placeholder=" "></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Work Phone</label></div>
							<div class="col-sm-8"><input type="text" readonly="true" formControlName="phoneWork" class="form-control" placeholder=" "></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Patient number</label></div>
							<div class="col-sm-8"><input type="text" class="form-control"  formControlName="patient_id"></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Reference number</label></div>
							<div class="col-sm-8"><input type="text" readonly="true"  formControlName="orderDate" class="form-control" placeholder=" "></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Order number</label></div>
							<div class="col-sm-8"><input type="text" formControlName="id"  class="form-control"></div>
						</div>
						<div class="row order-date">
							<div class="col-sm-4"><label for="">Order date</label></div>						
							<div class="col-sm-8 mb-2">
								<p-calendar formControlName="orderDate" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Order type</label></div>
							<div class="col-sm-8">
								<select class="form-control minimal" [disabled]="true">

								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Order status</label></div>
							<div class="col-sm-8">
								<select class="form-control minimal" formControlName="orderDate" [disabled]="true">
									<option>-------</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Tray number</label></div>
							<div class="col-sm-8"><input type="text" [readonly]="true" class="form-control" placeholder=" "></div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Physician</label></div>
							<div class="col-sm-8">
								<select class="form-control minimal" [disabled]="true">
									<option>-------</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4"><label for="">Insurance</label></div>
							<div class="col-sm-8">
								<select class="form-control minimal" formControlName="insuranceid">
										<option [value]="null">Select Insurance</option>                                         
                                        <option *ngFor="let insurance of insuranceDropDown" [value]="insurance.id" >{{insurance.name}}</option>								
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row border-top pt-2 pb-2">
					<div class="col-sm-4">&nbsp;</div>
					<div class="col-sm-8"><button type="submit" (click)="ordersearch()" class="savebut">Submit</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm-8 mt-1 mb-1 search-grid">
			<div class="table-responsive">
				<p-table #dt [value]="orderTypes"  [scrollable]="true" [paginator]="true" [rows]="18" selectionMode="single"
				 [style]="{width:'100%'}" scrollHeight="75vh">
					<ng-template pTemplate="header" let-columns>
							<tr>
							<th *ngFor="let col of Ordercolumns" [pSortableColumn]="col.field">
									{{col.header}}
									<p-sortIcon [field]="col.field"></p-sortIcon>
								</th>
							</tr>
							<tr>
								<th *ngFor="let col of Ordercolumns" [ngSwitch]="col.field">
									<p-calendar field="dateFilter" (onBlur)="onBlurMethod($event)"
									[(ngModel)]="searchOrderDate" (onSelect)="getorderbyDate($event);" *ngSwitchCase="'entered_date'" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar> 

									<input type="text"  *ngSwitchCase="'patient_id'"  class="form-control" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode); "
									[(ngModel)]="searchPatientId" />
									<input type="text"  *ngSwitchCase="'id'" class="form-control" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode); "
									[(ngModel)]="searchOrderId" />
	
									<input type="text"  *ngSwitchCase="'ordertypeid'"   class="form-control" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode); "
									[(ngModel)]="searchOrderType" />
									<input type="text"  *ngSwitchCase="'total_qty'" class="form-control" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode); "
									[(ngModel)]="searchtotalqty" />
									<input type="text"  *ngSwitchCase="'order_status_id'"  class="form-control" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode); "
									[(ngModel)]="searchstatus" />
									
							</tr>
					</ng-template>
                    <ng-template pTemplate="body"  let-data >
                        <tr (dblclick)="DoubleClickframes(data)"  [pSelectableRow]="data" >
							<td>{{data.patient_id}} </td>
							<td>{{data.id}} </td>
							<td>{{data.entered_date|date : 'MM-dd-yyyy'}} </td>
							<!-- <td>{{data.ordertypeid}} </td> -->
							<td>{{this.utility.getArrayItem({data:orderTypeData ,matchWith:'id',matchValue:data.ordertypeid,position:1,dataType:'int' })}}
                            </td>
							<td>{{data.total_qty}} </td>
							<!-- <td>{{data.order_status}} </td> -->
							<td>{{this.utility.getArrayItem({data:status,matchWith:'id',matchValue:data.order_status_id,position:1,dataType:'int' })}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
			</div>
		</div>
	</div>
</div>