<!-- <patient-bar></patient-bar> -->
<div class="framebox">
     <iframe
      (load)="onLoad($event)"
     frameborder="0"
     allowfullscreen
     [src]="AppointmentsURL"></iframe>
      <div class="loader-iframe"></div>
</div>
