<div class="card">
    <div class="card-header">Sort</div>
    <div class="card-body">
        <div class="row">
            <div class="form-row col-md-12 clearfix">
                <div class="form-group col-md-2">
                    <h6 class="pt-2">Sort By</h6>
                </div>
                <div class="form-group col-md-10">
                    <select class="form-control" [(ngModel)]="sortValue">
                        <option [ngValue]="null">Sort</option>
                        <option *ngFor="let sort of sortList" [ngValue]="sort.Id">{{sort.name}}</option>
                    </select>
                </div>
            </div>
            <!-- <div class="form-row col-md-12 clearfix">
                <div class="form-group col-md-2">
                    <h6 class="pt-2">Then by</h6>
                </div>
                <div class="form-group col-md-10">
                    <select class="form-control">
                        <option [ngValue]="null">Sort</option>
                        <option *ngFor="let sort of sortList">{{sort.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row col-md-12 clearfix">
                <div class="form-group col-md-2">
                    <h6 class="pt-2">Then by</h6>
                </div>
                <div class="form-group col-md-10">
                    <select class="form-control">
                        <option [ngValue]="null">Sort</option>
                        <option *ngFor="let sort of sortList">{{sort.name}}</option>
                    </select>
                </div>
            </div> -->
            <div class="form-row col-md-12 clearfix" *ngFor="let addthen of addThenBy; let i = index">
                <div class="form-group col-md-2">
                    <h6 class="pt-2">Then by</h6>
                </div>
                <div class="form-group col-md-10">
                    <select class="form-control" [(ngModel)]="thenByValue[i]">
                        <option [ngValue]="null">Sort</option>
                        <option *ngFor="let sort of sortList" [ngValue]="sort.Id">{{sort.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row col-md-12 mt-3 pl-4 clearfix" (click)="AddDropdownList()">
                <a class="btn-link font-weight-bold" >+ Add Another</a>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="clearfix">
            <div class="pull-right">
                <button type="button" class="btn btn-primary float-right" (click)="sortAllOk()">OK</button>
            </div>
        </div>
    </div>
</div>