<form id=add [formGroup]="selectform" #formDir="ngForm" novalidate>
    <div class="card">
        <div class="card-header">Select Contact Lens {{Lenstype}}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-row m-0 pt-1">
                        <div class="form-group col">
                            <label for="">Location</label>
                            <select class="form-control" formControlName="location" (change)="FilterValues()" id="searchlocation">
                                <option *ngFor="let loc of locations" [value]="loc.id">{{loc.name}}</option>
                            </select>
                        </div>
                    
                        <div class="form-group col">
                            <label for="">Manufacturer</label>
                            <select name="manufacturer" class="form-control"  (change)="FilterValues()"formControlName="manufacturerid">                    
                                    <option *ngFor="let manuf of Manufacturers" [value]="manuf.Id">{{manuf.Name}}</option>
                                </select>
                                </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-row m-0 pt-1">
                        <div class="form-group col">
                            <label for="">Sphere</label>
                            <input type="text" class="form-control"  (input)="FilterValues()" formControlName="sphere">
                        </div>
                        <div class="form-group col">
                            <label for="">Cylinder</label>
                            <input type="text" class="form-control"   (input)="FilterValues()" formControlName="cylinder">
                        </div>
                        <div class="form-group col">
                            <label for="">Axis</label>
                            <input type="text" class="form-control"  (input)="FilterValues()" formControlName="axis" >
                        </div>
                        <div class="form-group col">
                            <label for="">Add</label>
                            <input type="text" class="form-control" (input)="FilterValues()"  formControlName="sadd" >
                        </div>
                        <div class="form-group col">
                            <label for="">Base Curve</label>
                            <input type="text" class="form-control"  (input)="FilterValues()" formControlName="bc">
                        </div>
                        <div class="form-group col">
                            <label for="">Diameter</label>
                            <input type="text" class="form-control"   (input)="FilterValues()" formControlName="diameter">
                        </div>
                        <div class="form-group col">
                            <label for="">Multifocal</label>
                            <input type="text" class="form-control"  (input)="FilterValues()" formControlName="modifierMultifocal" >
                        </div>
                
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table #dt [lazy]="true" [value]="gridLists" class="ecl-table" [scrollable]="true" scrollHeight="45vh"
                        [first]="paginationPage" [totalRecords]="totalRecords"  [scrollable]="true"  [paginator]="true" 
                        selectionMode="multiple"
                        [rows]="100"   [responsive]="true"  (onPage)="getContactLensListByPaginator($event)">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>ID</th>
                                    <th class="text-nowrap">Location</th>
                                    <th class="text-nowrap">Manufacturer</th>
                                    <th>Lens Name</th>
                                    <th>Rep Schedule</th>
                                    <th class="text-nowrap">Type</th>
                                    <th class="text-nowrap">Style</th>
                                    <th>Default Retail</th>
                                    <th>Location Retail</th>
                                    <th class="text-nowrap">Units</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-gridlistsvalues>
                                <tr [pSelectableRow]="gridlistsvalues" (dblclick)="DoubleClick(gridlistsvalues);">
                                    <td>{{gridlistsvalues.id}}</td>
                                    <td></td>
                                    <td>
                                        {{this.utility.getArrayItem({data:Manufacturers,matchWith:'Id',matchValue:gridlistsvalues.manufacturer_id,position:1,dataType:'string'})}}
                                    </td>
                                    <td>{{gridlistsvalues.name}}</td>
                                    <td>{{gridlistsvalues.cl_replacement}}</td>
                                    <td></td>       
                                    <td>{{gridlistsvalues.style}}</td>
                                    <td>{{gridlistsvalues.retail_price}}</td>
                                    <td></td>
                                    <td>{{gridlistsvalues.units}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
    
            <div class="clearfix">
                <button type="button" class="btn btn-secondary float-right" (click)="onSelectClose()">Cancel</button>
                <button type="button" class="btn btn-primary float-right" (click)="refresh()">Reset</button>
                <button type="button" class="btn btn-primary float-right">Sort</button>
                <button type="button" class="btn btn-primary float-right" (click)="FilterValues()">Filter</button>
                <button type="button" class="btn btn-primary float-right">Select</button>
                <button type="button" class="btn btn-primary float-right">Duplicate Product</button>
                <button type="button" class="btn btn-primary float-right">Add Product</button>
                <button type="button" class="btn btn-primary float-right">CLOD</button>
                <p-checkbox  binary="true" value="Exclude quantity of less than one" label="Exclude quantity of less than one" class="float-left pt-1"></p-checkbox>
            </div>
        </div>
    </div>
    </form>